<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}

{% block content %}
    <div>
    <h1 style="display: inline-block; font-size: xxx-large;"><a type="button" class="btn" href="/tools/template/cases"><i class="fa-solid fa-arrow-left"></i></a></h1>
    <h1 style="display: inline-block; font-size: xxx-large;">Template</h1>
    </div>
    <h2 style="display: inline-block;">{{case.id}} - {{case.title}}</h2>

    <div style="float:right; display: grid;">
        <a class="btn btn-primary btn-sm"  href="/tools/template/case/{{case.id}}/download" type="button" title="Download the case in json"><i class="fa-solid fa-download"></i></a>
        <button class="btn btn-danger btn-sm"  @click="delete_case({{case}})" title="Delete the Case"><i class="fa-solid fa-trash"></i></button>
    </div>

    <div style="float:right">
        <a class="btn btn-primary btn-sm" href="/tools/template/edit_case/{{case.id}}" type="button" title="Edit the case"><i class="fa-solid fa-pen-to-square"></i></a>
        
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="dropdown" aria-expanded="false" title="Create a Case from template">
            <i class="fa-solid fa-file"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <input id="case_title_fork" placeholder="Case title"/>
                <button class="btn btn-primary btn-sm" @click="fork_case({{case.id}})">Create</button>
            </li>
        </ul>
    </div>

    {% if case.tags %}
        <div style="display: flex;">
            {% for tag in case.tags%}
                <div class="tag" title="{{tag.description}}" :style="{'background-color': '{{tag.color}}', 'color': getTextColor('{{tag.color}}')}">
                    <i class="fa-solid fa-tag" style="margin-right: 3px; margin-left: 3px;"></i>
                    {{tag.name}}
                </div>
            {%endfor%}
        </div>
    {%endif%}

    <div style="margin-top: 5px;">
        {% if case.clusters %}
            {% for cluster in case.clusters %}
                <div title="Description: &#013;{{cluster.description}}&#013;&#013; Metadata: &#013;{{cluster.meta}}">
                    <span v-html="mapIcon('{{cluster.icon}}')"></span>
                    {{cluster.tag}}
                </div>
            {%endfor%}
        {%endif%}
    </div>

    <hr>

    {% if case.description %}
    <div>
        <p>{{case.description}}</p>
        <hr>
    </div>
    {%endif%}

    <div id="top"></div>
    <div style="display: flex;">
        <h3>Tasks</h3>
        <span style="padding-left: 10px;">
            <a href="/tools/template/case/{{case.id}}/add_task" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
        </span>
    </div>

    <template v-if="tasks_list">
        <template v-for="template, key in tasks_list" :key="template.id">
            <div class="list-group" style="margin-bottom: 20px;">
                <task_template :template="template" :key_loop="key" :templates_list="tasks_list" :task_in_case="true" :case_id="{{case.id}}"></task_template>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </template>

    <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
        
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import task_template from '/static/js/tools/task_template.js'
        import {display_toast, message_list} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            components: {
                task_template
            },
            setup() {
                const tasks_list = ref(null)

                async function fetchTasks() {
                    tasks_list.value = null
                    const res = await fetch(
                        '/tools/get_task_by_case/'+window.location.pathname.split("/").slice(-1)
                    )
                    let loc = await res.json()
                    tasks_list.value = loc["tasks"]
                }
                fetchTasks()

                async function delete_case(case_template){
                    const res = await fetch("/tools/template/delete_case/" + case_template.id)
                    return window.location.href = "/tools/template/cases"
                }

                async function fork_case(case_id){
                    if(await fetch_case_title($("#case_title_fork").val())){
                        $("#collapseForkBody").append(
                            $("<span>").text("Already exist").css("color", 'red')
                        )
                    }else{
                        const res = await fetch("/tools/template/create_case_from_template/" + case_id,{
                                headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                                method: "POST",
                                body: JSON.stringify({"case_title_fork": $("#case_title_fork").val()})
                            })
                        let loc = await res.json()
                        window.location.href="/case/" + loc["new_case_id"]
                    }
                }

                async function fetch_case_title(case_title_fork){
                    const res = await fetch("/case/check_case_title_exist?title="+case_title_fork)
                    let loc = await res.json()
                    if(loc["title_already_exist"]){
                        return true
                    }
                    return false
                }
                

                return {
                    message_list,
                    tasks_list,
                    delete_case,
                    fork_case,
                    getTextColor,
                    mapIcon
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}