<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <h1>
        Case Templates
        <span>
            <a class="btn btn-primary btn-small" href="/tools/add_template" title="Add a Template"><i class="fa-solid fa-plus"></i></a>
        </span>
    </h1>

    <hr>

    <div id="top"></div>

    <!-- Search bar -->
    <div class="input-group justify-content-center start-50 translate-middle-x top-0" id="search_template" style="max-width: 200px;">
        <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search case template by title' style="min-width: 350px;"/>
    </div>
    <hr>
    <!-- Search bar -->

    <nav aria-label="Page navigation example" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_templates(Math.max(1, current_page-1))">Previous</button>
            </li>
            <template v-for="cp in templates_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetch_templates(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_templates(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <template v-if="templates_list">
        <template v-for="template in templates_list.templates">
            <div class="list-group" style="margin-bottom: 20px;">
                <div style="display:flex">
                    <a :href="`/tools/template/case/view/${template.id}`" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">[[ template.id ]]- [[ template.title ]]</h4>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="template.description" class="card-text">[[ template.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                        </div>
                    </a>
                    <div v-if="!template.current_user_permission.read_only" style="display: grid;">
                        <a class="btn btn-primary btn-sm" :href="`/tools/template/edit_case/${template.id}`" type="button" title="Edit the case"><i class="fa-solid fa-pen-to-square"></i></a>
                        <button class="btn btn-danger btn-sm"  @click="delete_case(template)" title="Delete the case"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </template>

    <template v-if="is_searching && length_all_templates > templates_list.templates.length">
        <button class="btn btn-primary" @click="show_more_search(templates_list.templates.length)">Show more</button>
    </template>

    <nav aria-label="Page navigation example" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_templates(Math.max(1, current_page-1))">Previous</button>
            </li>
            <template v-for="cp in templates_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetch_templates(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_templates(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const templates_list = ref(null)
                let all_templates_list = []
                let all_templates_searching = []
                const current_page = ref(1)
                const per_page = ref(20)
                const is_searching = ref(false)
                const length_all_templates = ref(0)

                async function fetch_templates(page){
                    templates_list.value = null
                    const res = await fetch("/tools/get_page_case_templates?page=" + page)
                    let loc = await res.json()
                    templates_list.value = loc
                    current_page.value = page
                }

                async function fetch_all_templates(){
                    all_templates_list = null
                    const res = await fetch("/tools/get_all_case_templates")
                    let loc = await res.json()
                    all_templates_list = loc["templates"]
                }

                async function delete_case(case_template){
                    const res = await fetch("/tools/template/delete_case/" + case_template.id)
                    if(await res.status == 200){
                        let index = templates_list.value.templates.indexOf(case_template)
                        if(index > -1)
                            templates_list.value.templates.splice(index, 1)
                    }
                    display_toast(res)
                }

                function onInput(e){
                    templates_list.value.templates = []
                    if(e.target.value){
                        is_searching.value = true

                        all_templates_searching = all_templates_list.filter((template) => {
                            return template.title.toLowerCase().includes(e.target.value.toLowerCase())
                        })
                        length_all_templates.value = all_templates_searching.length

                        let cp = 1
                        for(let i in all_templates_searching){
                            if(cp < per_page.value + 1){
                                templates_list.value.templates.push(all_templates_searching[i])
                                cp += 1
                            }
                        }

                        templates_list.value.nb_pages = 1
                    }else{
                        is_searching.value = false
                        templates_list.value.templates = fetch_templates(1)
                    }
                }

                function show_more_search(templates_list_length){
                    templates_list.value.templates = []
                    let e = $("#search_template").val()
                    let cp = 1
                    for(let i in all_templates_searching){
                        if(cp < templates_list_length + per_page.value + 1){
                            templates_list.value.templates.push(all_templates_searching[i])
                            cp += 1
                        }
                    }
                }


                fetch_templates(1)
                fetch_all_templates()
    
                return {
                    message_list,
                    templates_list,
                    delete_case,
                    fetch_templates,
                    current_page,
                    onInput,
                    is_searching,
                    show_more_search,
                    length_all_templates
                }
            }
        }).mount('.container')

    </script>
{% endblock %}