<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}

{% block content %}
    
    <div id="container">
        <h1 style="font-size: xxx-large;">Template</h1>
        <h2 style="display: inline-block;">{{case.id}} - {{case.title}}</h2>

        <div style="float:right">
            <a class="btn btn-primary btn-sm" href="/tools/template/edit_case/{{case.id}}" type="button" title="Edit the case"><i class="fa-solid fa-pen-to-square"></i></a>
            <button class="btn btn-danger btn-sm"  @click="delete_case({{case}})" title="Delete the Case"><i class="fa-solid fa-trash"></i></button>
            <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#collapseFork" title="Create a Case from template" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-code-fork"></i>
            </a>
            <div class="collapse" id="collapseFork">
                <div class="card card-body" id="collapseForkBody" style="display: block;">
                    <input id="case_title_fork" placeholder="Case title"/>
                    <button class="btn btn-primary btn-sm" @click="fork_case({{case.id}})">Create</button>
                </div>
            </div>
        </div>

        <hr>

        {% if case.description %}
        <div>
            <p>{{case.description}}</p>
            <hr>
        </div>
        {%endif%}

        <div id="top"></div>
        <div style="display: flex;">
            <h3>Tasks</h3>
            <span style="padding-left: 10px;">
                <a href="/tools/template/case/{{case.id}}/add_task" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
            </span>
        </div>

        <template v-if="tasks_list">
            <div v-for="task,key in tasks_list" class="list-group" style="margin-bottom: 20px;">
                <div style="display:flex">
                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">[[key+1]]-[[ task.title ]]</h4>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="task.description" class="card-text">[[ task.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="task.url" class="card-text">[[ task.url ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No url</i></p>
                        </div>
                    </a>
                    <div v-if="!task.current_user_permission.read_only" style="display: grid;">
                        <div style="display: grid;">
                            <a class="btn btn-primary btn-sm" :href="`/tools/template/edit_task/${task.id}`" type="button" title="Edit the template"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button class="btn btn-danger btn-sm" @click="remove_task({{case.id}}, task)" title="Remove the task"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </template>

        <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
    </div>
        
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const tasks_list = ref(null)

                async function fetchTasks() {
                    tasks_list.value = null
                    const res = await fetch(
                        '/tools/get_task_by_case/'+window.location.pathname.split("/").slice(-1)
                    )
                    let loc = await res.json()
                    tasks_list.value = loc["tasks"]
                }

                async function remove_task(case_id, task){
                    const res = await fetch("/tools/template/" + case_id + "/remove_task/" + task.id)
                    if(await res.status == 200){
                        let index = tasks_list.value.indexOf(task)
                        if(index > -1)
                            tasks_list.value.splice(index, 1)
                    }
                    display_toast(res)
                }

                async function delete_case(case_template){
                    const res = await fetch("/tools/template/delete_case/" + case_template.id)
                    return window.location.href = "/tools/templates/case"
                }

                async function fork_case(case_id){
                    if(await fetch_case_title($("#case_title_fork").val())){
                        $("#collapseForkBody").append(
                            $("<span>").text("Already exist").css("color", 'red')
                        )
                    }else{
                        const res = await fetch("/tools/template/create_case_from_template/" + case_id,{
                                headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                                method: "POST",
                                body: JSON.stringify({"case_title_fork": $("#case_title_fork").val()})
                            })
                        let loc = await res.json()
                        window.location.href="/case/view/" + loc["new_case_id"]
                    }
                }
                async function fetch_case_title(case_title_fork){
                    const res = await fetch("/case/get_all_case_title?title="+case_title_fork)
                    let loc = await res.json()
                    if(loc["title_already_exist"]){
                        return true
                    }
                    return false
                }

                fetchTasks()

                return {
                    message_list,
                    tasks_list,
                    remove_task,
                    delete_case,
                    fork_case
                }
            }
        }).mount('.container')

    </script>
{% endblock %}