<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div id="container">
        <h2 style="display: inline-block; font-size: xxx-large;"><a type="button" class="btn" href="/tools/template/tasks"><i class="fa-solid fa-arrow-left"></i></a></h2>
        <h2 style="display: inline-block;">Create a Task template</h2>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.template_id }}
            
            <div class="mb-3 w-50">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                {{form.body(class_="form-control")}}
                {% if form.body.errors %}
                    <div style="color: red;">{{form.body.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                {{form.url.label(class_="col-form-label")}}:
                {{form.url(class_="form-control")}}
                {% if form.url.errors %}
                    <div style="color: red;">{{form.url.errors[0] | safe}}</div>
                {%endif%}
            </div>

            <hr>

            <h5>Taxonomies:</h5>
            <div style="display: flex;">
                <template v-if="taxonomies">
                    <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                        <template v-for="taxonomy, key in taxonomies">
                            <option :value="[[taxonomy.name]]">[[taxonomy.name]]</option>
                        </template>
                    </select>
                </template>
                
                <template v-if="tags_list">
                    <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                        <template v-for="(tags, taxo) in tags_list">
                            <optgroup :label="[[taxo]]">
                                <option :value="[[tag.name]]" v-for="tag in tags">[[tag.name]]</option>
                            </optgroup>
                        </template>
                    </select>
                </template>
            </div>

            {{form.submit(class='btn btn-primary')}}
        </form>
    </div>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, onMounted, nextTick, ref} = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const taxonomies = ref([])
            const tags_list = ref([])
            const selected_taxo = ref([])

            async function fetch_taxonomies(){
                const res = await fetch("/case/get_taxonomies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    taxonomies.value = loc["taxonomies"]
                }
            }

            async function fetch_tags(){
                const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(selected_taxo.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_list.value = loc["tags"]
                    $('#tags_select').trigger('change');
                }
            }
            fetch_taxonomies()

            onMounted(() => {
                $('.select2-select').select2({
                    theme: 'bootstrap-5',
                    width: '50%',
                    closeOnSelect: false
                })

                $('#taxonomies_select').on('change.select2', function (e) {
                    selected_taxo.value = $(this).select2('data').map(item => item.id);
                    fetch_tags()
                })
            })

            return {
                selected_taxo,
                message_list,
                taxonomies,
                tags_list
            }
        }
    }).mount('.container')

</script>
{% endblock %}