<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div>
        <h2 style="display: inline-block; font-size: xxx-large;"><a type="button" class="btn" href="/tools/template/tasks"><i class="fa-solid fa-arrow-left"></i></a></h2>
        <h2 style="display: inline-block;">Create a Task template</h2>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.template_id }}
            
            <div class="mb-3 w-50">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                {{form.body(class_="form-control")}}
                {% if form.body.errors %}
                    <div style="color: red;">{{form.body.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.url.label(class_="col-form-label")}}:
                    {{form.url(class_="form-control")}}
                    {% if form.url.errors %}
                        <div style="color: red;">{{form.url.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    <label style="padding: 4px;" for="connectors_select">Connectors:</label>
                    <select data-placeholder="Connectors" class="select2-select form-control" multiple name="connectors_select" id="connectors_select" >
                        <template v-if="connectors">
                            <template v-for="(instances, connector) in connectors">
                                <optgroup :label="[[connector]]">
                                    <option :value="[[instance.name]]" v-for="instance in instances">[[instance.name]]</option>
                                </optgroup>
                            </template>
                        </template>
                    </select>
                </div>
            </div>

            <hr>

            <h5>Taxonomies:</h5>
            <div style="display: flex;">
                <template v-if="taxonomies">
                    <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                        <template v-for="taxonomy, key in taxonomies">
                            <option :value="[[taxonomy.name]]">[[taxonomy.name]]</option>
                        </template>
                    </select>
                </template>
                
                <template v-if="tags_list">
                    <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                        <template v-for="(tags, taxo) in tags_list">
                            <optgroup :label="[[taxo]]">
                                <option :value="[[tag.name]]" :title="tag.description" v-for="tag in tags">[[tag.name]]</option>
                            </optgroup>
                        </template>
                    </select>
                </template>
            </div>
            <hr>

            <h5>Galaxies:</h5>
            <div style="display: flex;">
                <template v-if="galaxies">
                    <select data-placeholder="Galaxies" class="select2-select form-control" multiple name="galaxies_select" id="galaxies_select" >
                        <template v-for="galaxy, key in galaxies">
                            <option :value="[[galaxy.name]]">[[galaxy.name]]</option>
                        </template>
                    </select>
                </template>
                
                <template v-if="cluster_list">
                    <select data-placeholder="Cluster" class="select2-select form-control" multiple name="clusters_select" id="clusters_select" >
                        <template v-for="(clusters, galaxy) in cluster_list">
                            <optgroup :label="[[galaxy]]">
                                <option :value="[[cluster.name]]" :title="cluster.description" v-for="cluster in clusters">[[cluster.tag]]</option>
                            </optgroup>
                        </template>
                    </select>
                </template>
            </div>

            {{form.submit(class='btn btn-primary')}}
        </form>
    </div>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, onMounted, nextTick, ref} = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const taxonomies = ref([])
            const tags_list = ref([])
            const selected_taxo = ref([])

            const galaxies = ref([])
            const cluster_list = ref([])
            const selected_galaxies = ref([])
            const connectors = ref()

            async function fetchConnectors(){
                const res = await fetch("/case/get_connectors")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    connectors.value = loc["connectors"]
                }
            }
            fetchConnectors()

            async function fetch_taxonomies(){
                const res = await fetch("/case/get_taxonomies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    taxonomies.value = loc["taxonomies"]
                }
            }
            fetch_taxonomies()

            async function fetch_galaxies(){
                const res = await fetch("/case/get_galaxies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    galaxies.value = loc["galaxies"]
                }
            }
            fetch_galaxies()

            async function fetch_tags(){
                const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(selected_taxo.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_list.value = loc["tags"]
                    $('#tags_select').trigger('change');
                }
            }

            async function fetch_cluster(){
                const res = await fetch("/case/get_clusters?galaxies=" + JSON.stringify(selected_galaxies.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    cluster_list.value = loc["clusters"]
                    $('#clusters_select').trigger('change');
                }
            }

            onMounted(() => {
                $('.select2-select').select2({
                    theme: 'bootstrap-5',
                    closeOnSelect: false
                })

                $('#taxonomies_select').on('change.select2', function (e) {
                    selected_taxo.value = $(this).select2('data').map(item => item.id);
                    fetch_tags()
                })
                $('#galaxies_select').on('change.select2', function (e) {
                    selected_galaxies.value = $(this).select2('data').map(item => item.id);
                    fetch_cluster()
                })
            })

            return {
                selected_taxo,
                message_list,
                taxonomies,
                galaxies,
                tags_list,
                cluster_list,
                connectors,
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}