<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div id="container">
            <h2 class="ui dividing header">Edit a Case Template</h2>

            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.template_id }}
                
                <div class="mb-3">
                    {{form.title.label(class_="col-form-label")}}:
                    {{form.title(class_="form-control")}}
                    {% if form.title.errors %}
                        <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3">
                    <label for="description" class="col-form-label">Description:</label>
                    {{form.description(class_="form-control")}}
                    {% if form.description.errors %}
                        <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <hr>
                <div class="mb-3 w-50">
                    <label style="padding: 4px;" for="connectors_select">Connectors:</label>
                    <template v-if="connectors">
                    <select data-placeholder="Connectors" class="select2-select form-control" multiple name="connectors_select" id="connectors_select" >
                            <template v-for="(instances, connector) in connectors">
                                <optgroup :label="[[connector]]">
                                    <template v-for="instance in instances">
                                        <option :value="[[instance.name]]" :selected="check_connectors_exist(instance.name)">[[instance.name]]</option>
                                    </template>
                                </optgroup>
                            </template>
                        </select>
                    </template>
                </div>

                <hr>
                <h5>Taxonomies:</h5>
                <div style="display: flex;">
                    <template v-if="taxonomies">
                        <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                            <template v-for="taxonomy in taxonomies">
                                <option :value="[[taxonomy.name]]" v-if="check_taxo_exist(taxonomy.name)" selected>[[taxonomy.name]]</option>
                                <option :value="[[taxonomy.name]]" v-else>[[taxonomy.name]]</option>
                            </template>
                        </select>
                    </template>
                    
                    <template v-if="tags_list">
                        <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                            <template v-for="(tags, taxo) in tags_list">
                                <optgroup :label="[[taxo]]">
                                    <template v-for="tag in tags">
                                        <option :value="[[tag.name]]" :title="tag.description" v-if="check_tag_exist(tag.name)" selected>[[tag.name]]</option>
                                        <option :value="[[tag.name]]" :title="tag.description" v-else>[[tag.name]]</option>
                                    </template>
                                </optgroup>
                            </template>
                        </select>
                    </template>
                </div>
                <hr>

                <h5>Galaxies:</h5>
                <div style="display: flex;">
                    <template v-if="galaxies">
                        <select data-placeholder="Galaxies" class="select2-select form-control" multiple name="galaxies_select" id="galaxies_select" >
                            <template v-for="galaxy, key in galaxies">
                                <option :value="[[galaxy.name]]" v-if="check_galaxy_exist(galaxy.name)" selected>[[galaxy.name]]</option>
                                <option :value="[[galaxy.name]]" v-else>[[galaxy.name]]</option>
                            </template>
                        </select>
                    </template>
                    
                    <template v-if="cluster_list">
                        <select data-placeholder="Cluster" class="select2-select form-control" multiple name="clusters_select" id="clusters_select" >
                            <template v-for="(clusters, galaxy) in cluster_list">
                                <optgroup :label="[[galaxy]]">
                                    <template v-for="cluster in clusters">
                                        <option v-if="check_cluster_exist(cluster.tag)" :value="[[cluster.name]]" :title="cluster.description" selected>[[cluster.tag]]</option>
                                        <option v-else :value="[[cluster.name]]" :title="cluster.description">[[cluster.tag]]</option>
                                    </template>
                                </optgroup>
                            </template>
                        </select>
                    </template>
                </div>
                
                {{form.submit(class='btn btn-primary')}}
            </form>
    </div>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, onMounted, nextTick, ref} = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const taxonomies = ref([])
            const galaxies = ref([])
            const tags_list = ref([])
            const cluster_list = ref([])
            const taxonomies_case = ref([])
            const galaxies_case = ref([])
            const tags_case = ref([])
            const clusters_case = ref([])
            const selected_taxo = ref([])
            const selected_galaxies = ref([])

            const connectors = ref([])
            const connectors_case = ref([])

            async function fetch_taxonomies(){
                const res = await fetch("/case/get_taxonomies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    taxonomies.value = loc["taxonomies"]
                }
            }
            fetch_taxonomies()

            async function fetch_galaxies(){
                const res = await fetch("/case/get_galaxies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    galaxies.value = loc["galaxies"]
                }
            }
            fetch_galaxies()

            async function fetch_taxonomies_case(){
                const res = await fetch("/tools/template/get_taxonomies_case/" +window.location.pathname.split("/").slice(-1))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_case.value = loc["tags"]
                    taxonomies_case.value = loc["taxonomies"]
                }
                if(taxonomies_case.value.length > 0){
                    fetch_tags(taxonomies_case.value)
                }
            }
            fetch_taxonomies_case()

            async function fetch_galaxies_case(){
                const res = await fetch("/tools/template/get_galaxies_case/" +window.location.pathname.split("/").slice(-1))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    clusters_case.value = loc["clusters"]
                    galaxies_case.value = loc["galaxies"]
                }
                if(galaxies_case.value.length > 0){
                    fetch_cluster(galaxies_case.value)
                }
            }
            fetch_galaxies_case()

            async function fetch_tags(s_taxo){
                const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(s_taxo))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_list.value = loc["tags"]
                    await nextTick()
                    $('#tags_select').trigger('change');
                }
            }

            async function fetch_cluster(s_galaxies){
                const res = await fetch("/case/get_clusters?galaxies=" + JSON.stringify(s_galaxies))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    cluster_list.value = loc["clusters"]
                    await nextTick()
                    $('#clusters_select').trigger('change');
                }
            }

            async function fetchConnectors(){
                const res = await fetch("/case/get_connectors")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    connectors.value = loc["connectors"]
                }
            }
            fetchConnectors()

            async function fetchConnectorsCase(){
                const res = await fetch("/tools/template/get_connectors_case/" +window.location.pathname.split("/").slice(-1))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    connectors_case.value = loc["connectors"]
                }
            }


            function check_taxo_exist(taxo){
                return taxonomies_case.value.some(function(field) {
                    return taxo === field
                })
            }
            function check_galaxy_exist(galaxy){
                return galaxies_case.value.some(function(field) {
                    return galaxy === field
                })
            }
            function check_tag_exist(tag){
                return tags_case.value.some(function(field) {
                    return tag === field
                })
            }
            function check_cluster_exist(cluster){
                return clusters_case.value.some(function(field) {
                    return cluster === field
                })
            }
            function check_connectors_exist(connector){
                return connectors_task.value.some(function(field){
                    return connector === field && $('#connectors_select').trigger('change')
                })
            }
            

            onMounted(() => {
                fetchConnectorsCase()
                $('.select2-select').select2({
                    theme: 'bootstrap-5',
                    closeOnSelect: false
                })

                $('#taxonomies_select').on('change.select2', function (e) {
                    selected_taxo.value = $(this).select2('data').map(item => item.id);
                    fetch_tags(selected_taxo.value)
                })
                $('#galaxies_select').on('change.select2', function (e) {
                    selected_galaxies.value = $(this).select2('data').map(item => item.id);
                    fetch_cluster(selected_galaxies.value)
                })
            })

            return {
                selected_taxo,
                message_list,
                taxonomies,
                galaxies,
                tags_list,
                cluster_list,
                connectors,
                check_taxo_exist,
                check_galaxy_exist,
                check_tag_exist,
                check_cluster_exist
            }
        }
    }).mount('.container')

</script>
{% endblock %}