<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}

    <div style="display:flex;">
        <h1>
            Import Case
        </h1>
        <i class="fa fa-question" title="Import a case and its tasks"></i>
    </div>

    <hr>

    <div class="w-50">
        <input class="form-control" type="file" id="importer" />
        <button class="btn btn-primary" @click="read_json()" style="margin-top: 10px;">Add</button>
    </div>

{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {

                async function read_json(){
                    let files = document.getElementById('importer').files

                    let formData = new FormData();
                    for(let i=0;i<files.length;i++){
                        formData.append("files"+i, files[i]);
                    }

                    const res = await fetch(
                        '/tools/importer',{
                            headers: { "X-CSRFToken": $("#csrf_token").val() },
                            method: "POST",
                            files: files,
                            body: formData
                        }
                    )
                    display_toast(res)
                }
                
    
                return {
                    message_list,
                    read_json
                }
            }
        }).mount('.container')

    </script>
{% endblock %}