<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div class="case-core-style" style="border-radius: 0">
        <div class="row align-items-center">
            <div class="col-auto d-flex align-items-center">
                <h5 class="mb-0"><i class="fa-solid fa-puzzle-piece me-2"></i>Modules</h5>
                <i class="fa fa-question ms-2" title="List of available modules" style="font-size: small;"></i>
            </div>
        </div>
    </div>
    <hr class="fading-line-2 mt-4 mb-4">

    <button class="btn btn-primary" @click="reload()"><i class="fa-solid fa-arrow-rotate-right"></i> Reload</button>

    <table class="table case-core-style" style="margin-top: 10px; border-radius: 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Apply to</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="module, key in modules_list">
                <td>[[key]]</td>
                <td><pre class="description">[[ module.config.description ]]</pre></td>
                <td>
                    <span v-if="module.config.case_task === 'case'" class="badge text-bg-primary">
                        <i class="fa-solid fa-folder me-1"></i>Case
                    </span>
                    <span v-else-if="module.config.case_task === 'task'" class="badge text-bg-success">
                        <i class="fa-solid fa-list-check me-1"></i>Task
                    </span>
                    <span v-else class="badge text-bg-secondary">[[ module.config.case_task ]]</span>
                </td>
                <td>
                    <span v-if="module.type === 'notify_user'">
                        <i class="fa-solid fa-bell me-1"></i>Notify user
                    </span>
                    <span v-else-if="module.type === 'send_to'">
                        <i class="fa-solid fa-paper-plane me-1"></i>Send to
                    </span>
                    <span v-else-if="module.type === 'receive_from'">
                        <i class="fa-solid fa-inbox me-1"></i>Receive from
                    </span>
                    <span v-else>[[ module.type ]]</span>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, onMounted, nextTick } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const modules_list = ref([])

                async function fetch_module(){
                    const res = await fetch("/tools/get_modules")
                    let loc = await res.json()
                    modules_list.value = loc["modules"]
                }
                fetch_module()

                async function reload(){
                    const res = await fetch("/tools/reload_module")
                    display_toast(res)
                    
                    await fetch_module()
                }

                return {
                    message_list,
                    modules_list,
                    reload
                }
            }
        }).mount('#main-container')
    </script>
{% endblock %}