<!--
    Note Variables Reference Page
-->

{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/components/smart-render.css') }}">
{{ super() }}
{% endblock %}

{% block content %}

<div class="case-core-style">
    <h4 class="mb-3"><i class="fa-solid fa-code me-2"></i>Flowintel variable syntax</h4>
    <div id="vars-ref">
        <div class="markdown-render-result">
            <smart_render :code="reference" language="markdown" :simple="true"></smart_render>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="module">
    const { createApp, ref } = Vue
    import smart_render from '/static/js/components/smart-render.js'
    createApp({
        delimiters: ['[[', ']]'],
        components: {
            smart_render
        },
        setup() {
            const reference = {{ reference|tojson|safe }}
            return { reference }
        }
    }).mount('#main-container')
</script>
{% endblock %}
