<!--
    Note Variables Reference Page
-->

{% extends 'base.html' %}
{% from 'macros/page_header.html' import page_header %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/components/smart-render.css') }}">
{{ super() }}
{% endblock %}

{% block content %}

{% call(section) page_header('Variable syntax', 'fa-solid fa-code', 'Variables available in note templates and case or task notes.') %}{% endcall %}
<div class="case-core-style">
    <div id="vars-ref">
        <div class="markdown-render-result">
            <smart_render :code="reference" language="markdown" :simple="true"></smart_render>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="module">
    const { createApp, ref } = Vue
    import smart_render from '/static/js/components/smart-render.js'
    createApp({
        delimiters: ['[[', ']]'],
        components: {
            smart_render
        },
        setup() {
            const reference = {{ reference|tojson|safe }}
            return { reference }
        }
    }).mount('#main-container')
</script>
{% endblock %}
