<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}

{% block content %}
    <h1>
        Task Templates
        <span>
            <a class="btn btn-primary" href="/tools/template/create_task"><i class="fa-solid fa-plus"></i></a>
        </span>
    </h1>

    <hr>

    <div id="top"></div>

    <!-- Search bar -->
    <div class="input-group justify-content-center start-50 translate-middle-x top-0" id="search_template" style="max-width: 200px;">
        <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search task template by title' style="min-width: 350px;"/>
    </div>
    <br>
    <div class="collapse show" id="collapsefiltercase">
		<div class="card card-body">
			<div class="d-flex w-100 justify-content-evenly">
				<div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" name="radioOther" id="radioOtherTitle" @click="sort_by_title()">
						<label class="form-check-label" for="radioOtherTitle">Title</label>
					</div>
				</div>

				<div style="display:flex">
				<span style="margin-right: 10px">Asc</span>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" @click="asc_desc_filter(true)">
						<label class="form-check-label" for="flexSwitchCheckDefault">Desc</label>
					</div>
			  
				</div>
			</div>
		</div>
	</div>
    <hr>
    <!-- Search bar -->

    <nav aria-label="Page navigation example" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_template(Math.max(1, current_page-1))">Previous</button>
            </li>
            <template v-for="cp in templates_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetch_template(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_template(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <template v-if="templates_list">
        <template v-for="template, key in templates_list.templates">
            <div class="list-group" style="margin-bottom: 20px;">
                <div style="display:flex">
                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">[[ key+1 ]]- [[ template.title ]]</h4>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="template.description" class="card-text">[[ template.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="template.url" class="card-text">[[ template.url ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No url</i></p>
                        </div>
                    </a>
                    <div v-if="!template.current_user_permission.read_only" style="display: grid;">
                        <a class="btn btn-primary btn-sm" :href="`/tools/template/edit_task/${template.id}`" type="button" title="Edit the task template">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button class="btn btn-danger btn-sm"  @click="delete_task(template)" title="Delete the task template"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </template>

    <nav aria-label="Page navigation example" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_template(Math.max(1, current_page-1))">Previous</button>
            </li>
            <template v-for="cp in templates_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetch_template(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_template(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const templates_list = ref(null)
                const current_page = ref(1)

                let title_filter = false
                let asc_desc = true
                let temp_task_list = []

                async function fetch_template(page){
                    templates_list.value = null
                    const res = await fetch("/tools/get_page_task_templates?page="+ page + "&title=" + title_filter)
                    let loc = await res.json()
                    templates_list.value = loc
                    current_page.value = page
                    temp_task_list = templates_list.value.templates
                }

                async function delete_task(task){
                    const res = await fetch("/tools/template/delete_task/" + task.id)
                    if(await res.status == 200){
                        let index = templates_list.value.templates.indexOf(task)
                        if(index > -1)
                            templates_list.value.templates.splice(index, 1)
                    }
                    display_toast(res)
                }

                function sort_by_title(){
                    title_filter = !title_filter
                    asc_desc_filter()
                }

                async function asc_desc_filter(change=false){
                    if(change)
                        asc_desc = !asc_desc

                    let res = await fetch('/tools/get_page_task_templates?page=1&title=' + title_filter)
                    
                    let loc = await res.json()
                    if(asc_desc){
                        templates_list.value.templates = loc.templates
                    }
                    else{
                        templates_list.value.templates = loc.templates.reverse()
                    }
                    templates_list.value.nb_pages = loc.nb_pages
                    temp_task_list = templates_list.value.templates
                    
                }

                function onInput(e){
                    templates_list.value.templates = []
                    if(e.target.value){
                        templates_list.value.templates = temp_task_list.filter((template) => {
                            return template.title.toLowerCase().includes(e.target.value.toLowerCase())
                        })
                    }else{
                        templates_list.value.templates = asc_desc_filter()
                    }
                }


                fetch_template(1)
    
                return {
                    message_list,
                    templates_list,
                    current_page,
                    delete_task,
                    fetch_template,
                    sort_by_title,
                    asc_desc_filter,
                    onInput
                }
            }
        }).mount('.container')

    </script>
{% endblock %}