<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}

{% block content %}
    <h1>
        Task Templates
        <span>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-plus"></i></button>
        </span>
    </h1>

    <hr>

    <div id="top"></div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="modal-body">
                        <div class="mb-3">
                            {{form.title.label(class_="col-form-label")}}:
                            {{form.title(class_="form-control")}}
                            {% if form.title.errors %}
                                <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                            {%endif%}
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            {{form.body(class_="form-control")}}
                            {% if form.body.errors %}
                                <div style="color: red;">{{form.body.errors[0] | safe}}</div>
                            {%endif%}
                        </div>
                        <div class="mb-3">
                            {{form.url.label(class_="col-form-label")}}:
                            {{form.url(class_="form-control")}}
                            {% if form.url.errors %}
                                <div style="color: red;">{{form.url.errors[0] | safe}}</div>
                            {%endif%}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            {{form.submit(class='btn btn-primary')}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Search bar -->
    <div class="d-none d-md-flex input-group w-auto my-auto justify-content-center start-50 translate-middle-x top-0" style="max-width: 200px;">
        <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search task template by title' style="min-width: 350px;"/>
    </div>
    <hr>
    <!-- Search bar -->

    <nav aria-label="Page navigation example" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_template(Math.max(1, current_page-1))">Previous</button>
            </li>
            <template v-for="cp in templates_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetch_template(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_template(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <template v-if="templates_list">
        <template v-for="template, key in templates_list.templates">
            <div class="list-group" style="margin-bottom: 20px;">
                <div style="display:flex">
                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">[[ key+1 ]]-[[ template.title ]]</h4>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="template.description" class="card-text">[[ template.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="template.url" class="card-text">[[ template.url ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No url</i></p>
                        </div>
                    </a>
                    <div v-if="!template.current_user_permission.read_only" style="display: grid;">
                        <a class="btn btn-primary btn-sm" :href="`/tools/template/edit_task/${template.id}`" type="button" title="Edit the task template">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button class="btn btn-danger btn-sm"  @click="delete_task(template)" title="Delete the task template"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </template>
    </template>

    <nav aria-label="Page navigation example" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_template(Math.max(1, current_page-1))">Previous</button>
            </li>
            <template v-for="cp in templates_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetch_template(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_template(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const templates_list = ref(null)
                const current_page = ref(1)
                let all_templates_list = []

                async function fetch_template(page){
                    templates_list.value = null
                    const res = await fetch("/tools/get_page_task_templates?page="+page)
                    let loc = await res.json()
                    templates_list.value = loc
                    current_page.value = page
                }

                async function fetch_all_templates(){
                    all_templates_list = null
                    const res = await fetch("/tools/get_all_task_templates")
                    let loc = await res.json()
                    all_templates_list = loc["templates"]
                }

                async function delete_task(task){
                    const res = await fetch("/tools/template/delete_task/" + task.id)
                    if(await res.status == 200){
                        let index = templates_list.value.templates.indexOf(task)
                        if(index > -1)
                            templates_list.value.templates.splice(index, 1)
                    }
                    display_toast(res)
                }

                function onInput(e){
                    templates_list.value.templates = []
                    if(e.target.value){
                        for(let i in all_templates_list){
                            if(all_templates_list[i].title.toLowerCase().includes(e.target.value.toLowerCase())){
                                templates_list.value.templates.push(all_templates_list[i])
                            }
                        }
                    }else{
                        templates_list.value.templates = all_templates_list
                    }
                }


                fetch_template(1)
                fetch_all_templates()
    
                return {
                    message_list,
                    templates_list,
                    delete_task,
                    fetch_template,
                    current_page,
                    onInput
                }
            }
        }).mount('.container')

    </script>
{% endblock %}