<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    
<div class="container-fluid" style="width:80%;">
    <h1 style="text-align: center;">
        <i class="fa-solid fa-user"></i> My Profile
    </h1>

    <hr class="fading-line-2 mb-4 mt-4">
    
    <div class="card card-body" style="box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;">
        <div>
            <a class="btn btn-outline-success" href="/account/edit" type="button" style="margin-bottom: 10px;"> <i class="fa-solid fa-pen"></i> Edit</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td style="color:#494950">First Name</td>
                    <td>{{user.first_name}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="color:#494950">Last Name</td>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <td style="color:#494950">Nickname</td>
                    {%if user.nickname %}
                        <td> {{user.nickname}}</td>
                    {%else%}
                        <td><i> Not set</i></td>
                    {%endif%}
                </tr>
                <tr>
                    <td style="color:#494950">Email</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td style="color:#494950">Matrix id</td>
                    {%if user.matrix_id%}
                        <td> {{user.matrix_id}}</td>
                    {%else%}
                        <td><i> Not set</i></td>
                    {%endif%}
                </tr>
                <tr>
                    <td style="color:#494950">Organisation</td>
                    <td>
                        <a href="/admin/orgs" class="text-decoration-none">{{ org.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td style="color:#494950">Role</td>
                    <td>
                        <a href="/admin/roles" class="text-decoration-none">
                            {{ role.name }}
                            {% if role.admin %}
                                <span class="badge bg-danger ms-2">Admin</span>
                            {% elif role.read_only %}
                                <span class="badge bg-info ms-2">Read Only</span>
                            {% else %}
                                <span class="badge bg-success ms-2">
                                    Editor
                                    {% if role.org_admin %}
                                        <i class="fa-solid fa-users ms-1" title="Org Admin"></i>
                                    {% endif %}
                                    {% if role.queue_admin %}
                                        <i class="fa-solid fa-list-check ms-1" title="Queue Admin"></i>
                                    {% endif %}
                                    {% if role.queuer %}
                                        <i class="fa-solid fa-inbox ms-1" title="Queuer"></i>
                                    {% endif %}
                                </span>
                            {% endif %}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="color:#494950">API key</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span id="api-key" class="api-key blurred me-2">
                                <b v-if="api_key">[[api_key]]</b>
                                <b v-else>{{ user.api_key }}</b>
                            </span>
                            <button id="toggle-api-key" type="button" class="btn btn-sm btn-outline-secondary blur-btn" aria-pressed="false" aria-label="Show API key" title="Show API key" data-visible="false">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-secondary" @click="change_api_key()" title="Change api key">
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
        
{% endblock %}

{% block script %}
    <script type="module">
        const { createApp, ref, onMounted} = Vue
        import {display_toast, message_list, create_message} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const api_key = ref()

                async function change_api_key() {
                    const res = await fetch(
                        '/account/change_api_key',
                        {
                            method: 'POST',
                            headers: { "X-CSRFToken": $("#csrf_token").val() }
                        }
                    )
                    if(await res.status == 200){
                        let loc = await res.json()
                        api_key.value = loc["api_key"]
                        create_message(loc["message"], loc["toast_class"], false, false)
                    }else{
                        display_toast(res)
                    }
                }
                onMounted(() => {
                    var $btn = $('#toggle-api-key');
                    var $key = $('#api-key');
                    if (!$btn.length || !$key.length) return;

                    $btn.on('click', function() {
                        var visible = $btn.attr('data-visible') === 'true';
                        if (visible) {
                            // hide
                            $key.addClass('blurred');
                            $btn.attr('data-visible', 'false');
                            $btn.attr('aria-pressed', 'false');
                            $btn.attr('aria-label', 'Show API key');
                            $btn.attr('title', 'Show API key');
                            $btn.find('i').removeClass('fa-eye-slash').addClass('fa-eye');
                        } else {
                            // show
                            $key.removeClass('blurred');
                            $btn.attr('data-visible', 'true');
                            $btn.attr('aria-pressed', 'true');
                            $btn.attr('aria-label', 'Hide API key');
                            $btn.attr('title', 'Hide API key');
                            $btn.find('i').removeClass('fa-eye').addClass('fa-eye-slash');
                        }
                    });
                })

                return {
                    message_list,
                    api_key,
                    change_api_key
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}
