<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    
    <div id="container">
        <a class="btn btn-outline-success" href="/account/add_user" type="button">New User</a>
        <table>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                </tr>
                {%endfor%}
        </table>
    </div>
        
{% endblock %}