<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    
    <div id="container">
        <h1>
            My Profile
        </h1>

        <hr>

        <a class="btn btn-outline-success" href="/account/edit" type="button" style="margin-bottom: 10px;">Edit</a>
        
        <div style="background-color: whitesmoke;">
            <div>
                <h6 style="display: inline-block;">First name:</h6> <span>{{user.first_name}}</span>
            </div>
            <div>
                <h6 style="display: inline-block;">Last name:</h6> <span>{{user.last_name}}</span>
            </div>
            <div>
                <h6 style="display: inline-block;">Nickname:</h6> 
                {%if user.nickname %}
                    <span> {{user.nickname}}</span>
                {%else%}
                    <span><i> Not set</i></span>
                {%endif%}
            </div>
            <div>
                <h6 style="display: inline-block;">Email:</h6> <span>{{user.email}}</span>
            </div>
                <div>
                    <h6 style="display: inline-block;">Matrix id:</h6> 
                    {%if user.matrix_id%}
                        <span> {{user.matrix_id}}</span>
                    {%else%}
                        <span><i> Not set</i></span>
                    {%endif%}
                </div>
            <div>
                <h6 style="display: inline-block;">Api key:</h6> <span>{{user.api_key}}</span>
            </div>
        </div>

    </div>
        
{% endblock %}