Dockerfile**
Makefile

# Ignore node_modules everywhere
**/node_modules

# These ones are initialised and cloned inside the container:
modules/misp-galaxy
modules/misp-objects
modules/misp-taxonomies

# Decouple config from code
conf/**
.env**

# Keep .git and .gitmodules for submodule support
!.git
!.gitmodules
