flask
sqlalchemy
flask-sqlalchemy
flask-session
Flask-WTF
WTForms
Werkzeug
email_validator
Flask-Migrate
Flask-Login
flask-restx
python-dateutil
schedule
pytest
gunicorn
git+https://github.com/MISP/PyTaxonomies
git+https://github.com/MISP/PyMISPGalaxies
jsonschema
pymisp
matrix-nio
matrix-nio[e2e]
