flask
sqlalchemy
flask-sqlalchemy
Flask-WTF
WTForms
Werkzeug==2.3.7
email_validator
Flask-Migrate
Flask-Login
flask-restx
python-dateutil
schedule
pytest
gunicorn
git+https://github.com/MISP/PyTaxonomies
git+https://github.com/MISP/PyMISPGalaxies
jsonschema
pymisp
