<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static',filename='js/vendor/markdown-it.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/vendor/codemirror.js') }}"></script>

{{ super() }}
{%endblock%}


{% block content %}
<form action="" method="post" class="case-core-style">
    {{ form.hidden_tag() }}
    <div class="modal-body">
        <button class="btn btn-primary" @click="hide_task_creation()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTemplate" aria-expanded="false" aria-controls="collapseTemplate">
            Add from template
        </button>        
        <div class="collapse" id="collapseTemplate">
            <div class="card card-body">
                <div class="mb-3">
                    <select data-placeholder="Task Template" multiple class="select2-select form-control" name="tasks" id="tasks">
                        {% for choice in form.tasks.choices %}
                            <option value="{{choice[0]}}">{{choice[1]}}</option>
                        {% endfor %}
                    </select>
                    {% if form.tasks.errors %}
                        <div style="color: red;">{{form.tasks.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
        </div>
        
        <hr>
        <div id="create_task">
            <div class="mb-3 w-50">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="row">
                <span class="mb-2">Description:</span>
                <div style="display: flex">
                    <div class="note-editor" id="editor"></div>
                    <div class="markdown-render" v-html="md.render(note_editor_render)"></div>
                    <textarea id="description" name="description" hidden :value="note_editor_render" type="text"></textarea>
                </div>
            </div>
            <hr>
            
            <h5>Custom Tags</h5>
            <div v-if="custom_tags" class="col-6">
                <select data-placeholder="Custom Tags" class="select2-select form-control" multiple name="custom_select" id="custom_select" >
                    <template v-for="c_t, key in custom_tags">
                        <option :value="[[c_t.id]]">[[c_t.name]]</option>
                    </template>
                </select>
            </div>
            <hr>

            <h5>Taxonomies:</h5>
            <div style="display: flex;">
                <template v-if="taxonomies">
                    <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                        <template v-for="taxonomy, key in taxonomies">
                            <option :value="[[taxonomy.name]]">[[taxonomy.name]]</option>
                        </template>
                    </select>
                </template>
                
                <template v-if="tags_list">
                    <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                        <template v-for="(tags, taxo) in tags_list">
                            <optgroup :label="[[taxo]]">
                                <option :value="[[tag.name]]" v-for="tag in tags">[[tag.name]]</option>
                            </optgroup>
                        </template>
                    </select>
                </template>
            </div>
            <hr>

            <h5>Galaxies:</h5>
            <div style="display: flex;">
                <template v-if="galaxies">
                    <select data-placeholder="Galaxies" class="select2-select form-control" multiple name="galaxies_select" id="galaxies_select" >
                        <template v-for="galaxy, key in galaxies">
                            <option :value="[[galaxy.name]]">[[galaxy.name]]</option>
                        </template>
                    </select>
                </template>
                
                <template v-if="cluster_list">
                    <select data-placeholder="Cluster" class="select2-select form-control" multiple name="clusters_select" id="clusters_select" >
                        <template v-for="(clusters, galaxy) in cluster_list">
                            <optgroup :label="[[galaxy]]">
                                <option :value="[[cluster.name]]" :title="cluster.description" v-for="cluster in clusters">[[cluster.tag]]</option>
                            </optgroup>
                        </template>
                    </select>
                </template>
            </div>

        </div>
        {{form.submit(class='btn btn-primary')}}
    </div>
</form>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, ref, onMounted} = Vue
    import {message_list} from '/static/js/toaster.js'
    const { EditorView, basicSetup, languages } = window.CodeMirrorBundle;

    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const taxonomies = ref([])
            const tags_list = ref([])
            const selected_taxo = ref([])

            const galaxies = ref([])
            const cluster_list = ref([])
            const selected_galaxies = ref([])

            const custom_tags = ref([])

            const md = window.markdownit()
            const note_editor_render = ref("")
            
            let to_hide = true
            function hide_task_creation(){
                if(to_hide)
                    $("#create_task").hide()
                else
                    $("#create_task").show()
                to_hide = !to_hide
            }

            async function fetch_taxonomies(){
                const res = await fetch("/case/get_taxonomies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    taxonomies.value = loc["taxonomies"]
                }
            }
            fetch_taxonomies()

            async function fetch_galaxies(){
                const res = await fetch("/case/get_galaxies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    galaxies.value = loc["galaxies"]
                }
            }
            fetch_galaxies()

            async function fetch_tags(){
                const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(selected_taxo.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_list.value = loc["tags"]
                    $('#tags_select').trigger('change');
                }
            }

            async function fetch_cluster(){
                const res = await fetch("/case/get_clusters?galaxies=" + JSON.stringify(selected_galaxies.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    cluster_list.value = loc["clusters"]
                    $('#clusters_select').trigger('change');
                }
            }

            async function fetch_custom_tags(){
                const res = await fetch("/custom_tags/list")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    custom_tags.value = loc
                }
            }

            onMounted(() => {
                fetch_custom_tags()

                $('.select2-select').select2({
                    theme: 'bootstrap-5',
                    closeOnSelect: false
                })

                $('#taxonomies_select').on('change.select2', function (e) {
                    selected_taxo.value = $(this).select2('data').map(item => item.id);
                    fetch_tags()
                })
                $('#galaxies_select').on('change.select2', function (e) {
                    selected_galaxies.value = $(this).select2('data').map(item => item.id);
                    fetch_cluster()
                })

                const targetElement = document.getElementById('editor')
                if(targetElement && targetElement.innerHTML === ""){
                    editor = new EditorView({
                        doc: "\n\n",
                        extensions: [basicSetup, languages.markdown(),EditorView.updateListener.of((v) => {
                            if (v.docChanged) {
                                note_editor_render.value = editor.state.doc.toString()
                            }
                        })],
                        parent: targetElement
                    })
                }
            })

            return {
                selected_taxo,
                message_list,
                taxonomies,
                galaxies,
                tags_list,
                cluster_list,
                custom_tags,
                md,
                note_editor_render,
                hide_task_creation
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}