<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}
{% from 'macros/page_header.html' import page_header, header_stat, header_button, header_search, header_filters %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/components/theme-bridge.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/components/smart-render.css') }}">
<script>
    {% set can_manage_templates = current_user.is_admin() or current_user.is_template_editor() %}
    window.can_manage_templates = {{ 'true' if can_manage_templates else 'false' }};
    window.is_admin = {{ 'true' if current_user.is_admin() else 'false' }};
</script>

{{ super() }}
{%endblock%}

{% block content %}
    {% set can_manage_templates = current_user.is_admin() or current_user.is_template_editor() %}
    {% call(section) page_header('Case templates', 'fa-solid fa-folder-open', 'Reusable cases, with their tasks, to start an investigation faster.') %}
        {% if section == 'stats' %}
            <template v-if="templates_list && templates_list.templates">
                {{ header_stat('fa-solid fa-folder-open', '[[ templates_list.templates.length ]]', "[[ templates_list.templates.length === 1 ? 'template' : 'templates' ]]", title='Case templates listed', attrs='v-if="!templates_list.nb_pages || templates_list.nb_pages <= 1"') }}
                {{ header_stat('fa-solid fa-book-open', '[[ current_page ]] / [[ templates_list.nb_pages ]]', 'pages', title='Pagination', attrs='v-else') }}
            </template>
        {% elif section == 'toolbar' %}
            {{ header_search('Search case templates by title') }}
            {{ header_filters('#modalCaseFilter') }}
            {% if can_manage_templates %}
                {{ header_button('New case template', href='/templating/create_case', title='New case template') }}
            {% else %}
                {{ header_button('New case template', title='You do not have permission to create templates', attrs='disabled') }}
            {% endif %}
        {% endif %}
    {% endcall %}
    {% if not can_manage_templates %}
        <div class="ctx-notice mb-3" role="alert">
            <i class="fa-solid fa-circle-info"></i>You do not have the Template Editor permissions and are not allowed to create or edit templates.
        </div>
    {% endif %}


    <div class="modal fade" id="modalCaseFilter" tabindex="-1" aria-labelledby="modalCaseFilterLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCaseFilterLabel">Case templates filter</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="caseSortSelect" class="form-label"><i class="fa-solid fa-arrow-down-a-z fa-sm me-1"></i>Sort by</label>
                        <select id="caseSortSelect" class="form-select form-select-sm" v-model="sort_mode" @change="apply_sort">
                            <option value="none">None (default order)</option>
                            <option value="asc">Title (A &rarr; Z)</option>
                            <option value="desc">Title (Z &rarr; A)</option>
                        </select>
                    </div>
                    <hr>
                    <tag_filter scope="case_template" @change="on_tag_filter_change"></tag_filter>
                </div>
            </div>
		</div>
	</div>
    <!-- Search bar -->

    <nav aria-label="Page navigation" class="nav-pagination" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_templates(Math.max(1, current_page-1))">Previous</button>
            </li>
            <li v-for="page in visiblePages"
                :class="['page-time', {active: page === current_page, disabled: page === '...' }]">
                <button class="page-link" v-if="page !== '...'" @click="fetch_templates(page)">[[ page ]]</button>
                <span class="page-link" v-else>...</span>
            </li>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_templates(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <template v-if="templates_list">
        <template v-for="template in templates_list.templates">
            <div class="list-group" style="margin-bottom: 20px;">
                <div style="display: flex; border-radius: 10px;">
                    <a :href="`/templating/case/${template.id}`" class="list-group-item list-group-item-action case-index-list">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">[[ template.id ]]- [[ template.title ]]</h4>
                        </div>
                        <div class="case-meta-grid" style="margin-bottom: 4px;">
                            <div class="case-meta-item" v-if="template.last_modif" :title="'Modified: ' + template.last_modif">
                                <i class="fa-solid fa-clock-rotate-left fa-fw"></i>
                                <span class="meta-label">Modified</span>
                                <span class="meta-value">[[ dayjs.utc(template.last_modif).fromNow() ]]</span>
                            </div>
                            <div class="case-meta-item" v-if="template.uuid" :title="template.uuid">
                                <i class="misp-icon misp-icon-attribute misp-simple fa-fw"></i>
                                <span class="meta-label">UUID</span>
                                <span class="meta-value" style="font-family: monospace; font-size: 0.8em;">[[ template.uuid ]]</span>
                            </div>
                            <div class="case-meta-item" v-if="template.version">
                                <i class="fa-solid fa-code-branch fa-fw"></i>
                                <span class="meta-label">Version</span>
                                <span class="meta-value">v[[ template.version ]]</span>
                            </div>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <template v-if="template.description">
                                <template v-if="template.description.length > 300">
                                    <div class="position-relative">
                                        <button
                                            class="btn btn-outline-primary btn-sm float-end me-2"
                                            type="button"
                                            @click.stop.prevent="expandedCases[template.id] = !expandedCases[template.id]"
                                            title="See the full description"
                                        >
                                            <i :class="['fa-solid', expandedCases[template.id] ? 'fa-chevron-up' : 'fa-chevron-down']"></i>
                                        </button>

                                        <!-- Show either truncated or full text -->
                                        <smart_render :code="expandedCases[template.id] ? template.description : truncateText(template.description)" language="markdown" :simple="true"></smart_render>
                                    </div>
                                </template>
                                <template v-else>
                                    <smart_render :code="template.description" language="markdown" :simple="true"></smart_render>
                                </template>
                            </template>
                            <template v-else>
                                <p class="card-text"><i style="font-size: 12px;">No description</i></p>
                            </template>
                        </div>
                        <div class="d-flex w-100 justify-content-between" style="margin-top: 5px;">
                            <div style="display: flex;" v-if="template.custom_tags">
                                <template v-for="custom_tag in template.custom_tags">
                                    <div class="tag" :style="{'background-color': custom_tag.color, 'color': getTextColor(custom_tag.color)}">
                                        <i v-if="custom_tag.icon" :class="custom_tag.icon"></i>
                                        [[custom_tag.name]]
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <div style="display: flex;" v-if="template.tags">
                                <template v-for="tag in template.tags">
                                    <div class="tag" :title="tag.description" :style="{'background-color': tag.color, 'color': getTextColor(tag.color)}">
                                        <i class="misp-icon misp-icon-tag misp-simple"></i>
                                        [[tag.name]]
                                    </div>
                                </template>
                            </div>
                            <div v-else></div>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <div style="display: flex;" v-if="template.clusters">
                                <template v-for="cluster in template.clusters">
                                    <div class="cluster" :title="'Description:\n' + cluster.description + '\n\nMetadata:\n' + cluster.meta">
                                        <span v-html="mapIcon(cluster.icon)"></span>
                                        [[cluster.tag]]
                                    </div>
                                </template>
                            </div>
                        </div>
                    </a>
                    <div v-if="can_manage_templates && !template.current_user_permission.read_only">
                        <div>
                            <a class="btn btn-primary" :href="`/templating/edit_case/${template.id}`" type="button" title="Edit the case template">
                                <i class="fa-solid fa-pen-to-square fa-fw"></i>
                            </a>
                            <button class="btn btn-danger" type="button" title="Delete the case template" data-bs-toggle="modal" :data-bs-target="`#delete_template_modal_${template.id}`" @click.stop>
                                <i class="fa-solid fa-trash fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal fade" :id="`delete_template_modal_${template.id}`" tabindex="-1" aria-labelledby="delete_template_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="delete_template_modal">Delete case template</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this case template? This action cannot be undone.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" @click="delete_case(template)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </template>

    <nav aria-label="Page navigation" class="mt-3 nav-pagination" v-if="templates_list && templates_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_templates(Math.max(1, current_page-1))">Previous</button>
            </li>
            <li v-for="page in visiblePages"
                :class="['page-time', {active: page === current_page, disabled: page === '...' }]">
                <button class="page-link" v-if="page !== '...'" @click="fetch_templates(page)">[[ page ]]</button>
                <span class="page-link" v-else>...</span>
            </li>
            <li :class="{'page-item': true, 'disabled': current_page == templates_list.nb_pages}">
                <button class="page-link" @click="fetch_templates(Math.min(current_page+1, templates_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'
        import {truncateText, getTextColor, mapIcon} from '/static/js/utils.js'
        import smart_render from '/static/js/components/smart-render.js'
        import tag_filter from '/static/js/components/tag_filter.js'

        createApp({
            delimiters: ['[[', ']]'],
            components: {
                smart_render,
                tag_filter
            },
            setup() {
                const templates_list = ref([])
                const current_page = ref(1)
                const search_query = ref('')
                const sort_mode = ref('none')
                let searchTimer = null

                let title_filter = false
                let asc_desc = true
                let temp_case_list = []

                // Populated by <tag_filter>'s @change — see on_tag_filter_change.
                const tag_filter_state = ref({ tags: [], taxonomies: [], clusters: [], galaxies: [], custom_tags: [], or_and_taxo: false, or_and_galaxies: false })
                function on_tag_filter_change(payload){
                    tag_filter_state.value = payload
                    fetch_templates(1)
                }

                const dayjs = window.dayjs

                const can_manage_templates = ref(window.can_manage_templates)
                const expandedCases = ref({})

                async function fetch_templates(page){
                    let loc_page = `page=${page}`
                    let loc_or_and_taxo = `&or_and_taxo=${tag_filter_state.value.or_and_taxo}`
                    let loc_or_and_galax = `&or_and_galaxies=${tag_filter_state.value.or_and_galaxies}`
                    let loc_title = `&title=${title_filter}`
                    let loc_q = ''
                    if (search_query.value) loc_q = '&q=' + encodeURIComponent(search_query.value)

                    let tags = ""
                    let taxo = ""
                    let galax = ""
                    let clusters = ""
                    let custom_tg = ""
                    if(tag_filter_state.value.tags.length) tags = "&tags=" + JSON.stringify(tag_filter_state.value.tags)
                    if(tag_filter_state.value.taxonomies.length) taxo = "&taxonomies=" + JSON.stringify(tag_filter_state.value.taxonomies)
                    if(tag_filter_state.value.galaxies.length) galax = "&galaxies=" + JSON.stringify(tag_filter_state.value.galaxies)
                    if(tag_filter_state.value.clusters.length) clusters = "&clusters=" + JSON.stringify(tag_filter_state.value.clusters)
                    if(tag_filter_state.value.custom_tags.length) custom_tg = "&custom_tags=" + JSON.stringify(tag_filter_state.value.custom_tags)

                    let url = `/templating/get_page_case_templates?${loc_page}${loc_or_and_taxo}${loc_or_and_galax}${loc_title}${loc_q}${tags}${taxo}${galax}${clusters}${custom_tg}`
                    const res = await fetch(url)
                    let loc = await res.json()

                    if(asc_desc){
                        templates_list.value.templates = loc.templates
                    }
                    else{
                        templates_list.value.templates = loc.templates.reverse()
                    }
                    templates_list.value.nb_pages = loc.nb_pages
                    current_page.value = page
                    temp_case_list = templates_list.value.templates
                }
                fetch_templates(1)


                async function delete_case(case_template){
                    const res = await fetch("/templating/delete_case/" + case_template.id)
                    if(await res.status == 200){
                        let index = templates_list.value.templates.indexOf(case_template)
                        if(index > -1)
                            templates_list.value.templates.splice(index, 1)

                        var myModalEl = document.getElementById('delete_template_modal_'+case_template.id);
                        var modal = bootstrap.Modal.getInstance(myModalEl)
                        modal.hide();
                    }
                    display_toast(res)
                }

                function apply_sort(){
                    title_filter = sort_mode.value !== 'none'
                    asc_desc = sort_mode.value !== 'desc'
                    fetch_templates(1)
                }

                function onInput(e){
                    clearTimeout(searchTimer)
                    search_query.value = e.target.value
                    searchTimer = setTimeout(() => fetch_templates(1), 300)
                }
                


                const visiblePages = computed(() => {
                    const pages = []
                    const total = templates_list.value.nb_pages
                    const current = current_page.value
                    if (total <= 7) {
                        for (let i = 1; i <= total; i++) pages.push(i)
                    } else {
                        if (current <= 4) {
                            pages.push(1, 2, 3, 4, 5, '...', total-1, total)
                        } else if (current >= total - 3) {
                            console.log("Over total-3");
                            pages.push(1, '...', total - 4, total - 3, total - 2, total - 1, total)
                        } else {
                            pages.push(1, '...', current - 2, current - 1, current, current + 1, current + 2, '...', total)
                        }
                    }
                    return pages
                })


                return {
                    message_list,
                    getTextColor,
                    mapIcon,
                    truncateText,
                    dayjs,
                    expandedCases,

                    templates_list,
                    current_page,

                    visiblePages,
                    can_manage_templates,
                    on_tag_filter_change,

                    delete_case,
                    fetch_templates,
                    onInput,
                    sort_mode,
                    apply_sort
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}
