<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static',filename='js/markdown-it.js') }}"></script>
<script src="{{ url_for('static',filename='js/editor.js') }}"></script>
<script src="{{ url_for('static',filename='js/mermaid-markdown.js') }}"></script>
<script src="{{ url_for('static',filename='js/sortablejs.js') }}"></script>

{{ super() }}
{%endblock%}

{% block content %}
<template v-if="case_template">
    <div class="case-core-style" style="border-radius: 0;">
        <div class="dropdown" style="float:right;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="/templating/case/{{case_id}}/download" type="button" title="Download the case in json">
                        <span class="btn btn-primary btn-sm"><i class="fa-solid fa-download"></i></span> Download
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="/templating/edit_case/{{case_id}}" type="button" title="Edit the case template">
                        <span class="btn btn-secondary btn-sm"><i class="fa-solid fa-pen-to-square"></i></span> Edit
                    </a>
                </li>
                <li>
                    <button type="button" class="dropdown-item" title="Create a case from this template" data-bs-toggle="modal" data-bs-target="#fork_case_modal">
                        <span class="btn btn-primary btn-sm"><i class="fa-solid fa-file"></i></span> Create case
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item" title="Delete the case" data-bs-toggle="modal" data-bs-target="#delete_case_modal">
                        <span class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></span> Delete
                    </button>
                </li>
            </ul>
        </div>

        <div class="d-flex">
            <h1 style="margin-top: -9px;">
                <a type="button" class="btn btn-outline-dark" href="/templating/cases">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </h1>
            <h1 style="font-size: xx-large; margin-left: 8px">[[case_template.id]] - [[case_template.title]]</h1>
        </div>

        <div v-if="case_template.description">
            <hr>
            <pre>[[case_template.description]]</pre>
            <hr>
        </div>
    </div>
    

    <!-- Modal delete case -->
    <div class="modal fade" id="delete_case_modal" tabindex="-1" aria-labelledby="delete_case_modal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete_case_modal">Delete '[[case_template.title]]' ?</h1>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-danger" @click="delete_case({{case_id}})"><i class="fa-solid fa-trash"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal fork case -->
    <div class="modal fade" id="fork_case_modal" tabindex="-1" aria-labelledby="fork_case_modal" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="fork_case_modal">Create a case from '[[case_template.title]]'</h1>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input id="case_title_fork" placeholder="Case title"/>
                    <div id="collapseForkBody"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" @click="fork_case(case_template.id)"><i class="fa-solid fa-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="case-core-style mt-4">
        <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" 
                data-bs-target="#collapseTags" aria-expanded="true" aria-controls="collapseTags"
                style="float: right;">
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <ul class="nav nav-tabs" style="margin-bottom: 10px;">
            <li class="nav-item">
                <button class="nav-link active" id="tab-main" aria-current="page" @click="active_tab('main')" style="min-width: 100px;">
                    <i class="fa-solid fa-house"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="tab-note" @click="active_tab('note')">Notes</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="tab-connectors" @click="active_tab('connectors')">
                    Connectors
                    <span class="badge text-bg-secondary d-none" id="id-nb-connectors">[[case_template_connectors_list.length]]</span>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="tab-info" @click="active_tab('info')">Info</button>
            </li>
        </ul>

        <hr class="fading-line-2">

        <div class="collapse show" id="collapseTags">
            <template v-if="selected_tab == 'main'">
                <div class="row">
                    <div class="col-6">
                        <tags_edition :current_case="case_template" :type_object="'case_template'"></tags_edition>
                    </div>
                </div>
            </template>
            <template v-else-if="selected_tab == 'note'">
                <div v-if="case_template.notes">
                    <template v-if="edit_mode">
                        <button class="btn btn-primary" @click="save_note_case()">Save</button>
                        <div style="display: flex;">
                            <div class="note-editor" id="editor"></div>
                            <div class="markdown-render" v-html="md.render(note_editor_render)"></div>
                        </div>
                    </template>
                    <template v-else>
                        <button class="btn btn-primary btn-sm" @click="edit_note()">Edit</button>
                        <div v-html="md.render(case_template.notes)" class="markdown-render-result container-fluid"></div>
                    </template>
                </div>
                <template v-else>
                    <button class="btn btn-primary" @click="save_note_case()">Save</button>
                    <div style="display: flex;">
                        <div class="note-editor" id="editor"></div>
                        <div class="markdown-render" v-html="md.render(note_editor_render)"></div>
                    </div>
                </template>
            </template>

            <template v-else-if="selected_tab == 'connectors'">
                <templateconnectors v-if="case_template"
                    :template_connectors_list="case_template_connectors_list"
                    :all_connectors_list="all_connectors_list"
                    :is_case="true"
                    :object_id="case_template.id"
                    :cases_info="case_template"
                    @case_connectors="(msg) => fetch_case_template_connectors()"
                    @task_connectors="">
                </templateconnectors>
            </template>

            <template v-else-if="selected_tab == 'info'">
                <div class="row">
                    <div class="col-auto">
                        <fieldset class="analyzer-select-case" style="text-align: center;">
                            <legend class="analyzer-select-case">Time required</legend>
                            <i>[[case_template.time_required]]</i>
                        </fieldset>
                    </div>
                </div>
            </template>
        </div>
    </div>

    <hr class="fading-line-2 mt-4 mb-5">

    <div class="case-core-style">
        <div style="display: flex;">
            <h3>Tasks</h3>
            <span style="padding-left: 10px;">
                <a href="/templating/case/{{case_id}}/add_task" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </span>
        </div>

        <template v-if="tasks_list">
            <div id="list-container">
                <template v-for="template, key in tasks_list" :key="template.id">
                    <div :id="`template-${template.id}`" class="list-group" style="margin-bottom: 20px;">
                        <task_template :template="template" :key_loop="key" :templates_list="tasks_list" :task_in_case="true" :case_id="case_template.id"></task_template>
                    </div>
                </template>
            </div>
        </template>
        <template v-else>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </template>
    </div>
</template>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, onMounted, nextTick } = Vue
        import task_template from '/static/js/templating/task_template.js'
        import tags_edition from '/static/js/case/tags_edition.js'
        import {display_toast, message_list} from '/static/js/toaster.js'
        import templateconnectors from '/static/js/templating/TemplateConnectors.js'


        createApp({
            delimiters: ['[[', ']]'],
            components: {
                task_template,
                tags_edition,
                templateconnectors
            },
            setup() {
                const case_template = ref()
                const tasks_list = ref(null)
                const selected_tab = ref("main")

                let editor
                const note_editor_render = ref("")
                const edit_mode = ref(false)

                const md = window.markdownit()			// Library to Parse and display markdown
		        md.use(mermaidMarkdown.default)			// Use mermaid library

                const case_template_connectors_list = ref([])
                const all_connectors_list = ref([])

                async function fetch_case_template() {
                    const res = await fetch(
                        '/templating/get_case_template/{{case_id}}'
                    )
                    let loc = await res.json()
                    case_template.value = loc["template"]
                }

                async function fetchTasks() {
                    tasks_list.value = null
                    const res = await fetch(
                        '/templating/get_task_by_case/'+window.location.pathname.split("/").slice(-1)
                    )
                    let loc = await res.json()
                    tasks_list.value = loc["tasks"]
                }

                async function delete_case(case_template_id){
                    const res = await fetch("/templating/delete_case/"+case_template_id)
                    return window.location.href = "/templating/cases"
                }

                async function fetch_case_template_connectors(){
                    const res = await fetch("/templating/"+ window.location.pathname.split("/").slice(-1) +"/get_case_template_connector_instances")
                    if(await res.status==404 ){
                        display_toast(res)
                    }else{
                        let loc = await res.json()
                        case_template_connectors_list.value = loc["connector_instances"]
                    }
                }
                
                async function fetch_connectors(){
                    const res = await fetch("/case/get_connectors")
                    if(await res.status==404 ){
                        display_toast(res)
                    }else{
                        let loc = await res.json()
                        all_connectors_list.value = loc["connectors"]
                    }
                }

                async function fork_case(case_id){
                    if(await fetch_case_title($("#case_title_fork").val())){
                        $("#collapseForkBody").append(
                            $("<span>").text("Already exist").css("color", 'red')
                        )
                    }else{
                        const res = await fetch("/templating/create_case_from_template/" + case_id,{
                                headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                                method: "POST",
                                body: JSON.stringify({"case_title_fork": $("#case_title_fork").val()})
                            })
                        let loc = await res.json()
                        window.location.href="/case/" + loc["new_case_id"]
                    }
                }

                async function fetch_case_title(case_title_fork){
                    const res = await fetch("/case/check_case_title_exist?title="+case_title_fork)
                    let loc = await res.json()
                    if(loc["title_already_exist"]){
                        return true
                    }
                    return false
                }

                function prepare_editor(){
                    md.mermaid.init()
                    const targetElement = document.getElementById('editor')
                    editor = new Editor.EditorView({
                        doc: case_template.value.notes,
                        extensions: [Editor.basicSetup, Editor.markdown(),Editor.EditorView.updateListener.of((v) => {
                            if (v.docChanged) {
                                note_editor_render.value = editor.state.doc.toString()
                            }
                        })],
                        parent: targetElement
                    })
                }

                async function active_tab(tab_name){
                    if(tab_name == 'main'){
                        selected_tab.value = 'main'
                        if ( !document.getElementById("tab-main").classList.contains("active") ){
                            document.getElementById("tab-main").classList.add("active")
                            document.getElementById("tab-connectors").classList.remove("active")
                            document.getElementById("tab-note").classList.remove("active")
                            document.getElementById("tab-info").classList.remove("active")
                        }
                    }else if(tab_name == 'note'){
                        let loc_tab = selected_tab.value
                        
                        selected_tab.value = 'note'
                        if ( !document.getElementById("tab-note").classList.contains("active") ){
                            document.getElementById("tab-note").classList.add("active")
                            document.getElementById("tab-connectors").classList.remove("active")
                            document.getElementById("tab-main").classList.remove("active")
                            document.getElementById("tab-info").classList.remove("active")
                        }
                        await nextTick()
                        if(!case_template.value.notes && loc_tab != 'note'){                            
                            const targetElement = document.getElementById('editor')
                            editor = new Editor.EditorView({
                                doc: "\n\n",
                                extensions: [Editor.basicSetup, Editor.markdown(),Editor.EditorView.updateListener.of((v) => {
                                    if (v.docChanged) {
                                        note_editor_render.value = editor.state.doc.toString()
                                    }
                                })],
                                parent: targetElement
                            })
                        }else{
                            prepare_editor()
                        }
                    }else if(tab_name == 'connectors'){
                        selected_tab.value = 'connectors'
                        if ( !document.getElementById("tab-connectors").classList.contains("active") ){
                            document.getElementById("tab-connectors").classList.add("active")
                            document.getElementById("tab-main").classList.remove("active")
                            document.getElementById("tab-note").classList.remove("active")
                            document.getElementById("tab-info").classList.remove("active")
                        }
                        await nextTick()
                    }else if(tab_name == 'info'){
                        selected_tab.value = 'info'
                        if ( !document.getElementById("tab-info").classList.contains("active") ){
                            document.getElementById("tab-info").classList.add("active")
                            document.getElementById("tab-main").classList.remove("active")
                            document.getElementById("tab-note").classList.remove("active")
                            document.getElementById("tab-connectors").classList.remove("active")
                        }
                    }
                }

                async function edit_note(){
                    edit_mode.value = true
                    
                    note_editor_render.value = case_template.value.notes
                    await nextTick()
                    // prepare_editor()
                    md.mermaid.init()
                    const targetElement = document.getElementById('editor')
                    editor = new Editor.EditorView({
                        doc: case_template.value.notes,
                        extensions: [Editor.basicSetup, Editor.markdown(),Editor.EditorView.updateListener.of((v) => {
                            if (v.docChanged) {
                                note_editor_render.value = editor.state.doc.toString()
                            }
                        })],
                        parent: targetElement
                    })
                }

                async function save_note_case(){
                    let notes_loc = editor.state.doc.toString()
                    if(notes_loc.trim().length == 0){
                        notes_loc = notes_loc.trim()
                    }
                    const res_msg = await fetch(
                        '/templating/case/'+case_template.value.id+'/modif_note_case',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"notes": notes_loc})
                        }
                    )
                    if(await res_msg.status == 200){
                        edit_mode.value = false
                        case_template.value.notes = notes_loc
                        // notes.value = notes_loc
                        await nextTick()
                        
                        if(!notes_loc){
                            const targetElement = document.getElementById('editor')
                            if(targetElement.innerHTML === ""){
                                editor = new Editor.EditorView({
                                    doc: "\n\n",
                                    extensions: [Editor.basicSetup, Editor.markdown(),Editor.EditorView.updateListener.of((v) => {
                                        if (v.docChanged) {
                                            note_editor_render.value = editor.state.doc.toString()
                                        }
                                    })],
                                    parent: targetElement
                                })
                            }
                            
                        }
                        md.mermaid.init()
                    }
                    await display_toast(res_msg)
                }

                onMounted( async () => {
                    await fetch_case_template()
                    fetch_case_template_connectors()
                    fetch_connectors()
                    await fetchTasks()

                    const options = {
                        animation: 150,
                        handle: '.list-group-item', // Only drag by header
                        ghostClass: 'dragging-ghost',  // class applied to the clone while dragging
                        onEnd: async function(evt) {
                            let task
                            for(let i in tasks_list.value){
                                if (tasks_list.value[i].id == evt.item.id.split("-")[1]){
                                    task = tasks_list.value[i]
                                    break
                                }
                            }
                            if(evt.newIndex != evt.oldIndex){
                                const dataToSend = {"new-index": evt.newIndex}

                                // Send via fetch to backend
                                const res = await fetch('/templating/case/'+case_template.value.id+'/change_order/'+evt.item.id.split("-")[1], {
                                    method: 'POST',
                                    headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                                    body: JSON.stringify(dataToSend)
                                })
                                if(await res.status == 200){
                                    // let task = tasks_list.value.tasks.find(t => t.id === evt.item.id.split("-")[1]);
                                    
                                    // Sort tasks by case_order_id ascending
                                    let tasks = tasks_list.value

                                    // Find the task whose case_order_id matches new-index + 1
                                    const newIndex = evt.newIndex
                                    const target_task = tasks.find(t => t.case_order_id === newIndex + 1);

                                    const moving_task = task;

                                    // Find target index in the sorted array
                                    const target_index = tasks.indexOf(target_task);

                                    // Remove moving_task from array
                                    const movingIndex = tasks.indexOf(moving_task);
                                    if (movingIndex !== -1) {
                                    tasks.splice(movingIndex, 1);
                                    }

                                    // Insert moving_task before target_index
                                    tasks.splice(target_index, 0, moving_task);

                                    // Reassign case_order_id starting at 1
                                    tasks.forEach((t, i) => {
                                        t.case_order_id = i + 1;
                                    });
                                }
                                display_toast(res)
                            }
                        }
                    };

                    new Sortable(document.getElementById('list-container'), options);

                    $("#id-nb-connectors").removeClass("d-none")
                })
                

                return {
                    message_list,
                    case_template,
                    tasks_list,
                    case_template_connectors_list,
                    all_connectors_list,
                    selected_tab,
                    note_editor_render,
                    edit_mode,
                    md,

                    active_tab,
                    delete_case,
                    fork_case,

                    edit_note,
                    save_note_case,
                    fetch_case_template_connectors,


                    getTextColor,
                    mapIcon
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}