<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div>
        <h2 style="display: inline-block; font-size: xxx-large;"><a type="button" class="btn" href="/templating/tasks"><i class="fa-solid fa-arrow-left"></i></a></h2>
        <h2 style="display: inline-block;">Create a Task template</h2>
        <hr>

        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.template_id }}
            
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.title.label(class_="col-form-label")}}:
                    {{form.title(class_="form-control")}}
                    {% if form.title.errors %}
                        <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    <label for="description" class="col-form-label">Description:</label>
                    {{form.body(class_="form-control")}}
                    {% if form.body.errors %}
                        <div style="color: red;">{{form.body.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.time_required.label(class_="col-form-label")}}:
                    {{form.time_required(class_="form-control")}}
                    {% if form.time_required.errors %}
                        <div style="color: red;">{{form.time_required.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>

            <hr>
            <div class="accordion mt-4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCustom" aria-expanded="false" aria-controls="collapseCustom">
                            Custom Tags <i class="fa fa-question" title="Add custom tags to the case" style="margin-left: 5px;"></i>
                        </button>
                    </h2>
                    <div id="collapseCustom" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div v-if="custom_tags" class="col-6">
                                <select data-placeholder="Custom Tags" class="select2-select form-control" multiple name="custom_select" id="custom_select" >
                                    <template v-for="c_t, key in custom_tags">
                                        <option :value="[[c_t.name]]">[[c_t.name]]</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion mt-4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Taxonomies <i class="fa fa-question" title="Add taxonomies to the case" style="margin-left: 5px;"></i>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div v-if="taxonomies" class="col-4">
                                    <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                                        <template v-for="taxonomy, key in taxonomies">
                                            <option :value="[[taxonomy]]">[[taxonomy]]</option>
                                        </template>
                                    </select>
                                </div>
                                
                                <div v-if="tags_list" class="col-4">
                                    <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                                        <template v-for="(tags, taxo) in tags_list">
                                            <optgroup :label="[[taxo]]">
                                                <option :value="[[tag.name]]" :title="tag.description" v-for="tag in tags">[[tag.name]]</option>
                                            </optgroup>
                                        </template>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion mt-4 mb-4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Galaxies <i class="fa fa-question" title="Add galaxies to the case" style="margin-left: 5px;"></i>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div v-if="galaxies" class="col-4">
                                    <select data-placeholder="Galaxies" class="select2-select form-control" multiple name="galaxies_select" id="galaxies_select" >
                                        <template v-for="galaxy, key in galaxies">
                                            <option :value="[[galaxy.name]]">[[galaxy.name]]</option>
                                        </template>
                                    </select>
                                </div>
                                
                                <div v-if="cluster_list" class="col-4">
                                    <select data-placeholder="Cluster" class="select2-select form-control" multiple name="clusters_select" id="clusters_select" >
                                        <template v-for="(clusters, galaxy) in cluster_list">
                                            <optgroup :label="[[galaxy]]">
                                                <option :value="[[cluster.name]]" :title="cluster.description" v-for="cluster in clusters">[[cluster.tag]]</option>
                                            </optgroup>
                                        </template>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{form.submit(class='btn btn-primary')}}
        </form>
    </div>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, onMounted, nextTick, ref} = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const taxonomies = ref([])
            const tags_list = ref([])
            const selected_taxo = ref([])

            const galaxies = ref([])
            const cluster_list = ref([])
            const selected_galaxies = ref([])

            const custom_tags = ref([])

            async function fetch_taxonomies(){
                const res = await fetch("/case/get_taxonomies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    taxonomies.value = loc["taxonomies"]
                }
            }
            fetch_taxonomies()

            async function fetch_galaxies(){
                const res = await fetch("/case/get_galaxies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    galaxies.value = loc["galaxies"]
                }
            }
            fetch_galaxies()

            async function fetch_tags(){
                tags_list.value = []
                const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(selected_taxo.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_list.value = loc["tags"]
                    $('#tags_select').trigger('change');
                }
            }

            async function fetch_cluster(){
                cluster_list.value = []
                const res = await fetch("/case/get_clusters?galaxies=" + JSON.stringify(selected_galaxies.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    cluster_list.value = loc["clusters"]
                    $('#clusters_select').trigger('change');
                }
            }

            async function fetch_custom_tags(){
                const res = await fetch("/custom_tags/list")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    custom_tags.value = loc
                }
            }

            onMounted(() => {
                fetch_custom_tags()

                $('.select2-select').select2({
                    theme: 'bootstrap-5',
                    closeOnSelect: false
                })

                $('#taxonomies_select').on('change.select2', function (e) {
                    selected_taxo.value = $(this).select2('data').map(item => item.id);
                    fetch_tags()
                })
                $('#galaxies_select').on('change.select2', function (e) {
                    selected_galaxies.value = $(this).select2('data').map(item => item.id);
                    fetch_cluster()
                })
            })

            return {
                selected_taxo,
                message_list,
                taxonomies,
                galaxies,
                tags_list,
                cluster_list,
                custom_tags
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}