<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block head %}
<script src="{{ url_for('static',filename='js/vendor/markdown-it.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/vendor/codemirror.js') }}"></script>

{{ super() }}
{%endblock%}

{% block content %}
    <h2 class="case-core-style" style="border-radius: 0;">Edit a Task template</h2>
    <hr class="fading-line-2 mt-4 mb-4">

    <form action="" method="post" id="form" class="case-core-style">
        {{ form.hidden_tag() }}
        {{ form.template_id }}
        <div class="row">
            <div class="mb-3 w-50">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                {{form.time_required.label(class_="col-form-label")}}:
                {{form.time_required(class_="form-control")}}
                {% if form.time_required.errors %}
                    <div style="color: red;">{{form.time_required.errors[0] | safe}}</div>
                {%endif%}
            </div>
        </div>
        
        <div class="row">
            <span class="mb-2">Description:</span>
            <div style="display: flex">
                <div class="note-editor" id="editor"></div>
                <div class="markdown-render" v-html="md.render(note_editor_render)"></div>
                <textarea id="description" name="description" hidden :value="note_editor_render" type="text"></textarea>
            </div>
        </div>

        <hr style="margin-top: 40px; margin-bottom: 40px;">

        <edition_select 
            :type_object="'task_template'"
            @st="(msg) => selected_tags=selected_tags.concat(msg)"
            @sc="(msg) => selected_clusters=selected_clusters.concat(msg)"
            @sg="(msg) => selected_galaxies=selected_galaxies.concat(msg)"
            @sct="(msg) => selected_custom_tags=selected_custom_tags.concat(msg)"
            @delete_st="(msg) => selected_tags.splice(msg, 1)"
            @delete_sc="(msg) => selected_clusters.splice(msg, 1)"
            @delete_sg="(msg) => selected_galaxies.splice(msg, 1)"
            @delete_sct="(msg) => selected_custom_tags.splice(msg, 1)"
        >
        </edition_select>
        
        <div style="margin-top: 10px;">
            <button class="btn btn-primary" @click="submit_form()">Save</button>
        </div>
    </form>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, onMounted, nextTick, ref} = Vue
    import {message_list} from '/static/js/toaster.js'
    import edition_select from '/static/js/case/edition_select.js'
    const { EditorView, basicSetup, languages } = window.CodeMirrorBundle;

    createApp({
        delimiters: ['[[', ']]'],
        components: {
            edition_select
        },
        setup() {
            const selected_tags = ref([])
            const selected_clusters = ref([])
            const selected_galaxies = ref([])
            const selected_custom_tags = ref([])

            let editor
            const md = window.markdownit()
            const description_content = `{{description | safe}}`
            const note_editor_render = ref(description_content)

            function submit_form(){
                $("#form").submit( function(eventObj) {
                    $.each(selected_clusters.value, function(i, v){
                        var input = $("<input>").attr({"type":"hidden","name":"clusters_select"}).val(v.uuid);
                        $('#form').append(input);    
                    });
                    $.each(selected_tags.value, function(i, v){
                        var input = $("<input>").attr({"type":"hidden","name":"tags_select"}).val(v.name);
                        $('#form').append(input);    
                    });
                    $.each(selected_custom_tags.value, function(i, v){
                        var input = $("<input>").attr({"type":"hidden","name":"custom_select"}).val(v.name);
                        $('#form').append(input);    
                    });
                    $.each(selected_galaxies.value, function(i, v){
                        var input = $("<input>").attr({"type":"hidden","name":"galaxies_select"}).val(v.uuid);
                        $('#form').append(input);    
                    });
                    return true;
                });
            }

            onMounted( () => {
                const targetElement = document.getElementById('editor')
                if(targetElement && targetElement.innerHTML === ""){
                    editor = new EditorView({
                        doc: description_content,
                        extensions: [basicSetup, languages.markdown(),EditorView.updateListener.of((v) => {
                            if (v.docChanged) {
                                note_editor_render.value = editor.state.doc.toString()
                            }
                        })],
                        parent: targetElement
                    })
                }
            })

            return {
                message_list,

                selected_tags,
                selected_clusters,
                selected_galaxies,
                selected_custom_tags,

                note_editor_render,
                md,

                submit_form,
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}
