<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/components/theme-bridge.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/components/smart-editor.css') }}">

{{ super() }}
{%endblock%}

{% block content %}
    <h5 class="mb-0 case-core-style" style="border-radius: 0;"><i class="fa-solid fa-folder-open me-2"></i>Edit a case template</h5>
    <hr class="fading-line-2 mt-4 mb-4">
    <form action="" method="post" id="form">
        {{ form.hidden_tag() }}
        {{ form.template_id }}
        <div class="case-core-style" style="min-height: 70px;">
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.title.label(class_="col-form-label")}} <span class="text-danger">*</span>
                    {{form.title(class_="form-control", required=True)}}
                    {% if form.title.errors %}
                        <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    {{form.time_required.label(class_="col-form-label")}}:
                    {{form.time_required(class_="form-control")}}
                    {% if form.time_required.errors %}
                        <div style="color: red;">{{form.time_required.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="row">
                <span class="mb-2">Description:</span>
                <smart_editor v-model="note_editor_render" mode="markdown" name="description_editor" placeholder="Describe the case…" :show-line-numbers="true" max-height="260px"></smart_editor>
                <textarea id="description" name="description" hidden :value="note_editor_render" type="text"></textarea>
            </div>

            <div class="d-flex gap-2" style="margin-top: 10px;">
                <a href="/templating/case/{{ form.template_id.data }}" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
<script type="module">
    const { createApp, ref } = Vue
    import {message_list} from '/static/js/toaster.js'
    import smart_editor from '/static/js/components/smart-editor.js'

    createApp({
        delimiters: ['[[', ']]'],
        components: {
            smart_editor
        },
        setup() {
            const description_content = {{ (description or '') | tojson }}
            const note_editor_render = ref(description_content)

            return {
                message_list,
                note_editor_render,
            }
        }
    }).mount('#main-container')
</script>
{% endblock %}
