<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Analyzers 
            <i class="fa fa-question" title="Select text from note present in case or tasks" style="font-size: initial;"></i>
            <a class="btn btn-outline-primary mt-1 mx-3" href="/analyzer/config" style="float: right">
                Config
            </a>
            <a type="button" class="btn btn-outline-primary position-relative mt-1 mx-2" href="/analyzer/pending" style="float: right">
                Pending
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <!-- Change here -->
                    [[len_pending_results]]
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
        </h1>
        
    </div>
    <hr>

    <div id="top"></div>

    <div>
        Select an Analyzer: 
        <select data-placeholder="Select an analyzer" class="select2-select-analyzer form-control" name="analyzer_select" id="analyzer_select">
            <option value="None">--</option>
            <option v-for="analyzer, key in analyzers_list" :value="key">[[analyzer.name]]</option>
        </select>
        <span id="error-selector" style="color: brown;"></span>
    </div>
    <hr>

    <div class="row">
        <div class="col-6">
            <fieldset class="analyzer-select-case">
                <legend class="analyzer-select-case">Select a Case</legend>
                <div id="case-search" class="d-none">
                    <div class="d-none d-md-flex input-group w-auto my-auto justify-content-center" id="search-form">
                        <input id="case-search-input" @input="onInputCase" type="search" class="form-control rounded" placeholder='Search case by title' style="min-width: 350px;" />
                    </div>
                    <div v-if="result_search && result_search.length" class="search-result justify-content-center" style="z-index: 1;">
                        <div v-for="case_search in result_search" style="margin-bottom: 2px;">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            <a v-if="case_search.description" @click="select_case(case_search)" :title="case_search.description" style="cursor: pointer;">[[case_search.title]]</a>
                            <a v-else @click="select_case(case_search)" title="No description" style="cursor: pointer;">[[case_search.title]]</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-6">
            <fieldset class="analyzer-select-case d-none" id="task-search">
                <legend class="analyzer-select-case">Select a Task</legend>
                <select data-placeholder="Select a Task" class="select2-select form-control" name="task_select" id="task_select">
                    <option value="None">--</option>
                    <template v-for="task, key in result_search_task">
                            <option :value="key" :selected="task.id == '{{task_id}}'">[[task.title]] </option>
                    </template>
                </select>
            </fieldset>
        </div>
    </div>
    <button class="btn btn-primary" @click="submit()">Submit</button>

    <div class="row">
        <div class="col-6">
            <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                <li class="nav-item">
                    <button :disabled="!case_selected || !case_selected.notes" class="nav-link" id="tab-case-notes" @click="active_tab('case')">Case notes</button>
                </li>
                <li class="nav-item">
                    <button :disabled="!case_selected || !case_selected.notes" class="nav-link" id="tab-all-notes" @click="active_tab('all')">All Tasks notes</button>
                </li>
                <li class="nav-item">
                    <button :disabled="!task_selected || !task_selected.notes" class="nav-link" id="tab-task-notes" @click="active_tab('task')">Task notes</button>
                </li>
            </ul>
            
            <div v-if="main_tab == 'case'">
                <h6>Select note</h6>
                <div class="card card-body" v-html="md.render(case_selected.notes)"></div>
            </div>
            <div v-else-if="main_tab == 'all'">
                <h6>Select note</h6>
                <template v-for="notes in all_notes">
                    <div class="all-tasks-notes" v-html="md.render(notes)"></div>
                </template>
            </div>
            <div v-else-if="main_tab == 'task'">
                <h6>Select note</h6>
                <h1 title="task's title"><u>[[task_selected.title]]</u></h1>
                <template v-for="note, key in task_selected.notes">
                    <div class="all-tasks-notes" v-html="md.render(note.note)"></div>
                </template>
            </div>
        </div>
        <div class="analyse-editor-container d-none" style="margin-top: 50px;">
            <h6>Note selected</h6>
            <div class="card card-body">
                <div id="editor-selected-notes"></div>
            </div>
        </div>
    </div>
    <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
    <div id="insert_form"></div>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, onMounted, nextTick } = Vue
        import {display_toast, message_list, create_message} from '/static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const result_search = ref([])
                const result_search_task = ref([])
                const case_selected = ref()
                const task_selected = ref()
                const main_tab = ref()
                const all_notes = ref()
                const analyzers_list = ref([])

                const len_pending_results = ref(0)

                let editor = ""

                const md = window.markdownit()			// Library to Parse and display markdown
		        md.use(mermaidMarkdown.default)			// Use mermaid library

                async function fetchAnalyzers() {
                    analyzers_list.value = null
                    const res = await fetch(
                        '/analyzer/analyzers_data'
                    )
                    analyzers_list.value = await res.json()
                }
                fetchAnalyzers()

                async function fetch_len_pending(){
                    const res = await fetch('/analyzer/get_len_pending_result')
                        if (await res.status == 200){
                            let loc = await res.json()
                            len_pending_results.value = loc["len"]
                        }
                        else{
                            display_toast(res)
                        }
                }
                fetch_len_pending()


                async function onInputCase(e){
                    result_search.value = []
                    if(e.target.value){
                        const res = await fetch('/case/search?text='+e.target.value)
                        if (await res.status == 200){
                            let loc = await res.json()
                            result_search.value = loc["cases"]
                        }
                        else{
                            display_toast(res)
                        }
                    }
                }

                async function select_case(case_search){
                    case_selected.value = case_search
                    result_search.value = []
                    $("#case-search-input").val(case_search.title)
                    $('#task-search').removeClass('d-none')
                    $('.analyse-editor-container').removeClass('d-none')

                    const res = await fetch("/case/"+case_selected.value.id+"/all_notes")
                    let loc = await res.json()
                    all_notes.value = loc["notes"]

                    const res_task = await fetch("/case/"+case_selected.value.id+"/sort_by_ongoing_task")
                    let loc_task = await res_task.json()
                    result_search_task.value = loc_task

                    $('.select2-select').select2({
                        theme: 'bootstrap-5',
                        width: '100%'
                    })

                    $('#task_select').on('change.select2', function (e) {
                        let loc = $(this).select2('data').map(item => item.id);
                        task_selected.value = result_search_task.value[loc]
                    })

                }

                async function active_tab(tab_name){
                    if(tab_name == 'case'){
                        main_tab.value = 'case'
                        if ( !document.getElementById("tab-case-notes").classList.contains("active") ){
                            document.getElementById("tab-case-notes").classList.add("active")
                            document.getElementById("tab-all-notes").classList.remove("active")
                            document.getElementById("tab-task-notes").classList.remove("active")
                        }
                        await nextTick()
                    }
                    if(tab_name == 'all'){
                        main_tab.value = 'all'
                        if ( !document.getElementById("tab-all-notes").classList.contains("active") ){
                            document.getElementById("tab-all-notes").classList.add("active")
                            document.getElementById("tab-case-notes").classList.remove("active")
                            document.getElementById("tab-task-notes").classList.remove("active")
                            await nextTick()
                        }
                    }else if(tab_name == 'task'){
                        main_tab.value = 'task'
                        if ( !document.getElementById("tab-task-notes").classList.contains("active") ){
                            document.getElementById("tab-task-notes").classList.add("active")
                            document.getElementById("tab-case-notes").classList.remove("active")
                            document.getElementById("tab-all-notes").classList.remove("active")
                            await nextTick()
                        }
                    }
                    md.mermaid.init()
                }

                async function submit(){
                    $("#error-selector").text("")
                    let analyzer_select = $("#analyzer_select").val()
                    if(!analyzer_select || analyzer_select == 'None'){
                        $("#error-selector").text("Need to select an analyzer")
                        return
                    }

                    let analyzer_url = analyzers_list.value[analyzer_select].url
                    if(editor.state.doc.toString().trim().length){
                        $('#insert_form').append(
                            $('<form>').attr({"action": analyzer_url, "name": "analyzer_form", "method": "post", "style": "display:none"}).append(
                                $("<input>").attr({"type": "text", "name": "query"}).val(JSON.stringify(editor.state.doc.text))
                            )
                        );
                        document.forms['analyzer_form'].submit();
                    }else{
                        create_message("No note passed", 'warning-subtle', true)
                    }
                }

                onMounted(async () => {
                    $('.select2-select-analyzer').select2({
                        theme: 'bootstrap-5',
                        width: '50%'
                    })
                    $('#case-search').removeClass('d-none')

                    const targetElement = document.getElementById('editor-selected-notes')
                    editor = new Editor.EditorView({
                        doc: "\n\n",
                        extensions: [Editor.basicSetup, Editor.markdown()],
                        parent: targetElement
                    })

                    if("{{case_id}}"){
                        const res = await fetch('/case/get_case/{{case_id}}')
                        let loc = await res.json()
                        await select_case(loc)

                        for(let i in result_search_task.value){
                            if(result_search_task.value[i].id == '{{task_id}}'){
                                task_selected.value = result_search_task.value[i]
                                break
                            }
                        }
                    }
                })

                return {
                    message_list,
                    result_search,
                    result_search_task,
                    main_tab,
                    case_selected,
                    task_selected,
                    all_notes,
                    md,
                    analyzers_list,
                    len_pending_results,
                    onInputCase,
                    select_case,
                    active_tab,
                    submit
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}