<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <h1>Analyzers</h1>
    <hr>

    <div id="top"></div>

    <div class="row">
        <div class="col-6">
            <fieldset class="analyzer-select-case">
                <legend class="analyzer-select-case">Select a Case</legend>
                <div id="case-search" class="d-none">
                    <div class="d-none d-md-flex input-group w-auto my-auto justify-content-center" id="search-form">
                        <input id="case-search-input" @input="onInputCase" type="search" class="form-control rounded" placeholder='Search case by title' style="min-width: 350px;" />
                    </div>
                    <div v-if="result_search && result_search.length" class="search-result justify-content-center" style="z-index: 1;">
                        <div v-for="case_search in result_search" style="margin-bottom: 2px;">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            <a v-if="case_search.description" @click="select_case(case_search)" :title="case_search.description" style="cursor: pointer;">[[case_search.title]]</a>
                            <a v-else @click="select_case(case_search)" title="No description" style="cursor: pointer;">[[case_search.title]]</a>
                        </div>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <div class="d-none" id="radio_case_task_hide">
                        <input type="radio" id="case_radio" name="case_task_radio" value="Case" checked @click="select_case_task(true)">
                        <label for="case_radio">Case</label>
                        <br>
                        <input type="radio" id="task_radio" name="case_task_radio" value="Tasks" @click="select_case_task(false)">
                        <label for="task_radio">Tasks</label>
                    </div>
                </div>
                 <!-- Button trigger Collapse -->
                <button id="button-collapse-case" class="btn btn-secondary mt-2" @click="open_collapse_case()" data-bs-toggle="collapse" data-bs-target="#collapseCase" aria-expanded="false" aria-controls="collapseCase">
                    New case
                </button>
                <div class="collapse" id="collapseCase">
                    <div class="card card-body">
                        <div class="mb-3">
                            <label for="case-title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="case-title" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="case-description" class="form-label">Description</label>
                            <textarea class="form-control" id="case-description"></textarea>
                        </div>
                    </div>
                </div>
                
                <br>
                <a v-if="case_selected" :href="'/case/'+case_selected.id">See case</a>
            </fieldset>
        </div>

        <div class="col-6">
            <fieldset class="analyzer-select-case" v-if="!bool_case_task_note">
                <legend class="analyzer-select-case">Select a Task</legend>
                <template v-if="!create_case && !create_task">
                    <select data-placeholder="Select a Task" class="select2-select form-control" name="task_select" id="task_select">
                        <option value="None">--</option>
                        <template v-for="task, key in result_search_task">
                            <option :value="key">[[task.title]]</option>
                        </template>
                    </select>
                    <div v-if="task_selected">
                        <input type="radio" id="task_create_radio" name="task_note_radio" value="create" @click="select_task_note(true)">
                        <label for="task_create_radio">Create a new note</label>
                        <br>
                        <template v-if="task_selected.nb_notes > 0">
                            <input type="radio" id="task_edit_radio" name="task_note_radio" value="Tasks" @click="select_task_note(false)">
                            <label for="task_edit_radio">Edit existing note</label>
                            <select data-placeholder="Select a Task" class="select2-select-note form-control d-none" name="task_note_select" id="task_note_select">
                                <option value="None">--</option>
                                <template v-for="note, key in task_selected.notes">
                                    <option :value="key"># Note [[key]]</option>
                                </template>
                            </select>
                        </template>
                        <br>
                        <a :href="'/case/'+case_selected.id+'#task-'+task_selected.id">See task</a>
                    </div>
                </template>
                <button id="button-collapse-task" class="btn btn-secondary mt-2" data-bs-toggle="collapse" data-bs-target="#collapseTask" aria-expanded="false" aria-controls="collapseTask">
                    New task
                </button>
                <div class="collapse" id="collapseTask">
                    <div class="card card-body">
                        <div class="mb-3">
                            <label for="task-title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="task-title" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="task-description" class="form-label">Description</label>
                            <textarea class="form-control" id="task-description"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <button class="btn btn-primary" @click="submit()">Submit</button>
    <hr>
    <div class="row">
        <div class="col-6">
            <h6>Note selected</h6>
            <div class="card card-body">
                [[note_selected]]
            </div>
        </div>
        <div class="col-6 note-editor-container d-none" id="editor_id">
            <h6>Note to edit</h6>
            <div id="editor-selected-notes" class="card card-body"></div>
        </div>
    </div>
    

    <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, onMounted, nextTick } = Vue
        import {display_toast, message_list, create_message} from '/static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const result_search = ref([])
                const result_search_task = ref([])
                const case_selected = ref()
                const task_selected = ref()
                const note_selected = ref()
                const bool_case_task_note = ref(true)
                const task_note_index = ref()
                const create_case = ref(false)
                const create_task = ref(false)

                let editor = ""

                async function fetch_note_selected(){
                    note_selected.value = {}
                    const res = await fetch("/analyzer/get_note_selected")
                    let loc = await res.json()
                    note_selected.value = loc
                }
                fetch_note_selected()

                function setEditor(note){
                    if(!editor){
                        const targetElement = document.getElementById('editor-selected-notes')
                        editor = new Editor.EditorView({
                            doc: note,
                            extensions: [Editor.basicSetup, Editor.markdown()],
                            parent: targetElement
                        })
                    }else{
                        editor.dispatch({
                            changes: {from: 0, to: editor.state.doc.toString().length, insert: note}
                        })
                    }
                }

                async function onInputCase(e){
                    result_search.value = []
                    if(e.target.value){
                        const res = await fetch('/case/search?text='+e.target.value)
                        if (await res.status == 200){
                            let loc = await res.json()
                            result_search.value = loc["cases"]
                        }
                        else{
                            display_toast(res)
                        }
                    }else{
                        $("#button-collapse-case").removeClass('d-none')
                        $("#collapseCase").removeClass('d-none')
                        bool_case_task_note.value = true
                        setEditor("\n\n")
                    }
                }

                async function select_case(case_search){
                    $("#editor_id").removeClass('d-none')
                    $("#button-collapse-case").addClass('d-none')
                    $("#collapseCase").addClass('d-none')
                    $("#collapseCase").removeClass('show')
                    case_selected.value = case_search
                    result_search.value = []
                    $("#case-search-input").val(case_search.title)
                    $('.analyse-editor-container').removeClass('d-none')
                    $('#radio_case_task_hide').removeClass('d-none')
                    create_case.value = false

                    const res_task = await fetch("/case/"+case_selected.value.id+"/sort_by_ongoing_task")
                    let loc_task = await res_task.json()
                    result_search_task.value = loc_task

                    $("#case_radio").prop('checked', true)

                    await select_case_task(true)
                }

                async function select_case_task(case_task){
                    $("#editor_id").removeClass('d-none')
                    bool_case_task_note.value = case_task

                    await nextTick()

                    if(!case_task){
                        if(!create_case.value){
                            $("#editor_id").addClass('d-none')
                        }
                        $('.select2-select').select2({
                            theme: 'bootstrap-5',
                            width: '100%'
                        })
                        
                        $('#task_select').on('change.select2', function (e) {
                            let loc = $(this).select2('data').map(item => item.id);
                            task_selected.value = result_search_task.value[loc]
                            if(editor){
                                editor.dispatch({
                                    changes: {from: 0, to: editor.state.doc.toString().length, insert: "\n\n"}
                                })
                            }
                        })
                        const myCollapsibleTask = document.getElementById('collapseTask')
                        myCollapsibleTask.addEventListener('hidden.bs.collapse', event => {
                            create_task.value = false
                            $("#editor_id").addClass('d-none')
                            editor.dispatch({
                                changes: {from: 0, to: editor.state.doc.toString().length, insert: "\n\n"}
                            })
                        })
                        myCollapsibleTask.addEventListener('show.bs.collapse', event => {
                            task_selected.value = ""
                            create_task.value = true
                            $("#editor_id").removeClass('d-none')
                            editor.dispatch({
                                changes: {from: 0, to: editor.state.doc.toString().length, insert: "\n\n"}
                            })
                        })

                        setEditor("\n\n")
                    }else{
                        if(!create_case.value){
                            // Reset value to default
                            task_selected.value = null
                            task_note_index.value = null
                            setEditor(case_selected.value.notes)
                        }else{
                            setEditor("\n\n")
                        }
                    }
                }

                async function select_task_note(task_note_bool){
                    if(task_note_bool){
                        $("#editor_id").removeClass('d-none')
                        setEditor("\n\n")
                    }else{
                        $('#task_note_select').removeClass("d-none")
                        await nextTick()

                        $('.select2-select-note').select2({
                            theme: 'bootstrap-5',
                            width: '100%'
                        })
                        
                        $('#task_note_select').on('change.select2', function (e) {
                            let loc = $(this).select2('data').map(item => item.id);
                            task_note_index.value = loc
                            if(loc != "None"){
                                $("#editor_id").removeClass('d-none')
                                setEditor(task_selected.value["notes"][loc]["note"])
                            }
                        })
                    }
                }


                async function submit(){
                    let loc_url = ""
                    let loc_case_id
                    if(case_selected.value) loc_case_id = case_selected.value["id"]
                    else loc_case_id = ""

                    let prepare_request = {}
                    // Create a new case
                    if(create_case.value){
                        let case_title = $("#case-title").val()
                        if(!case_title){
                            create_message("Case need a title", 'warning-subtle', true)
                            return
                        }
                        let case_description = $("#case-description").val()
                        prepare_request["create_case"] = {"title": case_title, "description": case_description}
                    }
                    // Create a new task
                    if(create_task.value){
                        let task_title = $("#task-title").val()
                        if(!task_title){
                            create_message("Task need a title", 'warning-subtle', true)
                            return
                        }
                        let task_description = $("#task-description").val()

                        prepare_request["create_task"] = {"title": task_title, "description": task_description}
                        prepare_request["case_id"] = loc_case_id
                    }
                    // Edit an existing task, so it's not case notes
                    else if(task_note_index.value){
                        let task_id = task_selected.value["id"]
                        let case_id = task_selected.value["case_id"]
                        let note_id = task_selected.value["notes"][task_note_index.value]["id"]
                        prepare_request["existing_task_note"] = {"task_id": task_id, "case_id": case_id, "note_id": note_id}
                    }
                    // Create a new note for the task
                    else if (task_selected.value){
                        let task_id = task_selected.value["id"]
                        let case_id = task_selected.value["case_id"]
                        prepare_request["create_note"] = {"task_id": task_id, "case_id": case_id}
                    }
                    // Case note
                    else if(case_selected.value){
                        let case_id = case_selected.value["id"]
                        prepare_request["case_note"] = {"case_id": case_id}
                    }

                    prepare_request["notes"] = editor.state.doc.toString()

                    const res = await fetch("/analyzer/manage_notes_selected", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json"
                        },
                        body: JSON.stringify(prepare_request)
                    })
                    if(await res.status==400 ){
                        display_toast(res)
                        return
                    }else{
                        let loc = await res.json()
                        window.location.href='/case/'+loc["case_id"]
                    }
                }


                function open_collapse_case(){
                    create_case.value = true
                    $('#radio_case_task_hide').removeClass('d-none')
                    $("#editor_id").removeClass('d-none')
                    setEditor("\n\n")
                }

                onMounted(() => {
                    $('#case-search').removeClass('d-none')
                })

                return {
                    message_list,
                    result_search,
                    result_search_task,
                    case_selected,
                    task_selected,
                    note_selected,
                    bool_case_task_note,
                    create_case,
                    create_task,
                    onInputCase,
                    select_case,
                    submit,
                    select_case_task,
                    select_task_note,
                    open_collapse_case
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}