
{% extends 'base.html' %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static',filename='js/fullcalendar.global.min.js') }}"></script>
{%endblock%}

{% block content %}

<div>
    <!-- Modal -->
    <div class="modal fade" id="modal_task" tabindex="-1" aria-labelledby="modal_task_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_task_label">Modal title</h5>
                <div id="status_modal"></div>
                <button type="button" class="btn-close" aria-label="Close" @click="closeModal"></button>
            </div>
            <div class="modal-body" id="modal_body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="closeModal">Close</button>
                <a type="button" class="btn btn-primary" id="see_case">See case</a>
            </div>
            </div>
        </div>
    </div>


    <div class="card card-body" style="margin-bottom: 10px;">
        <div class="d-flex w-100 justify-content-evenly">
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioStatus" id="radioStatusOngoing" @click="select_task_filter()" checked>
                    <label class="form-check-label" for="radioStatusOngoing">Tasks</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioStatus" id="radioStatusFinished" @click="select_case_filter()">
                    <label class="form-check-label" for="radioStatusFinished">Case</label>
                </div>
            </div>

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOther" id="radioDeadLine" @click="select_dead_filter()" checked>
                    <label class="form-check-label" for="radioDeadLine">Deadline</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOther" id="radioCreation" @click="select_creation_filter()">
                    <label class="form-check-label" for="radioCreation">Creation</label>
                </div>
            </div>
        </div>
    </div>

    <div id="calendar" ></div>

</div>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, ref, nextTick, onMounted } = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const tasks = ref(null)
            const cases = ref(null)
            const status_info = ref(null)
            let flag_case_task = false
            let flag_dead_creation = true
            let modal_task = null

            var calendar


            async function fetch_task_calendar(current_month, flag_dead_creation_loc=true) {
                tasks.value = null
                const res = await fetch(
                    'get_task_month?date=' + current_month + "&dead_creation=" + flag_dead_creation_loc
                )
                let loc = await res.json()
                tasks.value = loc["tasks"]

                let loc_var
                for (let i=0; i<tasks.value.length; i++){
                    if(flag_dead_creation_loc) loc_var = tasks.value[i]["deadline"]
                    else loc_var = tasks.value[i]["creation_date"]

                    calendar.addEvent({
                        id: tasks.value[i]["id"],
                        start: date_parser(loc_var, true),
                        allDay: true,
                        title: tasks.value[i]["title"],
                        extendedProps: {
                            toJson: tasks.value[i]
                        }
                    })
                }
            }

            async function fetch_case_calendar(current_month, flag_dead_creation_loc=true){
                cases.value = null
                const res = await fetch(
                    'get_case_month?date=' + current_month + "&dead_creation=" + flag_dead_creation_loc
                )
                let loc = await res.json()
                cases.value = loc["cases"]

                let loc_var
                for (let i=0; i<cases.value.length; i++){
                    if(flag_dead_creation_loc) loc_var = cases.value[i]["deadline"]
                    else loc_var = cases.value[i]["creation_date"]

                    calendar.addEvent({
                        id: cases.value[i]["id"],
                        start: date_parser(loc_var, true),
                        allDay: true,
                        title: cases.value[i]["title"],
                        extendedProps: {
                            toJson: cases.value[i]
                        }
                    })
                }
            }

            async function fetchStatus() {
                status_info.value = null
                const res = await fetch(
                    '/case/get_status'
                )
                status_info.value = await res.json()
            }       


            function openModal(){
                modal_task.show()
            }

            function closeModal(){
                modal_task.hide()
            }

            function date_parser(date, flag_day=false){
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    year = d.getFullYear();
                    
                if (month.length < 2) 
                    month = '0' + month;

                if(flag_day){
                    var day = '' + d.getDate()
                    if (day.length < 2) 
                        day = '0' + day;
                    return [year, month, day].join('-');
                }

                return [year, month].join('-');
            }

            function select_case_filter(){
                calendar.removeAllEvents();
                fetch_case_calendar(date_parser(calendar.getDate()), flag_dead_creation)
                flag_case_task = true
            }
            function select_task_filter(){
                calendar.removeAllEvents();
                fetch_task_calendar(date_parser(calendar.getDate()), flag_dead_creation)
                flag_case_task = false
            }

            function select_dead_filter(){
                calendar.removeAllEvents();
                if(flag_case_task){
                    fetch_case_calendar(date_parser(calendar.getDate()), true)
                }else{
                    fetch_task_calendar(date_parser(calendar.getDate()), true)
                }
                flag_dead_creation = true
            }

            function select_creation_filter(){
                calendar.removeAllEvents();
                if(flag_case_task){
                    fetch_case_calendar(date_parser(calendar.getDate()), false)
                }else{
                    fetch_task_calendar(date_parser(calendar.getDate()), false)
                }
                flag_dead_creation = false
            }
            
            
            function onDateChange() {
                calendar.removeAllEvents();
            
                if(flag_case_task)
                    fetch_case_calendar(date_parser(calendar.getDate()), flag_dead_creation)
                else
                    fetch_task_calendar(date_parser(calendar.getDate()), flag_dead_creation)
            }


            onMounted(() => { 
                fetch_task_calendar(dayjs.utc().format('YYYY-MM'))
                fetchStatus()

                modal_task = new bootstrap.Modal('#modal_task', {})

                calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
                    initialView: 'dayGridMonth',
                    height: 'auto',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,listMonth'
                    },
                    views: {
                        listMonth: {
                            buttonText: 'List'
                        }
                    },
                    datesSet: function(info) {
                        onDateChange();
                    },
                    eventClick: function(info) {
                        $("#modal_task_label").text(info.event.extendedProps.toJson.title).css("margin-right", "5px")
                        $("#status_modal").empty()
                        $("#status_modal").append(
                            $("<span>").attr({"class": "badge rounded-pill text-bg-"+status_info.value.status[info.event.extendedProps.toJson.status_id -1].bootstrap_style}).text(
                                status_info.value.status[ info.event.extendedProps.toJson.status_id -1].name
                            )
                        )
                        $("#modal_body").text(info.event.extendedProps.toJson.description)
                        if(info.event.extendedProps.toJson.case_id)
                            $("#see_case").attr("href", "/case/" + info.event.extendedProps.toJson.case_id)
                        else
                            $("#see_case").attr("href", "/case/" + info.event.extendedProps.toJson.id)
                        
                        openModal()
                    }
                });

                calendar.render();
            })


            return {
                message_list,
                openModal, closeModal, select_case_filter, select_task_filter, select_dead_filter, select_creation_filter
            }
        }
    }).mount('#main-container')

</script>

{% endblock %}


