
{% extends 'base.html' %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static',filename='js/calendar/fullcalendar.global.min.js') }}"></script>

<script src="{{ url_for('static',filename='js/calendar/flatpickr.js') }}"></script>
<script src="{{ url_for('static',filename='js/calendar/flatpickr-monthSelect.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/flatpickr/flatpickr.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/flatpickr/flatpickr-monthSelect.css') }}">
{%endblock%}

{% block content %}

<div>
    <!-- Modal -->
    <div class="modal fade" id="modal_task" tabindex="-1" aria-labelledby="modal_task_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_task_label">Modal title</h5>
                <div id="status_modal"></div>
                <button type="button" class="btn-close" aria-label="Close" @click="closeModal"></button>
            </div>
            <div class="modal-body" id="modal_body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="closeModal">Close</button>
                <a type="button" class="btn btn-primary" id="see_case">See case</a>
            </div>
            </div>
        </div>
    </div>


    <div class="card card-body" style="margin-bottom: 10px;">
        <div class="d-flex w-100 justify-content-evenly">
            <div>
                <div class="form-check">
                    <input class="form-check-input" checked type="checkbox" value="" id="checkbox-case" @click="selection_case_task(true, false)">
                    <label class="form-check-label" for="checkbox-case">
                        Case
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" checked type="checkbox" value="" id="checkbox-task" @click="selection_case_task(false, true)">
                    <label class="form-check-label" for="checkbox-task">
                        Task
                    </label>
                </div>
            </div>

            <div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOther" id="radioDeadLine" @click="select_dead_filter()" checked>
                    <label class="form-check-label" for="radioDeadLine">Deadline</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radioOther" id="radioCreation" @click="select_creation_filter()">
                    <label class="form-check-label" for="radioCreation">Creation</label>
                </div>
            </div>
        </div>
    </div>

    <input id="monthPicker" class="start-50 translate-middle-x mb-2 mt-3" placeholder="Select month" style="text-align: center; position: relative;">

    <div id="calendar" class="case-core-style"></div>

</div>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, ref, nextTick, onMounted } = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const tasks = ref(null)
            const cases = ref(null)
            const status_info = ref(null)
            let is_case_selected = true
            let is_task_selected = true
            let flag_dead_creation = true
            let modal_task = null

            var calendar


            async function fetch_task_calendar(current_month, flag_dead_creation_loc=true) {
                tasks.value = null
                const res = await fetch(
                    'get_task_month?date=' + current_month + "&dead_creation=" + flag_dead_creation_loc
                )
                let loc = await res.json()
                tasks.value = loc["tasks"]

                let loc_var
                for (let i=0; i<tasks.value.length; i++){
                    if(flag_dead_creation_loc) loc_var = tasks.value[i]["deadline"]
                    else loc_var = tasks.value[i]["creation_date"]

                    calendar.addEvent({
                        id: tasks.value[i]["id"],
                        start: date_parser(loc_var, true),
                        allDay: true,
                        color: "rgb(32, 181, 32)",
                        title: tasks.value[i]["title"],
                        extendedProps: {
                            toJson: tasks.value[i]
                        }
                    })
                }
            }

            async function fetch_case_calendar(current_month, flag_dead_creation_loc=true){
                cases.value = null
                const res = await fetch(
                    'get_case_month?date=' + current_month + "&dead_creation=" + flag_dead_creation_loc
                )
                let loc = await res.json()
                cases.value = loc["cases"]

                let loc_var
                for (let i=0; i<cases.value.length; i++){
                    if(flag_dead_creation_loc) loc_var = cases.value[i]["deadline"]
                    else loc_var = cases.value[i]["creation_date"]

                    calendar.addEvent({
                        id: cases.value[i]["id"],
                        start: date_parser(loc_var, true),
                        allDay: true,
                        color: "#3788d8",
                        title: cases.value[i]["title"],
                        extendedProps: {
                            toJson: cases.value[i]
                        }
                    })
                }
            }

            async function fetchStatus(){
                status_info.value = null
                const res = await fetch('/case/get_status')
                status_info.value = await res.json()
            }       

            function openModal(){ modal_task.show() }
            function closeModal(){ modal_task.hide() }

            function date_parser(date, flag_day=false){
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    year = d.getFullYear();
                    
                if (month.length < 2) 
                    month = '0' + month;

                if(flag_day){
                    var day = '' + d.getDate()
                    if (day.length < 2) 
                        day = '0' + day;
                    return [year, month, day].join('-');
                }

                return [year, month].join('-');
            }

            function selection_case_task(is_case, is_task){
                calendar.removeAllEvents();
                if (is_case) is_case_selected = !is_case_selected
                if (is_task) is_task_selected = !is_task_selected

                if(is_case_selected) fetch_case_calendar(date_parser(calendar.getDate()), flag_dead_creation)
                if(is_task_selected) fetch_task_calendar(date_parser(calendar.getDate()), flag_dead_creation)
            }

            function select_dead_filter(){
                calendar.removeAllEvents();

                if(is_case_selected) fetch_case_calendar(date_parser(calendar.getDate()), true)
                if(is_task_selected) fetch_task_calendar(date_parser(calendar.getDate()), true)
                flag_dead_creation = true
            }

            function select_creation_filter(){
                calendar.removeAllEvents();

                if(is_case_selected) fetch_case_calendar(date_parser(calendar.getDate()), false)
                if(is_task_selected) fetch_task_calendar(date_parser(calendar.getDate()), false)
                flag_dead_creation = false
            }
            
            
            function onDateChange() {
                calendar.removeAllEvents();
            
                if(is_case_selected) fetch_case_calendar(date_parser(calendar.getDate()), flag_dead_creation)
                if(is_task_selected) fetch_task_calendar(date_parser(calendar.getDate()), flag_dead_creation)
            }


            onMounted(() => {
                fetchStatus()

                modal_task = new bootstrap.Modal('#modal_task', {})

                calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
                    initialView: 'dayGridMonth',
                    height: 'auto',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,listMonth'
                    },
                    views: {
                        listMonth: {
                            buttonText: 'List'
                        }
                    },
                    datesSet: function(info) {
                        onDateChange();
                    },
                    eventClick: function(info) {
                        $("#modal_task_label").text(info.event.extendedProps.toJson.title).css("margin-right", "5px")
                        $("#status_modal").empty()
                        $("#status_modal").append(
                            $("<span>").attr({"class": 
                                "badge rounded-pill text-bg-"+status_info.value.status[info.event.extendedProps.toJson.status_id -1].bootstrap_style})
                                .text(status_info.value.status[ info.event.extendedProps.toJson.status_id -1].name)
                        )
                        $("#modal_body").text("")
                        $("#modal_body").append(
                            $("<div>").append(
                                $("<pre>").attr({"class": "description"})
                                .text(info.event.extendedProps.toJson.description)
                            )
                        )
                        if(info.event.extendedProps.toJson.case_id)
                            $("#see_case").attr("href", "/case/" + info.event.extendedProps.toJson.case_id)
                        else
                            $("#see_case").attr("href", "/case/" + info.event.extendedProps.toJson.id)
                        
                        openModal()
                    }
                });

                calendar.render();

                flatpickr("#monthPicker", {
                    dateFormat: "Y-m",   // year-month
                    plugins: [
                        new monthSelectPlugin({
                            shorthand: true,      // Jan, Feb, ...
                            dateFormat: "Y-m",
                            altFormat: "F Y"
                        })
                    ],
                    onChange: function(selectedDates) {
                        if (selectedDates.length > 0) {
                            const date = selectedDates[0];
                            calendar.gotoDate(date); // Jump to selected month
                        }
                    }
                });
            })


            return {
                message_list,
                openModal, closeModal, select_dead_filter, select_creation_filter, selection_case_task
            }
        }
    }).mount('#main-container')

</script>

{% endblock %}


