
body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 200px;
  }
}

span#goTop{
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: #fafbfc; 
}