:root {
	--sidebar: 6.5rem;
}

body {
  background-color: #fbfbfb;
}

main {
  padding-left: var(--sidebar);
  height: 100%;
  min-height: 90vh;
}

.nav-pagination {
  position: relative;
  left: calc(40% - var(--sidebar));
}

[v-cloak] {
  display: none;
}

pre.description {
  white-space: pre-wrap;   /* wrap but preserve whitespace */
  word-wrap: break-word;   /* break long words if needed */
  overflow-x: auto;        /* optional: scroll only if really needed */
  margin-bottom: 0;
}

#goTop{
  position: fixed;
  right: 1em;
  bottom: 1em;
}
span#project-version{
  position: fixed;
  left: 50%;
  bottom: 1em;
}

span#createTask{
  position: fixed;
  left: calc(var(--sidebar)+10px);
  bottom: 1em;
  z-index: 9999;
}

.tag {
	filter: drop-shadow(-1px 3px 2px rgba(50, 50, 0, 0.5));
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-right: 2px;
  margin-bottom: 4px;
	border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
	display: inline-block;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	color: white;
}

.ticket-id {
	filter: drop-shadow(-1px 2px 2px rgba(50, 50, 0, 0.5));
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-bottom: 4px;
	display: inline-block;
	padding: 2px 6px;
  background-color: #4e7095;
	font-size: 15px;
	font-weight: bold;
	color: #fbfbfb;
}


.select2-container {
	padding: 5px;
  min-width: 250px;
}

.select2-selection__choice{
	background-color: #ced4da;
	filter: drop-shadow(-1px 1px 1px rgba(50, 50, 0, 0.5));
}

.person {
	border-radius: 50px;
}

.orgs {
  border-radius: 50px;
  --bs-btn-bg: #1f3763 !important;
  --bs-btn-border-color: #1f3763 !important;
}

.analyse-editor-container {
	position: fixed;
	width: calc((100vw - var(--sidebar))/2 );
	overflow-x: hidden;
	bottom: 3em;
	right: calc(var(--bs-gutter-x) * .5);
	height: calc(100vh - 400px);
}


.note-editor-container {
	position: absolute;
	width: calc((100vw - 20px - var(--sidebar))/2 );
	right: calc(var(--bs-gutter-x) * .5);
	padding-bottom: 50px;
}

fieldset.analyzer-select-case {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
	background-color: white;
}

legend.analyzer-select-case {
	float:none;
	color: #00000091;
	font-size: 1.2em !important;
	text-align: left !important;
	width:auto;
	padding: 1px 4px;
	border-bottom:none;
  background-color: white;
  border-radius: 4px;
  border: 1px groove #ddd !important;
  box-shadow: 0px 1px 2px 1px #0000001a;
}

.note-editor {
  background-color: white;
  border: 1px solid #aaaaaa80;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  margin-right: 10px;
}

.markdown-render {
  background-color: white;
  border: 1px solid #aaaaaa80;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  white-space: pre-wrap;   /* wrap but preserve whitespace */
  word-wrap: break-word;   /* break long words if needed */
  overflow-x: auto;        /* optional: scroll only if really needed */
}
.markdown-render-result {
  background-color: white;
  border: 1px solid #aaaaaa80;
  border-radius: 5px;
  padding: 5px;
  margin-top: 3px;
  white-space: pre-wrap;   /* wrap but preserve whitespace */
  word-wrap: break-word;   /* break long words if needed */
  overflow-x: auto;        /* optional: scroll only if really needed */
}

/* Analyzers */

.round-button {
    width: 3%;
}
.round-button-circle {
    padding-bottom: 100%;
    border-radius: 50%;
          
    background: #e13333; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#c41313;
    cursor: pointer;
}
.round-button a {
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#e2eaf3;

    text-decoration:none;
}

.side-panel-config {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;
    border-radius: 10px;
    height: 75vh;
    position: fixed;
    max-width: calc((100%) / 2 - 1*var(--bs-gutter-x) * .5);
    right: calc(var(--bs-gutter-x) * .5);
    overflow-x: auto;
    padding-top: 2px;
    padding-bottom: 10px;
}

@media (min-width: 992px) {
    .side-panel-config {
        max-width: calc((100% - 200px) / 2 - 1*var(--bs-gutter-x) * .5);
    }
}

.all-tasks-notes {
	background-color: white;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
}

.cluster {
  padding: 2px 3px; 
  border-radius: 3px; 
  font-weight: bold; 
  background-color: #0088cc; 
  filter: drop-shadow(-1px 2px 3px rgba(50, 50, 0, 0.5)); 
  color: white;
  font-size: 15px;
}

.subtask-tree {
  border-left: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 15px;
  height: 15px;
  margin-left: 0.5em;
  margin-right: 3px;
}

.select2-type ~ .select2-container{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.select2-type ~ .select2-container > .selection > .select2-selection{
  border:0
}

.fading-line {
  display: block;
  border: none;
  height: 1px;
  padding: 0;
  background-image: linear-gradient(to right, rgba(77, 101, 113, 0.85), rgba(68, 109, 128, 0.3), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  background-size: 100% 1px;
  margin: 0 0 1rem 0;
}

.fading-line-2 {
  display: block;
  border: none;
  height: 1px;
  padding: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.09), rgba(68, 109, 128, 0.75), rgba(0, 0, 0, 0.09));
  background-repeat: no-repeat;
  background-size: 100% 1px;
  margin: 0 0 1rem 0;
}


.card-stats {
  background-color: white;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin: 2px
}


#calendar {
  background-color: white;
  
}

#calendar a{
  color: black;
  text-decoration: none;
}

.fc-event{
  cursor: pointer;
}

.case-core-style {
  background-color: white;
  border: #80808024 solid 1px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;
  border-radius: 15px;
}

.case-tags-style {
  background-color: white;
  border: #80808024 solid 1px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;
  border-radius: 15px;
}

.case-index-list {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  white-space: normal;
  word-break: break-word;
}

#case-main-nav > .nav-tabs, 
#collapseTasks > .nav-tabs {
  border: none;
  margin: 0px;
}
#case-main-nav > .nav-tabs > li, 
#collapseTasks > .nav-tabs > li {
  margin-right: 2px;
}
#case-main-nav > .nav-tabs > li > button, 
#collapseTasks > .nav-tabs > li > button {
  border: 0;
  border-bottom:2px solid transparent;
  margin-right: 0;
  color: #5e5e5e;
  padding: 2px 15px;
}

#case-main-nav > .nav-tabs > li > button.active, 
#collapseTasks > .nav-tabs > li > button.active {
    border-bottom:2px solid #007bff; 
    color: #007bff;
}
#case-main-nav > .nav-tabs > li > button:hover, 
#collapseTasks > .nav-tabs > li > button:hover {
    color: #4c8ac0;
}




/* The semi-transparent "ghost" element following your cursor */
.dragging-ghost {
  background-color: #ffeeba !important;
  border: 2px dashed #ff9800;
}

.collapse .row .link-style-first:nth-child(2n+2){
  border-left: 1px solid #80808042;
}

.collapse .row .link-style-first:last-child {
  margin-bottom: 5px;
}


/* blur and blur button */

.blurred {
  filter: blur(6px);
  -webkit-filter: blur(6px);
  user-select: none;
}

.blur-btn {
  line-height: 1;
  padding: .25rem .5rem;
}

/* prevent blurred text from showing on selection in some browsers */

.blurred::selection { background: transparent; }