
body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 200px;
  }
}

span#goTop, span#project-version{
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: #fafbfc; 
}

.tag {
	filter: drop-shadow(-1px 3px 2px rgba(50, 50, 0, 0.5));
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-right: 2px;
	border-top-left-radius: 3px;
  	border-bottom-left-radius: 3px;
	display: inline-block;
	padding: 2px 4px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	color: white;
}
