<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    {% if not edit_mode %}
        <div class="case-core-style" style="border-radius: 0;">
            <h5 class="mb-0"><i class="fa-solid fa-building-circle-arrow-right me-2"></i>Create an organisation</h5>
        </div>
    {% else %}
        <div class="case-core-style" style="border-radius: 0;">
            <h5 class="mb-0"><i class="fa-solid fa-building-circle-check me-2"></i>Edit an organisation</h5>
        </div>
    {% endif %}

    <hr class="fading-line-2 mb-4 mt-4">

    <form action="" method="post" class="case-core-style">
        {{ form.hidden_tag() }}
        <div class="modal-body">
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.name.label(class_="col-form-label")}}<span class="text-danger">*</span>:
                    {{form.name(class_="form-control")}}
                    {% if form.name.errors %}
                        <div style="color: red;">{{form.name.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    {{form.uuid.label(class_="col-form-label")}}:
                    {{form.uuid(class_="form-control")}}
                    {% if form.uuid.errors %}
                        <div style="color: red;">{{form.uuid.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                {{form.description(class_="form-control")}}
                {% if form.description.errors %}
                    <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="modal-footer">
                {{form.submit(class='btn btn-primary')}}
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
<script type="module">
    const { createApp} = Vue
    import {message_list} from '../../static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            return {
                message_list
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}