<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <h2 class="ui dividing header">Add an organisation</h2>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="modal-body">
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.name.label(class_="col-form-label")}}:
                    {{form.name(class_="form-control")}}
                    {% if form.name.errors %}
                        <div style="color: red;">{{form.name.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    {{form.uuid.label(class_="col-form-label")}}:
                    {{form.uuid(class_="form-control")}}
                    {% if form.uuid.errors %}
                        <div style="color: red;">{{form.uuid.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                {{form.description(class_="form-control")}}
                {% if form.description.errors %}
                    <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="modal-footer">
                {{form.submit(class='btn btn-primary')}}
            </div>
        </div>
    </form>

{% endblock %}