<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div class="case-core-style d-flex" style="border-radius: 0">
        <h1>Galaxies</h1>

        <!-- Search bar -->
        <div class="input-group w-auto start-50 translate-middle-x" id="search_org">
            <button class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search galaxies by name' style="min-width: 350px;" />
        </div>
        <!-- Search bar -->
    </div>

    <hr class="fading-line-2 mb-4 mt-4">
    
    <nav aria-label="Page navigation" class="nav-pagination" v-if="galaxies_list && nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetchGalaxies(Math.max(1, current_page-1))">Previous</button>
            </li>
            <li v-for="page in visiblePages"
                :class="['page-time', {active: page === current_page, disabled: page === '...' }]">
                <button class="page-link" v-if="page !== '...'" @click="fetchGalaxies(page)">[[ page ]]</button>
                <span class="page-link" v-else>...</span>
            </li>
            <li :class="{'page-item': true, 'disabled': current_page == nb_pages}">
                <button class="page-link" @click="fetchGalaxies(Math.min(current_page+1, nb_pages))">Next</button>
            </li>
        </ul>
    </nav>

    <div class="case-core-style">
        <template v-if="galaxies_list">
            <template v-for="galaxy in galaxies_list.galaxies">
                <div class="list-group" style="margin-bottom: 10px;">
                    <div class="d-flex align-items-center">
                        <input v-if="galaxy.exclude" class="form-check-input me-2" type="checkbox" name="activeGalaxies" id="activeGalaxies" @click="deactivate_galaxy(galaxy.id)">
                        <input v-else class="form-check-input me-2" type="checkbox" checked name="activeGalaxies" id="activeGalaxies" @click="deactivate_galaxy(galaxy.id)">
                        <a @click="extend_collapse(galaxy.id)" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">[[galaxy.name]]</h4>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">[[galaxy.description]]</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="collapse" :id="'collapse'+galaxy.id" style="margin-bottom: 20px;">
                    <div class="card card-body" :id="'card-body_'+galaxy.id" style="background-color: whitesmoke;">
                        <template v-if="clusters_table">
                            <template v-if="clusters_table[galaxy.id]">
                                <table>
                                    <template v-for="cluster in clusters_table[galaxy.id]">
                                        <tr>
                                            <td title="Cluster">
                                                [[cluster.tag]]
                                                <ul>
                                                    <li v-if="cluster.description">Description: [[cluster.description]]</li>
                                                    <li v-if="cluster.meta">Metadata: [[JSON.parse(cluster.meta)]]</li>
                                                </ul>
                                                
                                            </td>
                                        </tr>
                                    </template>
                                </table>
                                
                            </template>
                            <template v-else>
                                <i>No Cluster</i>
                            </template>
                        </template>
                        <template v-else>
                            Loading...
                        </template>
                    </div>
                </div>
            </template>
        </template>
        <template v-else>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </template>
    </div>

    <nav aria-label="Page navigation" class="mt-3 nav-pagination" v-if="galaxies_list && nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetchGalaxies(Math.max(1, current_page-1))">Previous</button>
            </li>
            <li v-for="page in visiblePages"
                :class="['page-time', {active: page === current_page, disabled: page === '...' }]">
                <button class="page-link" v-if="page !== '...'" @click="fetchGalaxies(page)">[[ page ]]</button>
                <span class="page-link" v-else>...</span>
            </li>
            <li :class="{'page-item': true, 'disabled': current_page == nb_pages}">
                <button class="page-link" @click="fetchGalaxies(Math.min(current_page+1, nb_pages))">Next</button>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const galaxies_list = ref(null)
                const clusters_table = ref({})
                const current_page = ref(1)
                const all_galax = ref([])
                const nb_pages = ref(0)


                async function fetchGalaxies(page) {
                    galaxies_list.value = null
                    const res = await fetch('get_galaxies_page?page='+page)
                    let loc = await res.json()
                    galaxies_list.value = loc
                    current_page.value = page
                }

                async function fetchAllGalaxies() {
                    const res = await fetch('get_galaxies')
                    let loc = await res.json()
                    all_galax.value = loc["galaxies"]
                }

                async function fetchNbPage() {
                    const res = await fetch('nb_page_galaxies')
                    let loc = await res.json()
                    nb_pages.value = loc["nb_page"]
                }

                async function extend_collapse(galaxy_id){
                    const res = await fetch('get_clusters?galaxy='+galaxy_id)
                    let loc = await res.json()

                    clusters_table.value[galaxy_id] = loc["clusters"]

                    const collapseElementList = document.querySelectorAll('#collapse'+galaxy_id)
                    const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
                }


                function onInput(e){
                    galaxies_list.value.galaxies = []
                    if(e.target.value){
                        galaxies_list.value.galaxies = all_galax.value.filter((galaxies) => {
                            return galaxies.name.toLowerCase().includes(e.target.value.toLowerCase())
                        })
                    }else{
                        galaxies_list.value.galaxies = fetchGalaxies(1)
                    }
                }


                async function deactivate_galaxy(galaxy_id){
                    const res = await fetch('galaxy_status?galaxy='+galaxy_id)
                    display_toast(res)
                }

                const visiblePages = computed(() => {
                    const pages = []
                    const total = nb_pages.value
                    const current = current_page.value
                    if (total <= 7) {
                        for (let i = 1; i <= total; i++) pages.push(i)
                    } else {
                        if (current <= 4) {
                            pages.push(1, 2, 3, 4, 5, '...', total-1, total)
                        } else if (current >= total - 3) {
                            console.log("Over total-3");
                            pages.push(1, '...', total - 4, total - 3, total - 2, total - 1, total)
                        } else {
                            pages.push(1, '...', current - 2, current - 1, current, current + 1, current + 2, '...', total)
                        }
                    }
                    return pages
                })


                fetchGalaxies(1)
                fetchAllGalaxies()
                fetchNbPage()

    
                return {
                    message_list,
                    galaxies_list,
                    clusters_table,
                    nb_pages,
                    extend_collapse,
                    current_page,
                    fetchGalaxies,
                    onInput,
                    deactivate_galaxy,
                    visiblePages
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}