<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    
    <div id="container">
        <h1>
            Organisations
            <span>
                <a class="btn btn-primary btn-small" href="/admin/add_org" title="Add an org"><i class="fa-solid fa-plus"></i></a>
            </span>
        </h1>
    
        <hr>
        <div id="top"></div>
        <a class="btn btn-outline-success" href="/admin/add_user" type="button" style="margin-bottom: 10px;">New User</a>
        <template v-if="orgs_list">
            <template v-for="org in orgs_list">
                <div class="list-group" style="margin-bottom: 10px;">
                    <div style="display:flex">
                        <a @click="extend_collapse(org.id)" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">[[ org.id ]]-[[ org.name ]]</h4>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p v-if="org.description" class="card-text">[[ org.description ]]</p>
                                <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                            </div>
                        </a>
                        {% if current_user.is_admin() %}
                            <div style="display: grid;">
                                <a class="btn btn-primary btn-sm" :href="`/admin/edit_org/${org.id}`" type="button" title="Edit the org"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="btn btn-danger btn-sm"  :href="`/admin/delete_org/${org.id}`" type="button" title="Delete the org"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="collapse" :id="'collapse'+org.id" style="margin-bottom: 20px;">
                    
                    <div class="card card-body" :id="'card-body_'+org.id" style="background-color: whitesmoke;">
                        
                    </div>
                </div>
            </template>
    
        </template>
        <span id="goTop">[<a href="#top">Go Back Top</a>]</span>

    </div>
        
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const orgs_list = ref(false)


                async function fetchOrgs() {
                    orgs_list.value = null
                    const res = await fetch('get_orgs')
                    let loc = await res.json()
                    orgs_list.value = loc["orgs"]
                }

                async function extend_collapse(org_id){
                    const res = await fetch('get_org_users?org_id='+org_id)
                    let loc = await res.json()
                    let user_org = loc["users"]
                    if(user_org){
                        $('#card-body_'+org_id).empty()
                        let table_user_org = $("<table>")
                        for(let i=0; i<user_org.length; i++){
                            table_user_org.append("<tr>").append(
                                $("<td>").text(user_org[i].id),
                                $("<td>").text(user_org[i].first_name),
                                $("<td>").text(user_org[i].last_name),
                                $("<td>").text(user_org[i].email),
                                $("<td>").append(
                                    $("<a>").attr({"class": "btn btn-primary btn-sm", "href": "/admin/edit_user/"+user_org[i].id, "type": "button", "title": "Edit the user"}).append(
                                        $("<i>").attr("class", "fa-solid fa-pen-to-square")
                                    ),
                                    $("<a>").attr({"class": "btn btn-danger btn-sm", "href": "/admin/delete_user/"+user_org[i].id, "type": "button", "title": "Delete the user"}).append(
                                        $("<i>").attr("class", "fa-solid fa-trash")
                                    )
                                ),
                            )
                        }
                        $('#card-body_'+org_id).append(table_user_org)
                    }

                    const collapseElementList = document.querySelectorAll('#collapse'+org_id)
                    const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
                }


                fetchOrgs()

    
                return {
                    orgs_list,
                    extend_collapse
                }
            }
        }).mount('#container')

    </script>
{% endblock %}