<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div class="case-core-style d-flex" style="border-radius: 0">
        <h1>
            Users
            {% if current_user.is_admin() %}
                <span>
                    <a type="button" class="btn btn-primary" href="/admin/add_user"><i class="fa-solid fa-plus"></i></a>
                </span>
            {% endif %}
        </h1>

        <!-- Search bar -->
        <div class="input-group w-auto start-50 translate-middle-x" id="search_user">
            <button class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search Users by lastname' style="min-width: 350px;" />
        </div>
        <!-- Search bar -->

    </div>

    <hr class="fading-line-2 mt-4 mb-4">

    <div class="case-core-style">
        <template v-if="users_list">
            <template v-for="user in users_list.users">
                <div class="list-group" style="margin-bottom: 10px;">
                    <div style="display:flex; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <a class="list-group-item list-group-item-action case-index-list">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">[[ user.id ]]- [[ user.first_name ]] [[ user.last_name ]]</h4>
                                <small v-if="user.nickname" title="nickname" class="btn btn-primary btn-sm person">
                                    <i class="fa-solid fa-user"></i> [[user.nickname]]
                                </small>
                                <small v-else><i>No nickname</i></small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="card-text" title="email adress">[[ user.email ]]</p>
                            </div>
                            <div v-if="user.matrix_id" class="d-flex w-100 justify-content-between">
                                <p class="card-text" title="matrix id">[[ user.matrix_id ]]</p>
                            </div>
                            <div class="d-flex w-100 justify-content-between mt-2">
                                <small title="Organisation" class="btn btn-primary btn-sm orgs">
                                    <i class="fa-solid fa-users"></i> [[ user.org_name ]]
                                </small>
                            </div>
                            <div class="d-flex w-100 justify-content-center">
                                <p class="card-text" title="Role">[[ user.role ]]</p>
                            </div>
                        </a>
                        {% if current_user.is_admin() %}
                            <div>
                                <div>
                                    <a class="btn btn-primary" :href="`/admin/edit_user/${user.id}`" type="button" title="Edit the user">
                                        <i class="fa-solid fa-pen-to-square fa-fw"></i>
                                    </a>
                                </div>
                                <div>
                                    <button class="btn btn-danger" @click="delete_user(user)" title="Delete the user">
                                        <i class="fa-solid fa-trash fa-fw"></i>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </template>
        </template>
        <template v-else>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </template>
    </div>
    

    <nav aria-label="Page navigation example" v-if="users_list && users_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}"><button class="page-link" @click="fetchUsers(Math.max(1, current_page-1))">Previous</button></li>
            <template v-for="cp in users_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetchUsers(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == users_list.nb_pages}"><button class="page-link" @click="fetchUsers(Math.min(current_page+1, users_list.nb_pages))">Next</button></li>
        </ul>
    </nav>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref } = Vue
        import {display_toast, message_list} from '../../static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const users_list = ref(null)
                const current_page = ref(1)
                let temp_users_list = []


                async function fetchUsers(page) {
                    users_list.value = null
                    const res = await fetch('get_users_page?page='+page)
                    let loc = await res.json()
                    users_list.value = loc
                    current_page.value = page
                    temp_users_list = users_list.value.users
                }

                async function delete_user(user){
                    const res = await fetch('/admin/delete_user/'+user.id)
                    if(await res.status == 200){
                        let index = users_list.value.users.indexOf(user)
                        if(index > -1)
                            users_list.value.users.splice(index, 1)
                    }
                    display_toast(res)
                }

                function onInput(e){
                    users_list.value.users = []
                    if(e.target.value){
                        users_list.value.users = temp_users_list.filter((orgs) => {
                            return orgs.last_name.toLowerCase().includes(e.target.value.toLowerCase())
                        })
                    }else{
                        users_list.value.users = fetchUsers(1)
                    }
                }


                fetchUsers(1)

    
                return {
                    message_list,
                    users_list,
                    delete_user,
                    current_page,
                    fetchUsers,
                    onInput
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}