<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="case-core-style d-flex align-items-center" style="border-radius: 0;">
        {% if edit_mode %}
            <h5 class="mb-0"><i class="fa-solid fa-pen-to-square me-2"></i>Edit instance</h5>
        {% else %}
            <h5 class="mb-0"><i class="fa-solid fa-plug-circle-plus me-2"></i>Add instance</h5>
        {% endif %}
    </div>

    <hr class="fading-line-2 mb-4 mt-4">

    <form action="" method="post" class="case-core-style">
        {{ form.hidden_tag() }}
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="col-form-label"><i class="fa-solid fa-tag me-1"></i>{{form.name.label.text}}:</label>
                    {{form.name(class_="form-control")}}
                    {% if form.name.errors %}
                        <div class="text-danger small">{{form.name.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="col-form-label"><i class="fa-solid fa-link me-1"></i>{{form.url.label.text}}:</label>
                    {{form.url(class_="form-control")}}
                    {% if form.url.errors %}
                        <div class="text-danger small">{{form.url.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label"><i class="fa-solid fa-align-left me-1"></i>Description:</label>
                {{form.description(class_="form-control")}}
                {% if form.description.errors %}
                    <div class="text-danger small">{{form.description.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="col-form-label"><i class="fa-solid fa-key me-1"></i>{{form.api_key.label.text}}:</label>
                    {{form.api_key(class_="form-control")}}
                    {% if form.api_key.errors %}
                        <div class="text-danger small">{{form.api_key.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="mb-3" title="By checking this box this instance will be available for all users. Only admins can edit global instances.">
                <i class="fa-solid fa-globe me-1"></i>{{form.is_global_connector.label(class_="col-form-label")}}:
                {{form.is_global_connector(class_="mx-2")}}
                {% if form.is_global_connector.errors %}
                    <div class="text-danger small">{{form.is_global_connector.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <hr>
            <div class="d-flex gap-2">
                <a href="/connectors" class="btn btn-secondary">Cancel</a>
                {{form.submit(class='btn btn-primary')}}
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
<script type="module">
    const { createApp } = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            return {
                message_list
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}