<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div class="case-core-style d-flex" style="border-radius: 0">
        <h1>
            Connectors

            {% if current_user.is_admin() %}
                <span>
                    <a class="btn btn-primary" href="/connectors/add_connector"><i class="fa-solid fa-plus"></i></a>
                </span>
            {% endif %}
        </h1>

        <!-- Search bar -->
        <div class="input-group w-auto start-50 translate-middle-x" id="search_org">
            <button class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search Connector by name' style="min-width: 400px;" />
        </div>
        <!-- Search bar -->
    </div>

    <hr class="fading-line-2 mt-4 mb-4">
    <a class="btn btn-outline-success" href="/connectors/connectors_icons" type="button" style="margin-bottom: 10px;">See Icons</a>

    <template v-if="connectors_list">
        <template v-for="connector in connectors_list.connectors">
            <div class="list-group" style="margin-bottom: 10px;">
                <div style="display:flex; border-radius: 10px;">
                    <a @click="extend_collapse(connector.id)" class="list-group-item list-group-item-action case-index-list">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">
                                <img style="max-width: 40px;" :src="'/static/icons/' + connector.icon_uuid"/> [[ connector.name ]]
                            </h4>
                            <p>[[connector.url]]</p>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="connector.description" class="card-text">[[ connector.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                        </div>
                    </a>
                    {% if current_user.is_admin() %}
                        <div>
                            <div>
                                <a class="btn btn-primary btn-sm" :href="`/connectors/edit_connector/${connector.id}`" type="button" title="Edit the connector">
                                    <i class="fa-solid fa-pen-to-square fa-fw"></i>
                                </a>
                            </div>
                            <div>
                                <button class="btn btn-danger btn-sm" type="button" title="Delete the case" data-bs-toggle="modal" :data-bs-target="'#delete_connector_modal'+connector.id">
                                   <i class="fa-solid fa-trash fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Modal delete case -->
            <div class="modal fade" :id="'delete_connector_modal'+connector.id" tabindex="-1" :aria-labelledby="'delete_connector_modal'+connector.id" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" v-if="connector">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="delete_connector_modal">Delete '[[connector.name]]' ?</h1>
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-danger" @click="delete_connector(connector)"><i class="fa-solid fa-trash"></i> Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="collapse" :id="'collapse'+connector.id" style="margin-bottom: 20px;">
                <div class="card card-body" :id="'card-body_'+connector.id" style="background-color: whitesmoke;">
                    <span>
                        <a class="btn btn-outline-success" :href="'/connectors/'+connector.id+'/add_instance'" type="button" style="margin-bottom: 10px;">
                            Add an instance
                        </a>
                    </span>
                    <template v-if="instances_table">
                        <template v-if="instances_table[connector.id]">
                            <table>
                                <template v-for="instance in instances_table[connector.id]">
                                    <tr>
                                        <td title="Name of the instance">[[instance.name]]</td>
                                        <td v-if="instance.global_api_key">
                                            <small title="This instance is globally set and can be modify only by the creator">
                                                <span class="badge rounded-pill text-bg-success">Global</span>
                                            </small>
                                        </td>
                                        <td v-else></td>

                                        <td v-if="instance.description" title="Description of the instance">[[instance.description]]</td>
                                        <td v-else><i>No description</i></td>

                                        <td title="Url">[[instance.url]]</td>
                                        <td title="Type">[[instance.type]]</td>
                                        <td><i>api key set</i></td>
                                        
                                        <td v-if="instance.global_api_key">
                                            <template v-if="instance.is_user_global_api">
                                                <a class="btn btn-primary btn-sm" :href='"/connectors/"+connector.id+"/edit_instance/"+instance.id' type="button" title="Edit the instance">
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <button class="btn btn-danger btn-sm" @click="delete_instance(instance, connector.id)" title="Delete the instance">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </template>
                                        </td>
                                        <td v-else>
                                            <a class="btn btn-primary btn-sm" :href='"/connectors/"+connector.id+"/edit_instance/"+instance.id' type="button" title="Edit the instance">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <button class="btn btn-danger btn-sm" @click="delete_instance(instance, connector.id)" title="Delete the instance">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </template>
                            </table>
                        </template>
                        <template v-else>
                            <i>No users</i>
                        </template>
                    </template>
                    <template v-else>
                        Loading...
                    </template>
                </div>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </template>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const connectors_list = ref(null)
                const instances_table = ref({})
                let temp_connectors_list = []


                async function fetchConnectors() {
                    connectors_list.value = null
                    const res = await fetch('get_connectors')
                    let loc = await res.json()
                    connectors_list.value = loc
                    temp_connectors_list = connectors_list.value.connectors
                }
                fetchConnectors()

                async function extend_collapse(connector_id){
                    const res = await fetch(connector_id+'/get_instances')
                    let loc = await res.json()
                    instances_table.value[connector_id] = loc["instances"]

                    const collapseElementList = document.querySelectorAll('#collapse'+connector_id)
                    const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
                }

                async function delete_connector(connector){
                    const res = await fetch('/connectors/delete_connector/'+connector.id)
                    if(await res.status == 200){
                        let index = connectors_list.value.connectors.indexOf(connector)
                        if(index > -1)
                            connectors_list.value.connectors.splice(index, 1)

                        var myModalEl = document.getElementById('delete_connector_modal'+connector.id);
                        var modal = bootstrap.Modal.getInstance(myModalEl)
                        modal.hide();
                    }
                    display_toast(res)
                }

                async function delete_instance(instance,connector_id){
                    const res = await fetch('/connectors/'+connector_id+'/delete_instance/'+instance.id)
                    if(await res.status == 200){
                        let index = instances_table.value[connector_id].indexOf(instance)
                        if(index > -1)
                            instances_table.value[connector_id].splice(index, 1)
                    }
                    display_toast(res)
                }

                function onInput(e){
                    connectors_list.value.connectors = []
                    if(e.target.value){
                        connectors_list.value.connectors = temp_connectors_list.filter((connectors) => {
                            return connectors.name.toLowerCase().includes(e.target.value.toLowerCase())
                        })
                    }else{
                        connectors_list.value.connectors = fetchConnectors()
                    }
                }


                return {
                    message_list,
                    connectors_list,
                    instances_table,
                    extend_collapse,
                    delete_connector,
                    delete_instance,
                    onInput
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}