<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <h1>
        Connectors

        {% if current_user.is_admin() %}
            <span>
                <a class="btn btn-primary" href="/connectors/add_connector"><i class="fa-solid fa-plus"></i></a>
            </span>
        {% endif %}
    </h1>

    <hr>

    <!-- Search bar -->
    <div class="input-group w-auto start-50 translate-middle-x" id="search_org" style="max-width: 200px;">
        <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search Connector by name' style="min-width: 400px;" />
    </div>
    <!-- Search bar -->

    <hr>
    <a class="btn btn-outline-success" href="/connectors/connectors_icons" type="button" style="margin-bottom: 10px;">See Icons</a>

    <template v-if="connectors_list">
        <template v-for="connector in connectors_list.connectors">
            <div class="list-group" style="margin-bottom: 10px;">
                <div style="display:flex">
                    <a @click="extend_collapse(connector.id)" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1"><img style="max-width: 40px;" :src="'/static/icons/' + connector.icon_uuid"/> [[ connector.name ]]</h4>
                            <p>[[connector.url]]</p>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="connector.description" class="card-text">[[ connector.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                        </div>
                    </a>
                    {% if current_user.is_admin() %}
                        <div style="display: grid;">
                            <a class="btn btn-success btn-sm" :href="'/connectors/'+connector.id+'/add_instance'" type="button"><i class="fa-solid fa-plus"></i></a>
                            <a class="btn btn-primary btn-sm" :href="`/connectors/edit_connector/${connector.id}`" type="button" title="Edit the connector"><i class="fa-solid fa-pen-to-square"></i></a>
                            <button class="btn btn-danger btn-sm"  @click="delete_connector(connector)" title="Delete the connector"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="collapse" :id="'collapse'+connector.id" style="margin-bottom: 20px;">
                <div class="card card-body" :id="'card-body_'+connector.id" style="background-color: whitesmoke;">
                    <span><a class="btn btn-outline-success" :href="'/connectors/'+connector.id+'/add_instance'" type="button" style="margin-bottom: 10px;">Add an instance</a></span>
                    <template v-if="instances_table">
                        <template v-if="instances_table[connector.id]">
                            <table>
                                <template v-for="instance in instances_table[connector.id]">
                                    <tr>
                                        <td title="Name of the instance">[[instance.name]]</td>
                                        <td v-if="instance.description" title="Description of the instance">[[instance.description]]</td>
                                        <td v-else><i>No description</i></td>
                                        <td title="Url">[[instance.url]]</td>
                                        <td title="Type">[[instance.type]]</td>
                                        <td><i>api key set</i></td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" :href='"/connectors/"+connector.id+"/edit_instance/"+instance.id' type="button" title="Edit the instance">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <button class="btn btn-danger btn-sm" @click="delete_instance(instance, connector.id)" title="Delete the instance">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </template>
                            </table>
                        </template>
                        <template v-else>
                            <i>No users</i>
                        </template>
                    </template>
                    <template v-else>
                        Loading...
                    </template>
                </div>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </template>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const connectors_list = ref(null)
                const instances_table = ref({})
                let temp_connectors_list = []


                async function fetchConnectors() {
                    connectors_list.value = null
                    const res = await fetch('get_connectors')
                    let loc = await res.json()
                    connectors_list.value = loc
                    temp_connectors_list = connectors_list.value.connectors
                }
                fetchConnectors()

                async function extend_collapse(connector_id){
                    const res = await fetch(connector_id+'/get_instances')
                    let loc = await res.json()
                    instances_table.value[connector_id] = loc["instances"]

                    const collapseElementList = document.querySelectorAll('#collapse'+connector_id)
                    const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
                }

                async function delete_connector(connector){
                    const res = await fetch('/connectors/delete_connector/'+connector.id)
                    if(await res.status == 200){
                        let index = connectors_list.value.connectors.indexOf(connector)
                        if(index > -1)
                            connectors_list.value.connectors.splice(index, 1)
                    }
                    display_toast(res)
                }

                async function delete_instance(instance,connector_id){
                    const res = await fetch('/connectors/'+connector_id+'/delete_instance/'+instance.id)
                    if(await res.status == 200){
                        let index = instances_table.value[connector_id].indexOf(instance)
                        if(index > -1)
                            instances_table.value[connector_id].splice(index, 1)
                    }
                    display_toast(res)
                }

                function onInput(e){
                    connectors_list.value.connectors = []
                    if(e.target.value){
                        connectors_list.value.connectors = temp_connectors_list.filter((connectors) => {
                            return connectors.name.toLowerCase().includes(e.target.value.toLowerCase())
                        })
                    }else{
                        connectors_list.value.connectors = fetchConnectors()
                    }
                }


                return {
                    message_list,
                    connectors_list,
                    instances_table,
                    extend_collapse,
                    delete_connector,
                    delete_instance,
                    onInput
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}