<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div class="case-core-style d-flex" style="border-radius: 0;">
        <h1>
            <a type="button" class="btn btn-outline-dark me-2" href="/connectors"><i class="fa-solid fa-arrow-left"></i></a>
        </h1>
        <h1>
            Connectors Icons

            {% if current_user.is_admin() %}
                <span>
                    <a class="btn btn-primary" href="/connectors/add_icons"><i class="fa-solid fa-plus"></i></a>
                </span>
            {% endif %}
        </h1>

        <!-- Search bar -->
        <div class="input-group w-auto translate-middle-x" id="search_org" style="left: 30% !important;">
            <button class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search Icons by name' style="min-width: 350px;" />
        </div>
        <!-- Search bar -->
    </div>

    <hr class="fading-line-2 mb-4 mt-4">
    
    <div class="case-core-style">
        <template v-if="icons_list">
            <template v-for="icon in icons_list.icons">
                <div class="list-group" style="margin-bottom: 10px;">
                    <div style="display:flex; border-radius: 10px;">
                        <a class="list-group-item list-group-item-action case-index-list">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1"><img style="max-width: 40px;" :src="'/static/icons/' + icon.icon_uuid"/> [[ icon.name ]]</h4>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p v-if="icon.description" class="card-text">[[ icon.description ]]</p>
                                <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>
                            </div>
                        </a>
                        <template v-if="icon.name != 'default'">
                            {% if current_user.is_admin() %}
                                <div>
                                    <div>
                                        <a class="btn btn-primary btn-sm" :href="`/connectors/edit_icon/${icon.id}`" type="button" title="Edit the icon">
                                            <i class="fa-solid fa-pen-to-square fa-fw"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <button class="btn btn-danger btn-sm" type="button" title="Delete the icon" data-bs-toggle="modal" :data-bs-target="'#delete_icon_modal_'+icon.id">
                                            <i class="fa-solid fa-trash fa-fw"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal delete icon -->
                                <div class="modal fade" :id="'delete_icon_modal_'+icon.id" tabindex="-1" aria-labelledby="delete_icon_modal" aria-hidden="true">
                                    <div class="modal-dialog ">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="delete_icon_modal">Delete '[[icon.name]]' ?</h1>
                                                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button class="btn btn-danger" @click="delete_icon(icon)">
                                                    <i class="fa-solid fa-trash"></i> Confirm
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </template>
                    </div>
                </div>
            </template>
        </template>
        <template v-else>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </template>
    </div>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'

        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const icons_list = ref(null)
                const search_query = ref('')
                let searchTimer = null
                const current_page = ref(1)
                const nb_pages = ref(0)

                async function fetchIcons(page=1) {
                    icons_list.value = null
                    let url = 'get_icons_page?page='+page
                    if (search_query.value) url += '&name='+encodeURIComponent(search_query.value)
                    const res = await fetch(url)
                    let loc = await res.json()
                    icons_list.value = loc
                    await fetchNbPage()
                }
                fetchIcons(1)

                async function delete_icon(icon){
                    const res = await fetch('/connectors/delete_icon/'+icon.id)
                    if(await res.status == 200){
                        let index = icons_list.value.icons.indexOf(icon)
                        if(index > -1)
                            icons_list.value.icons.splice(index, 1)
                        $("#delete_icon_modal_"+icon.id).modal("hide")
                    }
                    display_toast(res)
                }

                function onInput(e){
                    clearTimeout(searchTimer)
                    search_query.value = e.target.value
                    searchTimer = setTimeout(() => fetchIcons(1), 300)
                }

                async function fetchNbPage() {
                    let url = 'nb_page_icons'
                    if (search_query.value) url += '?name='+encodeURIComponent(search_query.value)
                    const res = await fetch(url)
                    let loc = await res.json()
                    nb_pages.value = loc["nb_page"]
                }
                
    
                return {
                    message_list,
                    icons_list,
                    delete_icon,
                    fetchIcons,
                    onInput,
                    search_query
                }
            }
        }).mount('#main-container')
    </script>
{% endblock %}