<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="modal-body">
        <button class="btn btn-primary" @click="hide_case_creation()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTemplate" aria-expanded="false" aria-controls="collapseTemplate">
            Create from template
        </button>        
        <div class="collapse" id="collapseTemplate">
            <div class="card card-body">
                <div class="mb-3">
                    <p>Select from Template:</p>
                    <select data-placeholder="Templates" class="select2-select form-control" name="template_select" id="template_select">
                        {% for choice in form.template_select.choices %}
                            <option value="{{choice[0]}}">{{choice[1]}}</option>
                        {% endfor %}
                    </select>
                    {% if form.template_select.errors %}
                        <div style="color: red;">{{form.template_select.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    {{form.title_template.label(class_="col-form-label")}}:
                    {{form.title_template(class_="form-control")}}
                    {% if form.title_template.errors %}
                        <div style="color: red;">{{form.title_template.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
          </div>
        
        <hr>
        <div id="create_case">
            <div class="mb-3 w-50">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                {{form.description(class_="form-control")}}
                {% if form.description.errors %}
                    <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                {{form.deadline_date.label(class_="col-form-label")}}:
                {{form.deadline_date(class_="form-control")}}
                {% if form.deadline_date.errors %}
                    <div style="color: red;">{{form.deadline_date.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                {{form.deadline_time.label(class_="col-form-label")}}:
                {{form.deadline_time(class_="form-control")}}
                {% if form.deadline_time.errors %}<div style="color: red;">{{form.deadline_time.errors[0] | safe}}
                    </div>
                {%endif%}
            </div>
            <hr>
            
            <div class="mb-3">
                <p>Add tasks from templates:</p>
                <select data-placeholder="Templates" multiple class="select2-select form-control" name="tasks_templates" id="tasks_templates">
                    {% for choice in form.tasks_templates.choices %}
                        <option value="{{choice[0]}}">{{choice[1]}}</option>
                    {% endfor %}
                </select>
                {% if form.tasks_templates.errors %}
                    <div style="color: red;">{{form.tasks_templates.errors[0] | safe}}</div>
                {%endif%}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {{form.submit(class='btn btn-primary')}}
        </div>
    </div>
</form>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.select2-select').select2({
            width: '50%'
        })
    });

</script>

<script type="module">
    const { createApp, ref} = Vue
    
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            let to_hide = true
            function hide_case_creation(){
                if(to_hide)
                    $("#create_case").hide()
                else
                    $("#create_case").show()
                to_hide = !to_hide
            }

            return {
                hide_case_creation
            }
        }
    }).mount('.container')

</script>
{% endblock %}