<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block content %}
    <h2 class="ui dividing header">Add Orgs to case</h2>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{form.case_id}}
        <div class="modal-body">
            <div class="mb-3">
                <select data-placeholder="Organisations" multiple class="select2-select form-control" name="org_id" id="org_id">
                    {% for choice in form.org_id.choices %}
                        <option value="{{choice[0]}}">{{choice[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer" style="margin-top: 10px;">
                {{form.submit(class='btn btn-primary')}}
            </div>
        </div>
    </form>
{% endblock %}

{%block script%}
<script type="text/javascript">
    $(document).ready(function(){
        $('.select2-select').select2()
    });

</script>
{%endblock%}