<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <h2 class="ui dividing header">Recurring case</h2>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="modal-body">
            <div class="mb-3 w-50">
                <select data-placeholder="recurring option" class="form-control" name="recurring" id="recurring">
                    <option @click="recurring_mode=0" value="0"></option>
                    <option @click="recurring_mode=1" value="1">One day</option>
                    <option @click="recurring_mode=2" value="2">Daily</option>
                    <option @click="recurring_mode=3" value="3">Weekly</option>
                    <option @click="recurring_mode=4" value="4">Monthly</option>
                    <option @click="recurring_mode=5" value="4">Remove</option>
                </select>
            </div>

            <div v-if="recurring_mode==1">
                {{form.once.label(class_="col-form-label")}}:
                {{form.once(class_="form-control")}}
                {% if form.once.errors %}
                    <div style="color: red;">{{form.once.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div v-if="recurring_mode==2">
                {{form.daily.label(class_="col-form-label")}}:
                {{form.daily(checked=True)}}
                {% if form.daily.errors %}
                    <div style="color: red;">{{form.daily.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div v-if="recurring_mode==3" class="w-25">
                {{form.weekly.label(class_="col-form-label")}}:
                {{form.weekly(class_="form-control")}}
                {% if form.weekly.errors %}
                    <div style="color: red;">{{form.weekly.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div v-if="recurring_mode==4" class="w-25">
                {{form.monthly.label(class_="col-form-label")}}:
                {{form.monthly(class_="form-control")}}
                {% if form.monthly.errors %}
                    <div style="color: red;">{{form.monthly.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div v-if="recurring_mode==5">
                {{form.remove.label(class_="col-form-label")}}:
                {{form.remove(checked=True)}}
                {% if form.remove.errors %}
                    <div style="color: red;">{{form.remove.errors[0] | safe}}</div>
                {%endif%}
            </div>
            
            <hr>
            <h4>Choose who to notify</h4>

            {% for org in orgs %}
                <div class="list-group w-50" style="margin-bottom: 10px;">
                    <div class="d-flex align-items-center">
                        {% if org.checked %}
                            <input class="form-check-input me-2" type="checkbox" name="check_{{org.id}}" id="check_{{org.id}}" @click="check_org({{org}})" checked>
                        {% else %}
                            <input class="form-check-input me-2" type="checkbox" name="check_{{org.id}}" id="check_{{org.id}}" @click="check_org({{org}})">
                        {%endif%}

                        <a href="#collapse_{{org.id}}" data-bs-toggle="collapse" role="button" aria-expanded="false" class="list-group-item list-group-item-action" style="background-color: whitesmoke;">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{org.id}}- {{org.name}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="collapse w-50" id="collapse_{{org.id}}" style="margin-bottom: 20px;">
                    <div class="card card-body" style="background-color: whitesmoke;">
                        {% if org.users %}
                            <table>
                                {% for user in org.users %}
                                    <tr>
                                        {% if user.checked %}
                                            <td><input class="form-check-input me-2" type="checkbox" name="check_{{org.id}}_user_{{user.id}}" id="check_{{org.id}}_user_{{user.id}}" @click="check_user({{org}}, {{user}})" checked></td>
                                        {%else%}
                                            <td><input class="form-check-input me-2" type="checkbox" name="check_{{org.id}}_user_{{user.id}}" id="check_{{org.id}}_user_{{user.id}}" @click="check_user({{org}}, {{user}})"></td>
                                        {%endif%}
                                        <td title="Id">{{user.id}}</td>
                                        <td title="First name">{{user.first_name}}</td>
                                        <td title="last name">{{user.last_name}}</td>
                                        <td title="Email">{{user.email}}</td>
                                    </tr>
                                {%endfor%}
                            </table>
                        {%else%}
                            <i>No users</i>
                        {%endif%}
                    </div>
                </div>
            {% endfor %}

            <div style="margin-top: 20px;">
                {{form.submit(class='btn btn-primary')}}
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
<script type="module">
    const {createApp, ref} = Vue
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const recurring_mode = ref(null)

            function check_org(org){
                if (document.getElementById("check_" + org.id).checked){
                    for(let i in org.users){
                        $('#check_'+org.id+'_user_'+org.users[i].id).prop('checked', true);
                    }
                }else{
                    for(let i in org.users){
                        $('#check_'+org.id+'_user_'+org.users[i].id).prop('checked', false);
                    }
                }
            }

            function check_user(org, user){
                if (!document.getElementById('check_'+org.id+'_user_'+user.id).checked){
                    $("#check_"+org.id).prop('checked', false)
                }
            }

            return{
                recurring_mode,
                check_org,
                check_user
            }
        }
    }).mount('#main-container')
</script>
{% endblock %}