<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <h1>
        Cases
        <span>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FormModal"><i class="fa-solid fa-plus"></i></button>
        </span>
    </h1>


    <div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="FormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="FormModalLabel">Create a new case</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="modal-body">
                        <div class="mb-3">
                            {{form.title.label(class_="col-form-label")}}:
                            {{form.title(class_="form-control")}}
                            {% if form.title.errors %}
                                <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                            {%endif%}
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            {{form.description(class_="form-control")}}
                            {% if form.description.errors %}
                                <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                            {%endif%}
                        </div>
                        <div class="mb-3">
                            {{form.dead_line_date.label(class_="col-form-label")}}:
                            {{form.dead_line_date(class_="form-control")}}
                            {% if form.dead_line_date.errors %}
                                <div style="color: red;">{{form.dead_line_date.errors[0] | safe}}</div>
                            {%endif%}
                        </div>
                        <div class="mb-3">
                            {{form.dead_line_time.label(class_="col-form-label")}}:
                            {{form.dead_line_time(class_="form-control")}}
                            {% if form.dead_line_time.errors %}<div style="color: red;">{{form.dead_line_time.errors[0] | safe}}
                                </div>
                            {%endif%}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            {{form.submit(class='btn btn-primary')}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <case_filter @cases_list="cases => emit_result(cases)" @current_filter="filter => current_filter = filter"></case_filter>

    <hr>
    <div id="top"></div>

    <!-- pagination -->
    <nav aria-label="Page navigation example" v-if="case_list && case_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}"><button class="page-link" @click="fetchCase(Math.max(1, current_page-1))">Previous</button></li>
            <template v-for="cp in case_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetchCase(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == case_list.nb_pages}"><button class="page-link" @click="fetchCase(Math.min(current_page+1, case_list.nb_pages))">Next</button></li>
        </ul>
    </nav>
    <!-- pagination -->

    <template v-if="case_list">
        <template v-for="case_loc in case_list.cases">
            <div class="list-group" style="margin-bottom: 20px;">
                <div style="display:flex">
                    <a :href="`/case/view/${case_loc.id}`" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">[[ case_loc.id ]]-[[ case_loc.title ]]</h4>
                            <small><i>Changed [[ moment(case_loc.last_modif).fromNow() ]]</i></small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="case_loc.description" class="card-text">[[ case_loc.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>

                            <small v-if="status_info"><span :class="'badge rounded-pill text-bg-'+status_info.status[case_loc.status_id -1].bootstrap_style">[[ status_info.status[case_loc.status_id -1].name ]]</span></small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex w-100 justify-content-between">
                                <div></div>
                                <small v-if="case_loc.dead_line" :title="case_loc.dead_line"><i>Deadline [[moment(case_loc.dead_line).endOf().fromNow()]]</i></small>
                                <small v-else><i>No deadline</i></small>
                            </div>
                        </div>
                    </a>
                    <div v-if="!case_loc.current_user_permission.read_only && case_loc.present_in_case" style="display: grid;">
                        <button v-if="case_loc.completed" class="btn btn-secondary btn-sm"  @click="complete_case(case_loc, case_list.cases)" title="Revive the case"><i class="fa-solid fa-backward"></i></button>
                        <button v-else class="btn btn-success btn-sm"  @click="complete_case(case_loc, case_list.cases)" title="Complete the case"><i class="fa-solid fa-check"></i></button>
                        <a class="btn btn-primary btn-sm" :href="`/case/edit/${case_loc.id}`" type="button" title="Edit the case"><i class="fa-solid fa-pen-to-square"></i></a>
                        <button class="btn btn-danger btn-sm"  @click="delete_case(case_list, case_loc)" title="Delete the case"><i class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </template>

    </template>

    <nav aria-label="Page navigation example" v-if="case_list && case_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}"><button class="page-link" @click="fetchCase(Math.max(1, current_page-1))">Previous</button></li>
            <template v-for="cp in case_list.nb_pages">
                <li :class="{'page-item': true, 'active': current_page==cp}"><button class="page-link" @click="fetchCase(cp)">[[cp]]</button></li>
            </template>
            <li :class="{'page-item': true, 'disabled': current_page == case_list.nb_pages}"><button class="page-link" @click="fetchCase(Math.min(current_page+1, case_list.nb_pages))">Next</button></li>
        </ul>
    </nav>

    <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref} = Vue
        import case_filter from '../../static/js/case/case_filter.js'
        import {display_toast, message_list} from '/static/js/toaster.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            components: {
                case_filter
            },
            setup() {
                const case_list = ref(null)
                const status_info = ref(null)
                const current_page = ref(1)
                const current_filter = ref("")

                async function fetchCase(page) {
                    let url
                    if(current_filter.value)
                        url = `/case/ongoing?page=${page}&filter=${current_filter.value}`
                    else
                        url = 'case/get_cases?page='+page

                    case_list.value = null
                    const res = await fetch(url)
                    case_list.value = await res.json()
                    current_page.value = page
                }

                async function fetchStatus() {
                    status_info.value = null
                    const res = await fetch(
                        '/case/get_status'
                    )
                    status_info.value = await res.json()
                }

                async function delete_case(case_list, case_loc){
                    const res = await fetch(
                        '/case/delete',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"case_id": case_loc.id.toString()})
                        }
                    )
                    if(await res.status == 200){
                        let index = case_list.cases.indexOf(case_loc)
                        if(index > -1)
                            case_list.cases.splice(index, 1)
                    }
                    display_toast(res)
                }

                async function complete_case(case_loc, cases_list){
                    const res = await fetch('/case/complete_case/'+case_loc.id)
                    if(await res.status == 200){
                        case_loc.last_modif = Date.now()
                        case_loc.completed = !case_loc.completed

                        if(status_info.value.status[case_loc.status_id -1].name == 'Finished'){
                            for(let i in status_info.value.status){
                                if(status_info.value.status[i].name == 'Created')
                                case_loc.status_id = status_info.value.status[i].id
                            }
                            if(case_loc.status_id == status)
                                case_loc.status_id = 1

                            fetch('/case/change_status/'+case_loc.id,{
                                headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                                method: "POST",
                                body: JSON.stringify({"status": case_loc.status_id})
                            })
                        }else{
                            for(let i in status_info.value.status){
                                if(status_info.value.status[i].name == 'Finished'){
                                    case_loc.status_id = status_info.value.status[i].id
                                    fetch('/case/change_status/'+case_loc.id,{
                                        headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                                        method: "POST",
                                        body: JSON.stringify({"status": case_loc.status_id})
                                    })
                                    break
                                }
                            }
                        }

                        let index = cases_list.indexOf(case_loc)
                        if(index > -1)
                            cases_list.splice(index, 1)
                    }

                    display_toast(res)
                }

                function emit_result(res){
                    case_list.value.cases = res.cases
                    case_list.value.nb_pages = res.nb_pages
                    current_page.value = 1
                }

                fetchCase(1)
                fetchStatus()

                return {
                    message_list,
                    case_list,
                    status_info,
                    delete_case,
                    complete_case,
                    moment,
                    fetchCase,
                    emit_result,
                    current_page,
                    current_filter
                }
            }
        }).mount('.container')

    </script>
{% endblock %}