<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    
    <div id="container">
        <div>
            <h1 style="display: inline-block; font-size: xxx-large;">{{case.id}} - {{case.title}}</h1>
            <span><i style="font-size: 12px;">{{case.uuid}}</i></span>
            <hr>
        </div>

        <div>
            <p style="display: inline-block;">{{case.description}}</p>
            
            {% if case.description %}
                <hr>
            {%endif%}
        </div>

        <div>
            {% if not current_user.read_only() and present_in_case %}
                <a class="btn btn-outline-success" href="/case/edit/{{id}}" type="button">Edit Case</a>
            {%endif%}

            <div id="assign" style="float: right;"></div>
            <br/>
            Creation: {{case.creation_date}}
            <br/>
            Last Modif: {{case.last_modif}}
            {% if case.dead_line %}
                <br/>
                Dead Line: {{case.dead_line}}
            {%endif%}
        </div>

        {% if not current_user.read_only() and present_in_case %}
            <a class="btn btn-outline-success" href="/case/{{id}}/add_task" type="button">New Task</a>
        {%endif%}

        <table id="data-task">           
            <tr><th></th><th>Status</th><th>Title</th><th>Description</th><th>Times</th><th>Tool/Link</th><th>Assignation</th><th></th><th></th><th></th></tr>
            <template v-if="cases_info && cases_info.tasks" >
                <template v-for="task in cases_info.tasks" :key="task.id">
                    <tr>
                        
                        <td v-if="task.notes || task.files.length">
                            <a class="btn" data-bs-toggle="collapse" :href="`#collapse_${task.id}`" role="button" aria-expanded="false" :aria-controls="`collapse_${task.id}`" style="--bs-btn-border-width:1;"><i class="fas fa-chevron-down"></i></a>
                        </td>
                        <td v-else></td>
        
                        <td>
                            <div class="dropdown" :id="'dropdown_status_'+task.id">
                                <template v-if="status_info">
                                    <button class="btn btn-secondary dropdown-toggle" :id="'button_'+task.id" type="button" data-bs-toggle="dropdown" aria-expanded="false">[[ status_info.status[task.status_id -1].name ]]</button>
                                    <ul class="dropdown-menu" :id="'dropdown_ul_status_'+task.id">
                                        <template v-for="status_list in status_info.status">
                                            <li v-if="status_list.id != task.status_id">
                                                <button class="dropdown-item" @click="change_status(status_list.id, task)">[[ status_list.name ]]</button>
                                            </li>
                                        </template>
                                    </ul>
                                </template>
                            </div>
                        </td>

                        <td style="padding: 7px; box-sizing: border-box; margin: 0;">
                            [[task.title]]
                        </td>

                        <td> [[task.description]] </td>

                        <td>
                            <div> Creation: [[task.creation_date]] </div>
                            <div> Dead Line: [[task.dead_line]] </div>
                        </td>

                        <td>
                            <a :href="task.url">[[task.url]]</a>
                        </td>

                        <!-- List of users assigned to the task -->
                        <td>
                            <div class="dropdown" :id="'dropdown_user_'+task.id">
                                <template v-if="task.users.length">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Users</button>
                                    <ul class="dropdown-menu" v-for="user in task.users">
                                        <li>
                                            <button class="dropdown-item">
                                                [[user.first_name]] [[user.last_name]]
                                            </button>
                                        </li>
                                    </ul>
                                </template>
                                <template v-else>
                                    <i>No user assigned</i>
                                </template>
                            </div>
                        </td>
                        <!--  -->

                        <td :id="'td_task_'+task.id">
                            <template v-if="!task.is_current_user_assigned">
                                <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                    <button class="btn btn-success" @click="take_task(task)">
                                        Take Task
                                    </button>
                                </template>
                            </template>
                            
                            <template v-else>
                                <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                    <button class="btn btn-success" @click="remove_assign_task(task)">
                                        Remove assignation
                                    </button>
                                </template>
                            </template>
                        </td>

                        <td>
                            <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                <a :href="'/case/view/'+cases_info.case.id+'/edit_task/'+task.id" role="button" class="btn btn-primary">Edit</a>
                            </template>
                        </td>

                        <td>
                            <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                <button class="btn btn-danger" @click="delete_task(task, cases_info.tasks)">
                                    Remove
                                </button>
                            </template>
                        </td>

                        <td>
                            <template v-if="!task.notes">
                                <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                    <a class="btn btn-primary" :href="'#collapse_'+task.id" role="button" data-bs-toggle="collapse" aria-expanded="false" :aria-controls="'collapse_'+task.id"> 
                                        Add Note
                                    </a>
                                </template>
                            </template>
                        </td>
                    </tr>

                    <!-- Collapse for notes and files -->
                    <tr>
                        <td colspan="50">
                            <div class="collapse" :id="'collapse_'+task.id">
                                <!-- If there's some notes existing -->
                                <template v-if="task.notes">
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse-note-'+task.id" :aria-controls="'collapse-note-'+task.id">
                                        Notes
                                    </button>
                                    <div class="collapse" :id="'collapse-note-'+task.id">
                                        <div class="card card-body" :id="'divNote'+task.id">
                                            <!-- Edit mode open on existing notes -->
                                            <template v-if="edit_mode">
                                                <span style="right: 1em; position: relative;">
                                                    <button class="btn btn-primary" @click="modif_note(task)" type="button" :id="'note_'+task.id">
                                                        <div hidden>[[task.title]]</div>
                                                        Save
                                                    </button>
                                                </span>
                                                <textarea :ref="'ref_note_'+task.id" :id="'note_area_'+task.id" rows="5" cols="50" maxlength="5000" v-html="task.notes"></textarea>
                                            </template>
                                            <!-- Read notes -->
                                            <template v-else>
                                                <span style="right: 1em; position: relative;">
                                                    <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                                        <button class="btn btn-primary" @click="edit_note(task)" type="button" :id="'note_'+task.id">
                                                            <div hidden>[[task.title]]</div>
                                                            Edit
                                                        </button>
                                                    </template> 
                                                </span>
                                                <p v-html="task.notes"></p>
                                            </template>
                                        </div>
                                    </div>
                                </template>
                                <!-- There's no notes for the task -->
                                <template v-else>
                                    <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse-note-'+task.id" :aria-controls="'collapse-note-'+task.id">
                                            Notes
                                        </button>
                                        <div class="collapse" :id="'collapse-note-'+task.id">
                                            <div class="card card-body" :id="'divNote'+task.id">
                                                <span style="right: 1em; position: relative;">
                                                    <button class="btn btn-primary" @click="modif_note(task)" type="button" :id="'note_'+task.id">
                                                        <div hidden>[[task.title]]</div>
                                                        Create
                                                    </button>
                                                </span>
                                                <textarea :ref="'ref_note_'+task.id" :id="'note_area_'+task.id" rows="5" cols="50" maxlength="5000"></textarea>
                                            </div>
                                        </div>
                                    </template>
                                </template>


                                <template v-if="task.files.length">
                                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" :data-bs-target="'#collapse-file-'+task.id" aria-expanded="false" :aria-controls="'collapse-file-'+task.id">
                                        File
                                    </button>
                                    <template v-for="file in task.files">
                                        <div class="collapse" :id="'collapse-file-'+task.id">
                                            <div class="card card-body">
                                                <span>
                                                    <a class="btn btn-secondary" :href="`/case/task/${task.id}/download_file/${file.id}`">
                                                        [[ file.name.split(")")[1] ]]
                                                    </a>
                                                    <button class="btn btn-danger" @click="" style="right: 1em; position: absolute;">Delete File</button>
                                                </span>
                                            </div>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </td>
                    </tr>
                </template>
            </template>
        </table>
    </div>
  
{% endblock %}

{% block script %}
	<!-- <script src="{{ url_for('static',filename='js/case/case_view.js') }}"></script> -->

    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const edit_mode = ref(false)
                const cases_info = ref(null)
                const status_info = ref(null)

                async function fetchCase() {
                    cases_info.value = null
                    const res = await fetch(
                        'get_case_info/'+window.location.pathname.split("/").slice(-1)
                    )
                    cases_info.value = await res.json()
                }

                async function fetchStatus() {
                    status_info.value = null
                    const res = await fetch(
                        '/case/get_status'
                    )
                    status_info.value = await res.json()
                }

                function change_status(status, task){
                    task.status_id=status
                    fetch(
                        '/case/change_status/'+task.id,{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"status": status})
                        }
                    )
                }

                function take_task(task){
                    task.is_current_user_assigned = true
                    fetch(
                        '/case/take_task',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"task_id": task.id.toString()})
                        }
                    )
                }

                function remove_assign_task(task){
                    task.is_current_user_assigned = false
                    fetch(
                        '/case/remove_assign_task',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"task_id": task.id.toString()})
                        }
                    )
                }

                function delete_task(task, task_array){
                    fetch(
                        '/case/delete_task',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"task_id": task.id.toString()})
                        }
                    )

                    let index = task_array.indexOf(task)
                    if(index > -1)
                        task_array.splice(index, 1)
                }

                async function edit_note(task){
                    edit_mode.value = true
                    const res = await fetch('/case/get_note_text?id='+task.id)
                    let loc = await res.json()

                    task.notes = loc["note"]
                }

                async function modif_note(task){
                    edit_mode.value = false
                    let notes = this.$refs["ref_note_" + task.id][0].value
                    task.notes = notes

                    await fetch(
                        '/case/modif_note',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"task_id": task.id.toString(), "notes": notes})
                        }
                    )

                    const res = await fetch('/case/get_note_markdown?id='+task.id)
                    let loc = await res.json()

                    task.notes = loc["note"]
                }

                

                fetchCase()
                fetchStatus()
    
                return {
                    cases_info,
                    status_info,
                    edit_mode,
                    change_status,
                    take_task,
                    remove_assign_task,
                    delete_task,
                    edit_note,
                    modif_note
                }
            }
        }).mount('#container')

    </script>
{% endblock %}