<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static',filename='js/markdown-it.js') }}"></script>

<title>Cases - {{ config.APP_NAME }}</title>
{{ super() }}
{%endblock%}


{% block content %}
    <div class="case-core-style" style="border-radius: 0;">
        <div class="row align-items-center">
            <div class="col-auto d-flex align-items-center">
                <h5 class="mb-0"><i class="fa-solid fa-folder-open me-2"></i>Cases</h5>
                <a type="button" class="btn btn-primary btn-sm ms-3" href="/case/create_case" title="Create new case">
                    <i class="fa-solid fa-plus fa-sm"></i>
                </a>
            </div>

            <div class="col-auto">
                <button v-if="is_open_cases" class="btn btn-outline-secondary btn-sm" @click="change_status_sort(false)" title="See Finished cases">
                    <i class="fa-solid fa-folder-closed fa-sm me-1"></i> Finished cases
                </button>
                <button v-else class="btn btn-outline-secondary btn-sm" @click="change_status_sort(true)" title="See Opened cases">
                    <i class="fa-solid fa-folder-open fa-sm me-1"></i> Opened cases
                </button>
            </div>


            <!-- Search bar -->
            <div class="col input-group w-auto">
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalCaseFilter">
                    <i class="fa-solid fa-filter fa-sm"></i>
                </button>
                <input autocomplete="off" @input="onInput" type="search" class="form-control form-control-sm rounded" placeholder='Search case by title' />
            </div>
            <!-- Search bar -->

            <!-- Sort buttons -->
            <div class="col-auto">
                <div class="btn-group btn-group-sm" role="group" aria-label="Sort options">
                    <button type="button" class="btn btn-sm" :class="current_filter === 'last_modif' ? 'btn-primary' : 'btn-outline-secondary'" @click="sort_by_filter('last_modif')" title="Sort by date">
                        <i class="fa-solid fa-calendar fa-sm me-1"></i>Date
                    </button>
                    <button type="button" class="btn btn-sm" :class="current_filter === 'title' ? 'btn-primary' : 'btn-outline-secondary'" @click="sort_by_filter('title')" title="Sort by title">
                        <i class="fa-solid fa-font fa-sm me-1"></i>Title
                    </button>
                    <button type="button" class="btn btn-sm" :class="current_filter === 'id' ? 'btn-primary' : 'btn-outline-secondary'" @click="sort_by_filter('id')" title="Sort by ID">
                        <i class="fa-solid fa-hashtag fa-sm me-1"></i>ID
                    </button>
                </div>
            </div>
            <!-- Sort buttons -->
        </div>
    </div>

    <div class="modal fade" id="modalCaseFilter" tabindex="-1" aria-labelledby="modalCaseFilterLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCaseFilterLabel">Cases Filter</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex w-100 justify-content-between">
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" checked type="radio" name="radioOther" id="radioOrderAsc" @click="sort_by_filter('last_modif')">
                                <label class="form-check-label" for="radioOrderAsc">Last modification</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioOther" id="radioOtherCreation" @click="sort_by_filter('creation_date')">
                                <label class="form-check-label" for="radioOtherCreation">Creation date</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioOther" id="radioOtherTitle" @click="sort_by_filter('title')">
                                <label class="form-check-label" for="radioOtherTitle">Title</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioOther" id="radioOtherDeadLine" @click="sort_by_filter('deadline')">
                                <label class="form-check-label" for="radioOtherDeadLine">Deadline</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioOther" id="radioOtherStatus" @click="sort_by_filter('status_id')">
                                <label class="form-check-label" for="radioOtherStatus">Status</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioOther" id="radioOtherMyOrg" @click="sort_by_filter('my_org')">
                                <label class="form-check-label" for="radioOtherMyOrg">My Org</label>
                            </div>
                        </div>

                        <div>
                            Change order
                            <div class="form-check form-switch" style="margin-left: 35%;">
                                <input class="form-check-input" type="checkbox" checked role="switch" id="flexSwitchCheckDefault" @click="change_switch_check(true)">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>Taxonomies:</div>
                    <div class="d-flex w-100 justify-content-center">
                        <div style="display:flex">
                            <span style="margin-right: 10px">OR</span>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="switchOperator" @click="change_switch_check(false,true)">
                                <label class="form-check-label" for="switchOperator">AND</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <template v-if="taxonomies">
                            <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                                <template v-for="taxonomy, key in taxonomies">
                                    <option :value="[[taxonomy]]">[[taxonomy]]</option>
                                </template>
                            </select>
                        </template>
                        
                        <template v-if="tags_list">
                            <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                                <template v-for="(tags, taxo) in tags_list">
                                    <optgroup :label="[[taxo]]">
                                        <option :value="[[tag.name]]" v-for="tag in tags">[[tag.name]]</option>
                                    </optgroup>
                                </template>
                            </select>
                        </template>
                    </div>
                    <hr>

                    <div>Galaxies:</div>
                    <div class="d-flex w-100 justify-content-center">
                        <div style="display:flex">
                            <span style="margin-right: 10px">OR</span>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="switchOperator" @click="change_switch_check(false, false, true)">
                                <label class="form-check-label" for="switchOperator">AND</label>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <template v-if="galaxies">
                            <select data-placeholder="Galaxies" class="select2-select form-control" multiple name="galaxies_select" id="galaxies_select" >
                                <template v-for="galaxy, key in galaxies">
                                    <option :value="[[galaxy.name]]">[[galaxy.name]]</option>
                                </template>
                            </select>
                        </template>
                        
                        <template v-if="cluster_list">
                            <select data-placeholder="Cluster" class="select2-select form-control" multiple name="clusters_select" id="clusters_select" >
                                <template v-for="(clusters, galaxy) in cluster_list">
                                    <optgroup :label="[[galaxy]]">
                                        <option :value="[[cluster.name]]" :title="cluster.description" v-for="cluster in clusters">[[cluster.tag]]</option>
                                    </optgroup>
                                </template>
                            </select>
                        </template>
                    </div>
                    <hr>

                    <div>Custom Tags:</div>
                    <div>
                        <template v-if="custom_tags">
                            <select data-placeholder="Custom Tags" class="select2-select form-control" multiple name="custom_tags_select" id="custom_tags_select" >
                                <template v-for="custom_tag, key in custom_tags">
                                    <option :value="[[custom_tag.name]]">[[custom_tag.name]]</option>
                                </template>
                            </select>
                        </template>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <hr class="fading-line-2 mt-4 mb-4">

    <!-- pagination -->
    <nav aria-label="Page navigation" class="nav-pagination" v-if="case_list && case_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_sorted_cases(Math.max(1, current_page-1))">Previous</button>
            </li>
            <li v-for="page in visiblePages"
                :class="['page-time', {active: page === current_page, disabled: page === '...' }]">
                <button class="page-link" v-if="page !== '...'" @click="fetch_sorted_cases(page)">[[ page ]]</button>
                <span class="page-link" v-else>...</span>
            </li>
            <li :class="{'page-item': true, 'disabled': current_page == case_list.nb_pages}">
                <button class="page-link" @click="fetch_sorted_cases(Math.min(current_page+1, case_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>
    <!-- pagination -->

    <template v-if="case_list">
        <template v-for="case_loc in case_list.cases">
            <div class="list-group" style="margin-bottom: 20px; ">
                <div style="display:flex; border-radius: 10px;">
                    <a :href="`/case/${case_loc.id}`" class="list-group-item list-group-item-action case-index-list">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" style="font-weight: 600; color: #2c3e50;">
                                <i class="fa-solid fa-angle-right fa-sm me-2" style="color: #6c757d;"></i>[[ case_loc.id ]]-[[ case_loc.title ]]
                                <span style="font-size: 12px; vertical-align: middle;">
                                    <i v-if="case_loc.is_private" class="fa-solid fa-lock" title="The case is private, only org present in can see this case"></i>
                                    <i v-else class="fa-solid fa-globe" title="The case is public anyone can see this case but only org present in case can modify it"></i>
                                </span>
                                <button v-if="case_loc.link_to.length" disabled class="btn btn-outline-primary btn-sm" style="margin-left: 20px;">
                                    <i class="fa-solid fa-paperclip"></i> <span class="badge text-bg-secondary">[[case_loc.link_to.length]]</span>
                                </button>
                            </h5>                            
                            <small :title="case_loc.last_modif"><i>Changed [[ (dayjs.utc(case_loc.last_modif).fromNow()) ]]</i></small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <div v-if="case_loc.ticket_id" title="Ticket id" class="ticket-id" style="padding: 0px 4px;">
                                <i class="fa-solid fa-ticket"></i>
                                [[ case_loc.ticket_id ]]
                            </div>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <template v-if="case_loc.description">
                                <template v-if="case_loc.description.length > 300">
                                    <div class="position-relative">
                                        <button
                                            class="btn btn-outline-primary btn-sm float-end me-2"
                                            type="button"
                                            @click.stop.prevent="expandedCases[case_loc.id] = !expandedCases[case_loc.id]"
                                            title="See the full description"
                                        >
                                            <i :class="['fa-solid', expandedCases[case_loc.id] ? 'fa-chevron-up' : 'fa-chevron-down']"></i>
                                        </button>

                                        <!-- Show either truncated or full text -->
                                        <pre class="description" v-html="md.render(expandedCases[case_loc.id] ? case_loc.description : truncateText(case_loc.description))"></pre>
                                    </div>
                                </template>
                                <template v-else>
                                    <pre v-html="md.render(case_loc.description)" class="description"></pre>
                                </template>
                            </template>
                            <template v-else>
                                <p class="card-text"><i style="font-size: 12px;">No description</i></p>
                            </template>

                            <small v-if="status_info">
                                <span :class="'badge rounded-pill text-bg-'+status_info.status[case_loc.status_id -1].bootstrap_style">
                                    [[ status_info.status[case_loc.status_id -1].name ]]
                                </span>
                            </small>
                        </div>
                        <div class="d-flex w-100">
                            <small><i>[[case_loc.open_tasks]] open/ [[case_loc.closed_tasks]] closed</i></small>
                        </div>
                        <div class="d-flex w-100" v-if="case_loc.custom_tags" style="margin-top: 5px;">
                            <template v-for="custom_tag in case_loc.custom_tags">
                                <div class="tag" :style="{'background-color': custom_tag.color, 'color': getTextColor(custom_tag.color)}">
                                    <i v-if="custom_tag.icon" :class="custom_tag.icon"></i>
                                    [[custom_tag.name]]
                                </div>
                            </template>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <div v-if="case_loc.tags">
                                <template v-for="tag in case_loc.tags">
                                    <div class="tag" :title="tag.description" :style="{'background-color': tag.color, 'color': getTextColor(tag.color)}">
                                        <i class="fa-solid fa-tag" style="margin-right: 3px; margin-left: 3px;"></i>
                                        [[tag.name]]
                                    </div>
                                </template>
                            </div>
                            <div v-else></div>
                            <small v-if="case_loc.deadline" :title="case_loc.deadline">
                                <i>Deadline [[dayjs.utc(case_loc.deadline).endOf().fromNow()]]</i>
                            </small>
                            <small v-else><i>No deadline</i></small>
                        </div>
                        <div class="d-flex w-100" v-if="case_loc.clusters">
                            <template v-for="cluster in case_loc.clusters">
                                <div :title="'Description:\n' + cluster.description + '\n\nMetadata:\n' + cluster.meta">
                                    <span class="cluster">
                                        <span v-html="mapIcon(cluster.icon)"></span>
                                    [[cluster.tag]]
                                    </span>
                                </div>
                            </template>
                        </div>
                    </a>
                    <div v-if="(!case_loc.current_user_permission.read_only && case_loc.present_in_case) || case_loc.current_user_permission.admin">
                        <div>
                            <button v-if="case_loc.completed" class="btn btn-secondary" @click="complete_case(case_loc, case_list.cases, true)" title="Revive the case">
                                <i class="fa-solid fa-backward fa-fw"></i>
                            </button>
                            <button v-else class="btn btn-success" @click="complete_case(case_loc, case_list.cases, false)" title="Complete the case">
                                <i class="fa-solid fa-check fa-fw"></i>
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-primary" :href="`/case/edit/${case_loc.id}`" type="button" title="Edit the case">
                                <i class="fa-solid fa-pen-to-square fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </template>
    <template v-else>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </template>

    <nav aria-label="Page navigation" class="nav-pagination" v-if="case_list && case_list.nb_pages > 1">
        <ul class="pagination">
            <li :class="{'page-item': true, 'disabled': current_page == 1}">
                <button class="page-link" @click="fetch_sorted_cases(Math.max(1, current_page-1))">Previous</button>
            </li>
            <li v-for="page in visiblePages"
                :class="['page-time', {active: page === current_page, disabled: page === '...' }]">
                <button class="page-link" v-if="page !== '...'" @click="fetch_sorted_cases(page)">[[ page ]]</button>
                <span class="page-link" v-else>...</span>
            </li>
            <li :class="{'page-item': true, 'disabled': current_page == case_list.nb_pages}">
                <button class="page-link" @click="fetch_sorted_cases(Math.min(current_page+1, case_list.nb_pages))">Next</button>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block script %}
    <script type="module">
        const { createApp, ref, onMounted, computed} = Vue
        import {display_toast, message_list} from '/static/js/toaster.js'
        import {truncateText, getTextColor, mapIcon} from '/static/js/utils.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            setup() {
                const case_list = ref([])
                const status_info = ref(null)
                const current_page = ref(1)
                const current_filter = ref("last_modif")

                let asc_desc = true
                let temp_case_list = []
                let or_and_taxo = true
                let or_and_galaxies = true

                const is_open_cases = ref(true)

                const taxonomies = ref([])
                const tags_list = ref([])
                const selected_taxo = ref([])
                const selected_tags = ref([])

                const galaxies = ref([])
                const cluster_list = ref([])
                const selected_galaxies = ref([])
                const selected_clusters = ref([])

                const custom_tags = ref([])
                const selected_custom_tags = ref([])
                const md = window.markdownit()

                const expandedCases = ref({})

                async function change_status_sort(status){
                    is_open_cases.value = status
                    await fetch_sorted_cases(1)
                }
                function change_switch_check(change=false, changeOperator=false, changeOperatorGalaxies=false){
                    if (change) asc_desc = !asc_desc
                    if (changeOperator) or_and_taxo = !or_and_taxo
                    if (changeOperatorGalaxies) or_and_galaxies = !or_and_galaxies

                    fetch_sorted_cases(1)
                }

                async function fetch_sorted_cases(page){
                    let loc_page = `page=${page}`
                    let loc_filter = `&filter=${current_filter.value}`
                    let loc_status = `&status=${!is_open_cases.value}`
                    let loc_or_and_taxo = `&or_and_taxo=${or_and_taxo}`
                    let loc_or_and_galaxies = `&or_and_galaxies=${or_and_galaxies}`

                    let tags = ""
                    let taxo = ""
                    let galax = ""
                    let clusters = ""
                    let custom_tg = ""
                    if(selected_tags.value.length) tags = "&tags=" + JSON.stringify(selected_tags.value)
                    if(selected_taxo.value.length) taxo = "&taxonomies=" + JSON.stringify(selected_taxo.value)
                    if(selected_galaxies.value.length) galax = "&galaxies=" + JSON.stringify(selected_galaxies.value)
                    if(selected_clusters.value.length) clusters = "&clusters=" + JSON.stringify(selected_clusters.value)
                    if(selected_custom_tags.value.length) custom_tg = "&custom_tags=" + JSON.stringify(selected_custom_tags.value)

                    let url = `/case/sort_cases?${loc_page}${loc_filter}${loc_status}${loc_or_and_taxo}${loc_or_and_galaxies}${tags}${taxo}${galax}${clusters}${custom_tg}`

                    const res = await fetch(url)
                    let loc = await res.json()
                    case_list.value.nb_pages = loc.nb_pages
                    current_page.value = page

                    if(!asc_desc){
                        case_list.value.cases = loc.cases.reverse()
                    }else{
                        case_list.value.cases = loc.cases
                    }
                    
                    temp_case_list = case_list.value.cases
                }
                fetch_sorted_cases(1)


                async function fetchStatus() {
                    status_info.value = null
                    const res = await fetch(
                        '/case/get_status'
                    )
                    status_info.value = await res.json()
                }
                fetchStatus()

                async function complete_case(case_loc, cases_list, is_revived){
                    const action = is_revived ? 'revive' : 'complete';
                    if (!confirm(`Are you sure you want to ${action} this case?`)) {
                        return;
                    }
                    let url
                    if (is_revived)
                        url = '/case/' + case_loc.id + '/complete_case?revived=true'
                    else
                        url = '/case/' + case_loc.id + '/complete_case?revived=false'
                    const res = await fetch(url)
                    if(await res.status == 200){
                        case_loc.last_modif = Date.now()
                        case_loc.completed = !case_loc.completed

                        if(status_info.value.status[case_loc.status_id -1].name == 'Finished'){
                            for(let i in status_info.value.status){
                                if(status_info.value.status[i].name == 'Created')
                                case_loc.status_id = status_info.value.status[i].id
                            }
                            if(case_loc.status_id == status)
                                case_loc.status_id = 1

                        }else{
                            for(let i in status_info.value.status){
                                if(status_info.value.status[i].name == 'Finished'){
                                    case_loc.status_id = status_info.value.status[i].id
                                    break
                                }
                            }
                        }

                        let index = cases_list.indexOf(case_loc)
                        if(index > -1)
                            cases_list.splice(index, 1)
                    }

                    display_toast(res)
                }


                function sort_by_filter(filter){
                    current_filter.value = filter
                    fetch_sorted_cases(1)
                }


                function onInput(e){
                    case_list.value.cases = []
                    if(e.target.value){
                        case_list.value.cases = temp_case_list.filter((cases) => {
                            return cases.title.toLowerCase().includes(e.target.value.toLowerCase())
                        })
                    }else{
                        case_list.value.cases = fetch_sorted_cases(1)
                    }
                }

                async function fetch_taxonomies(){
                    const res = await fetch("/case/get_taxonomies")
                    if(await res.status==400 ){
                        display_toast(res)
                    }else{
                        let loc = await res.json()
                        taxonomies.value = loc["taxonomies"]
                    }
                }
                fetch_taxonomies()

                async function fetch_galaxies(){
                    const res = await fetch("/case/get_galaxies")
                    if(await res.status==400 ){
                        display_toast(res)
                    }else{
                        let loc = await res.json()
                        galaxies.value = loc["galaxies"]
                    }
                }
                fetch_galaxies()

                async function fetch_tags(){
                    const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(selected_taxo.value))
                    if(await res.status==400 ){
                        display_toast(res)
                    }else{
                        let loc = await res.json()
                        tags_list.value = loc["tags"]
                        $('#tags_select').trigger('change');
                    }
                }
                async function fetch_cluster(){
                    const res = await fetch("/case/get_clusters?galaxies=" + JSON.stringify(selected_galaxies.value))
                    if(await res.status==400 ){
                        display_toast(res)
                    }else{
                        let loc = await res.json()
                        cluster_list.value = loc["clusters"]
                        $('#clusters_select').trigger('change');
                    }
                }

                async function fetch_custom_tags(){
                    const res = await fetch("/custom_tags/list")
                    if(await res.status==400 ){
                        display_toast(res)
                    }else{
                        let loc = await res.json()
                        custom_tags.value = loc
                    }                    
                }
                fetch_custom_tags()

                const visiblePages = computed(() => {
                    const pages = []
                    const total = case_list.value.nb_pages
                    const current = current_page.value
                    if (total <= 7) {
                        for (let i = 1; i <= total; i++) pages.push(i)
                    } else {
                        if (current <= 4) {
                            pages.push(1, 2, 3, 4, 5, '...', total-1, total)
                        } else if (current >= total - 3) {
                            console.log("Over total-3");
                            pages.push(1, '...', total - 4, total - 3, total - 2, total - 1, total)
                        } else {
                            pages.push(1, '...', current - 2, current - 1, current, current + 1, current + 2, '...', total)
                        }
                    }
                    return pages
                })

                onMounted(() => {
                    $('.select2-select').select2({
                        theme: 'bootstrap-5',
                        width: '50%',
                        closeOnSelect: false
                    })

                    $('#taxonomies_select').on('change.select2', function (e) {
                        selected_taxo.value = $(this).select2('data').map(item => item.id);
                        fetch_tags()
                    })
                    $('#tags_select').on('change.select2', function (e) {
                        selected_tags.value = $(this).select2('data').map(item => item.id);
                        fetch_sorted_cases(1)
                    })
                    $('#galaxies_select').on('change.select2', function (e) {
                        selected_galaxies.value = $(this).select2('data').map(item => item.id);
                        fetch_cluster()
                    })
                    $('#clusters_select').on('change.select2', function (e) {
                        selected_clusters.value = $(this).select2('data').map(item => item.id);
                        fetch_sorted_cases(1)
                    })
                    $('#custom_tags_select').on('change.select2', function (e) {
                        selected_custom_tags.value = $(this).select2('data').map(item => item.id);
                        fetch_sorted_cases(1)
                    })
                })

                return {
                    message_list,
                    dayjs,
                    getTextColor,
                    mapIcon,

                    is_open_cases,
                    current_filter,

                    md,
                    case_list,
                    status_info,
                    taxonomies,
                    tags_list,
                    galaxies,
                    cluster_list,
                    custom_tags,
                    current_page,
                    expandedCases,
                    visiblePages,

                    complete_case,
                    sort_by_filter,
                    onInput,
                    change_status_sort,
                    change_switch_check,
                    fetch_sorted_cases,
                    truncateText
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}