<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div id="container">
        <div>
            <h1 style="display: inline-block; font-size: xxx-large;">{{case.id}} - {{case.title}}</h1>
            <span><i style="font-size: 12px;">{{case.uuid}}</i></span>
            <small v-if="status_info" style="margin-left: 10px;">
                <span :class="'badge rounded-pill text-bg-'+status_info.status[{{case.status_id}} -1].bootstrap_style">[[ status_info.status[ {{case.status_id}} -1].name ]]</span>
            </small>

            <div v-if="cases_info && !cases_info.permission.read_only && cases_info.present_in_case" style="float:right">
                <button class="btn btn-success btn-sm"  @click="complete_case(cases_info.case)"><i class="fa-solid fa-check"></i></button>
                <a class="btn btn-primary btn-sm" :href="`/case/edit/${cases_info.case.id}`" type="button"><i class="fa-solid fa-pen-to-square"></i></a>
                <button class="btn btn-danger btn-sm"  @click="delete_case(cases_info.case.id)"><i class="fa-solid fa-trash"></i></button>
            </div>

            
            <div>
                <br/>
                Creation: {{case.creation_date}}
                <br/>
                Last Modif: {{case.last_modif}}
                {% if case.dead_line %}
                    <br/>
                    Dead Line: {{case.dead_line}}
                {%endif%}

                <div id="assign" style="float: right;" v-if="cases_info">
                    <div class="dropdown" id="dropdown_user_case">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Orgs</button>
                        <ul class="dropdown-menu">
                            <template v-if="!cases_info.permission.read_only && cases_info.present_in_case">
                                <li>
                                    <a class="btn btn-primary" :href="`/case/view/${cases_info.case.id}/add_orgs`" role="button">Add Orgs</a>
                                </li>
                            </template>
                            <template v-for="org in cases_info.orgs_in_case">
                                <li>
                                    <div style="display: flex;">
                                        <button class="dropdown-item">[[org.name]]</button>
                                        <template v-if="org.id != cases_info.case.owner_org_id">
                                            <button class="btn btn-danger" @click="remove_org_case(cases_info, org)" v-if="!cases_info.permission.read_only && cases_info.present_in_case">Delete</button>
                                        </template>
                                    </div>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        {% if case.description %}
        <div>
            <hr>
            <p style="display: inline-block;">{{case.description}}</p>
        </div>
        {%endif%}
        
        <hr style="margin-bottom: 40px;">

        <div style="display: flex;">
            <h3>Tasks</h3>
            {% if not current_user.read_only() and present_in_case %}
                <span style="padding-left: 10px;">
                    <a class="btn btn-primary btn-small" href="/case/{{id}}/add_task"><i class="fa-solid fa-plus"></i></a>
                </span>
            {%endif%}
        </div>

        <task_filter :cases_info="cases_info" @tasks_list="(tasks) => cases_info.tasks = tasks"></task_filter>

        <hr>



        <template v-if="cases_info && cases_info.tasks && status_info" >
            <template v-for="task in cases_info.tasks" :key="task.id">
                <div class="list-group" style="margin-bottom: 20px;">
                    <case_tasks :cases_info="cases_info" :status_info="status_info" :edit_mode="edit_mode" :task="task" @edit_mode="(msg) => edit_mode = msg"></case_tasks>
                </div>
            </template>
        </template>
    </div>
{% endblock %}




{% block script %}
    <script type="module">
        const { createApp, ref, computed, onMounted } = Vue
        import case_tasks from '../../static/js/case/case_tasks.js'
        import task_filter from '../../static/js/case/task_filter.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            components: {
                case_tasks,
                task_filter
            },
            setup() {
                const edit_mode = ref(false)
                const cases_info = ref(null)
                const status_info = ref(null)


                async function fetchCase() {
                    cases_info.value = null
                    const res = await fetch(
                        'get_case_info/'+window.location.pathname.split("/").slice(-1)
                    )
                    cases_info.value = await res.json()
                }

                async function fetchStatus() {
                    status_info.value = null
                    const res = await fetch(
                        '/case/get_status'
                    )
                    status_info.value = await res.json()
                }


                async function delete_case(case_id){
                    await fetch(
                        '/case/delete',{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"case_id": case_id.toString()})
                        }
                    )
                    return window.location.href="/case"
                }

                function complete_case(case_loc){
                    case_loc.completed = true
                    fetch('/case/complete_case/'+case_loc.id) 
                }

                function change_status(status, task){
                    task.last_modif = Date.now()
                    task.status_id=status
                    fetch(
                        '/case/change_status/'+task.id,{
                            headers: { "X-CSRFToken": $("#csrf_token").val(), "Content-Type": "application/json" },
                            method: "POST",
                            body: JSON.stringify({"status": status})
                        }
                    )
                        
                    if(status_info.value.status[status-1].name == 'Finished'){
                        task.last_modif = Date.now()
                        task.completed = true
                        fetch('/case/complete_task/'+task.id)
                    }else{
                        task.completed = false
                    }
                }

                function remove_org_case(cases_info, org){
                    fetch('/case/' + cases_info.case.id + '/remove_org/' + org.id)

                    let index = cases_info.orgs_in_case.indexOf(org)
                    if(index > -1)
                        cases_info.orgs_in_case.splice(index, 1)
                }
                

                fetchCase()
                fetchStatus()

    
                return {
                    cases_info,
                    status_info,
                    edit_mode,
                    moment,
                    delete_case,
                    change_status,
                    remove_org_case,
                    complete_case
                }
            }
        }).mount('#container')

    </script>
{% endblock %}