<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <h2>
        Create case 
        <button class="btn btn-outline-primary mt-1 mx-3" @click="hide_case_creation()" style="float: right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTemplate" aria-expanded="false" aria-controls="collapseTemplate">
            From template
        </button> 
    </h2>
    <hr>
           
    <div class="collapse mb-4" id="collapseTemplate">
        <div class="mb-3 w-50">
            <p>Create from Template:</p>
            <select data-placeholder="Templates" class="select2-select-template form-control" name="template_select" id="template_select">
                {% for choice in form.template_select.choices %}
                    <option value="{{choice[0]}}">{{choice[1]}}</option>
                {% endfor %}
            </select>
            {% if form.template_select.errors %}
                <div style="color: red;">{{form.template_select.errors[0] | safe}}</div>
            {%endif%}
        </div>
        <div class="mb-3 w-50">
            {{form.title_template.label(class_="col-form-label")}}:
            {{form.title_template(class_="form-control")}}
            {% if form.title_template.errors %}
                <div style="color: red;">{{form.title_template.errors[0] | safe}}</div>
            {%endif%}
        </div>
    </div>
    
    
    <div id="create_case">
        <div class="row">
            <div class="mb-3 w-50">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                <label for="description" class="col-form-label">Description:</label>
                {{form.description(class_="form-control")}}
                {% if form.description.errors %}
                    <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                {%endif%}
            </div>
        </div>
        <div class="row">
            <div class="mb-3 w-50">
                {{form.deadline_date.label(class_="col-form-label")}}:
                {{form.deadline_date(class_="form-control")}}
                {% if form.deadline_date.errors %}
                    <div style="color: red;">{{form.deadline_date.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                {{form.deadline_time.label(class_="col-form-label")}}:
                {{form.deadline_time(class_="form-control")}}
                {% if form.deadline_time.errors %}
                    <div style="color: red;">{{form.deadline_time.errors[0] | safe}}</div>
                {%endif%}
            </div>
        </div>
        <div class="row">
            <div class="mb-3 w-50">
                {{form.time_required.label(class_="col-form-label")}}:
                {{form.time_required(class_="form-control")}}
                {% if form.time_required.errors %}
                    <div style="color: red;">{{form.time_required.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                {{form.is_private.label(class_="col-form-label")}}:
                {{form.is_private()}}
                {% if form.is_private.errors %}
                    <div style="color: red;">{{form.is_private.errors[0] | safe}}</div>
                {%endif%}
            </div>
        </div>
        <hr>
        <div class="accordion mt-4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCustom" aria-expanded="false" aria-controls="collapseCustom">
                        Custom Tags <i class="fa fa-question" title="Add custom tags to the case" style="margin-left: 5px;"></i>
                    </button>
                </h2>
                <div id="collapseCustom" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div v-if="custom_tags" class="col-6">
                            <select data-placeholder="Custom Tags" class="select2-select form-control" multiple name="custom_select" id="custom_select" >
                                <template v-for="c_t, key in custom_tags">
                                    <option :value="[[c_t.name]]">[[c_t.name]]</option>
                                </template>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion mt-4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Taxonomies <i class="fa fa-question" title="Add taxonomies to the case" style="margin-left: 5px;"></i>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row">
                            <div v-if="taxonomies" class="col-4">
                                <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                                    <template v-for="taxonomy, key in taxonomies">
                                        <option :value="[[taxonomy.name]]">[[taxonomy.name]]</option>
                                    </template>
                                </select>
                            </div>
                            
                            <div v-if="tags_list" class="col-4">
                                <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                                    <template v-for="(tags, taxo) in tags_list">
                                        <optgroup :label="[[taxo]]">
                                            <option :value="[[tag.name]]" :title="tag.description" v-for="tag in tags">[[tag.name]]</option>
                                        </optgroup>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion mt-4">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Galaxies <i class="fa fa-question" title="Add galaxies to the case" style="margin-left: 5px;"></i>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row">
                            <div v-if="galaxies" class="col-4">
                                <select data-placeholder="Galaxies" class="select2-select form-control" multiple name="galaxies_select" id="galaxies_select" >
                                    <template v-for="galaxy, key in galaxies">
                                        <option :value="[[galaxy.name]]">[[galaxy.name]]</option>
                                    </template>
                                </select>
                            </div>
                            
                            <div v-if="cluster_list" class="col-4">
                                <select data-placeholder="Cluster" class="select2-select form-control" multiple name="clusters_select" id="clusters_select" >
                                    <template v-for="(clusters, galaxy) in cluster_list">
                                        <optgroup :label="[[galaxy]]">
                                            <option :value="[[cluster.name]]" :title="cluster.description" v-for="cluster in clusters">[[cluster.tag]]</option>
                                        </optgroup>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <div class="mb-3 w-50">
            <div>Add tasks from templates:</div>
            <select data-placeholder="Templates" multiple class="select2-select form-control" name="tasks_templates" id="tasks_templates">
                {% for choice in form.tasks_templates.choices %}
                    <option value="{{choice[0]}}">{{choice[1]}}</option>
                {% endfor %}
            </select>
            {% if form.tasks_templates.errors %}
                <div style="color: red;">{{form.tasks_templates.errors[0] | safe}}</div>
            {%endif%}
        </div>
    </div>
    <div>
        {{form.submit(class='btn btn-primary')}}
    </div>
</form>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, onMounted, ref} = Vue
    import {message_list} from '/static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const taxonomies = ref([])
            const tags_list = ref([])
            const selected_taxo = ref([])

            const galaxies = ref([])
            const cluster_list = ref([])
            const selected_galaxies = ref([])
            
            const custom_tags = ref([])


            let to_hide = true
            function hide_case_creation(){
                if(to_hide)
                    $("#create_case").hide()
                else
                    $("#create_case").show()
                to_hide = !to_hide
            }

            async function fetch_taxonomies(){
                const res = await fetch("/case/get_taxonomies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    taxonomies.value = loc["taxonomies"]
                }
            }

            async function fetch_galaxies(){
                const res = await fetch("/case/get_galaxies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    galaxies.value = loc["galaxies"]
                }
            }

            async function fetch_custom_tags(){
                const res = await fetch("/custom_tags/list")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    custom_tags.value = loc
                }
            }
            

            async function fetch_tags(){
                tags_list.value = []
                const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(selected_taxo.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_list.value = loc["tags"]
                    $('#tags_select').trigger('change');
                }
            }

            async function fetch_cluster(){
                cluster_list.value = []
                const res = await fetch("/case/get_clusters?galaxies=" + JSON.stringify(selected_galaxies.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    cluster_list.value = loc["clusters"]
                    $('#clusters_select').trigger('change');
                }
            }
            

            onMounted(() => {
                fetch_taxonomies()
                fetch_galaxies()
                fetch_custom_tags()

                $('.select2-select').select2({
                    theme: 'bootstrap-5',
                    closeOnSelect: false
                })
                $('.select2-select-template').select2({
                    theme: 'bootstrap-5'
                })

                $('#taxonomies_select').on('change.select2', function (e) {
                    selected_taxo.value = $(this).select2('data').map(item => item.id);
                    fetch_tags()
                })
                $('#galaxies_select').on('change.select2', function (e) {
                    selected_galaxies.value = $(this).select2('data').map(item => item.id);
                    fetch_cluster()
                })
            })

            return {
                selected_taxo,
                message_list,
                taxonomies,
                galaxies,
                tags_list,
                cluster_list,
                custom_tags,
                hide_case_creation
            }
        }
    }).mount('#main-container')

</script>
{% endblock %}