<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="modal-body">
        <button class="btn btn-primary" @click="hide_task_creation()" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTemplate" aria-expanded="false" aria-controls="collapseTemplate">
            Create from template
        </button>        
        <div class="collapse" id="collapseTemplate">
            <div class="card card-body">
                <div class="mb-3">
                    <p>Select from Template:</p>
                    <select data-placeholder="Templates" class="select2-select form-control" name="template_select" id="template_select">
                        {% for choice in form.template_select.choices %}
                            <option value="{{choice[0]}}">{{choice[1]}}</option>
                        {% endfor %}
                    </select>
                    {% if form.template_select.errors %}
                        <div style="color: red;">{{form.template_select.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
        </div>
        
        <hr>
        <div id="create_task">
            <div class="mb-3 w-50">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                {{form.description(class_="form-control")}}
                {% if form.description.errors %}
                    <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3 w-50">
                {{form.url.label(class_="col-form-label")}}:
                {{form.url(class_="form-control")}}
                {% if form.url.errors %}
                    <div style="color: red;">{{form.url.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="row">
                <div class="mb-3 w-25">
                    {{form.deadline_date.label(class_="col-form-label")}}:
                    {{form.deadline_date(class_="form-control")}}
                    {% if form.deadline_date.errors %}
                        <div style="color: red;">{{form.deadline_date.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-25">
                    {{form.deadline_time.label(class_="col-form-label")}}:
                    {{form.deadline_time(class_="form-control")}}
                    {% if form.deadline_time.errors %}
                        <div style="color: red;">{{form.deadline_time.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <hr>

            <div>Taxonomies:</div>
            <div style="display: flex;">
                <template v-if="taxonomies">
                    <select data-placeholder="Taxonomies" class="select2-select form-control" multiple name="taxonomies_select" id="taxonomies_select" >
                        <template v-for="taxonomy, key in taxonomies">
                            <option :value="[[taxonomy.name]]">[[taxonomy.name]]</option>
                        </template>
                    </select>
                </template>
                
                <template v-if="tags_list">
                    <select data-placeholder="Tags" class="select2-select form-control" multiple name="tags_select" id="tags_select" >
                        <template v-for="(tags, taxo) in tags_list">
                            <optgroup :label="[[taxo]]">
                                <option :value="[[tag.name]]" v-for="tag in tags">[[tag.name]]</option>
                            </optgroup>
                        </template>
                    </select>
                </template>
            </div>
        </div>
        <div class="modal-footer">
            {{form.submit(class='btn btn-primary')}}
        </div>
    </div>
</form>
{% endblock %}


{% block script %}
<script type="module">
    const { createApp, onMounted, ref} = Vue
    import {message_list} from '../../static/js/toaster.js'
    createApp({
        delimiters: ['[[', ']]'],
        setup() {
            const taxonomies = ref([])
            const tags_list = ref([])
            const selected_taxo = ref([])

            let to_hide = true
            function hide_task_creation(){
                if(to_hide)
                    $("#create_task").hide()
                else
                    $("#create_task").show()
                to_hide = !to_hide
            }

            async function fetch_taxonomies(){
                const res = await fetch("/case/get_taxonomies")
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    taxonomies.value = loc["taxonomies"]
                }
            }

            async function fetch_tags(){
                const res = await fetch("/case/get_tags?taxonomies=" + JSON.stringify(selected_taxo.value))
                if(await res.status==400 ){
                    display_toast(res)
                }else{
                    let loc = await res.json()
                    tags_list.value = loc["tags"]
                    $('#tags_select').trigger('change');
                }
            }
            fetch_taxonomies()

            onMounted(() => {
                $('.select2-select').select2({
                    theme: 'bootstrap-5',
                    width: '50%',
                    closeOnSelect: false
                })

                $('#taxonomies_select').on('change.select2', function (e) {
                    selected_taxo.value = $(this).select2('data').map(item => item.id);
                    fetch_tags()
                })
            })

            return {
                selected_taxo,
                message_list,
                taxonomies,
                tags_list,
                hide_task_creation
            }
        }
    }).mount('.container')

</script>
{% endblock %}