<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}

    <h2 class="ui dividing header">Create a task</h2>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="modal-body">
            <div class="mb-3">
                {{form.title.label(class_="col-form-label")}}:
                {{form.title(class_="form-control")}}
                {% if form.title.errors %}
                    <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3">
                <label for="description" class="col-form-label">Description:</label>
                {{form.description(class_="form-control")}}
                {% if form.description.errors %}
                    <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="mb-3">
                {{form.url.label(class_="col-form-label")}}:
                {{form.url(class_="form-control")}}
                {% if form.url.errors %}
                    <div style="color: red;">{{form.url.errors[0] | safe}}</div>
                {%endif%}
            </div>
            <div class="row">
                <div class="col">
                    {{form.deadline_date.label(class_="col-form-label")}}:
                    {{form.deadline_date(class_="form-control")}}
                        {% if form.deadline_date.errors %}
                        <div style="color: red;">{{form.deadline_date.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="col">
                    {{form.deadline_time.label(class_="col-form-label")}}:
                    {{form.deadline_time(class_="form-control")}}
                    {% if form.deadline_time.errors %}
                        <div style="color: red;">{{form.deadline_time.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 10px;">
                {{form.submit(class='btn btn-primary')}}
            </div>
        </div>
    </form>
{% endblock %}