<!-- 
    Author: David Cruciani
-->
{% extends 'base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <h2 class="ui dividing header case-core-style" style="border-radius: 0;">Edit Case</h2>

    <hr class="fading-line-2 mb-4 mt-4">

    <form action="" method="post" id="form">
        {{ form.hidden_tag() }}
        <div class="case-core-style">
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.title.label(class_="col-form-label")}}:
                    {{form.title(class_="form-control")}}
                    {% if form.title.errors %}
                        <div style="color: red;">{{form.title.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    <label for="description" class="col-form-label">Description:</label>
                    {{form.description(class_="form-control")}}
                    {% if form.description.errors %}
                        <div style="color: red;">{{form.description.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{form.deadline_date.label(class_="col-form-label")}}:
                    {{form.deadline_date(class_="form-control")}}
                    {% if form.deadline_date.errors %}
                        <div style="color: red;">{{form.deadline_date.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="col">
                    {{form.deadline_time.label(class_="col-form-label")}}:
                    {{form.deadline_time(class_="form-control")}}
                    {% if form.deadline_time.errors %}
                        <div style="color: red;">{{form.deadline_time.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.time_required.label(class_="col-form-label")}}:
                    {{form.time_required(class_="form-control")}}
                    {% if form.time_required.errors %}
                        <div style="color: red;">{{form.time_required.errors[0] | safe}}</div>
                    {%endif%}
                </div>
                <div class="mb-3 w-50">
                    {{form.ticket_id.label(class_="col-form-label")}}:
                    {{form.ticket_id(class_="form-control")}}
                    {% if form.ticket_id.errors %}
                        <div style="color: red;">{{form.ticket_id.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div class="row">
                <div class="mb-3 w-50">
                    {{form.is_private.label(class_="col-form-label")}}:
                    {{form.is_private()}}
                    {% if form.is_private.errors %}
                        <div style="color: red;">{{form.is_private.errors[0] | safe}}</div>
                    {%endif%}
                </div>
            </div>
            <div style="margin-top: 10px;">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
