<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}

<div class="case-core-style d-flex" style="margin-bottom: 10px; border-radius: 0;">
    <h1>My Assignment to Tasks</h1>
    <div style="margin-top: 7px; margin-left: 10px;">
        <my_assignment_filter :tasks_list="tasks_list" @tasks_list="(tasks) => emit_result(tasks)" @current_filter="filter => current_filter = filter">
        </my_assignment_filter>
    </div>
</div>
<hr class="fading-line-2 mb-4 mt-4">

<!-- pagination -->
<nav aria-label="Page navigation example" v-if="tasks_list && tasks_list.nb_pages > 1">
    <ul class="pagination">
        <li :class="{'page-item': true, 'disabled': current_page == 1}">
            <button class="page-link" @click="fetchAssignedTask(Math.max(1, current_page-1))">Previous</button>
        </li>
        <template v-for="cp in tasks_list.nb_pages">
            <li :class="{'page-item': true, 'active': current_page==cp}">
                <button class="page-link" @click="fetchAssignedTask(cp)">[[cp]]</button>
            </li>
        </template>
        <li :class="{'page-item': true, 'disabled': current_page == tasks_list.nb_pages}">
            <button class="page-link" @click="fetchAssignedTask(Math.min(current_page+1, tasks_list.nb_pages))">Next</button>
        </li>
    </ul>
</nav>
<!-- pagination -->

<template v-if="tasks_list">
    <template v-for="(case_title, index) in tasks_list.tasks">
        <div class="case-core-style mb-4">
            <h4 style="text-align: center;"><b><i>[[index]]</i></b></h4>
            <template v-for="task in case_title">
                <div class="list-group" style="margin-bottom: 20px; border-radius: 15px;">                      
                    <a :href="`/case/${task.case_id}#task-${task.id}`" class="list-group-item list-group-item-action p-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">[[task.title]]</h5>
                            <small><i>Changed [[ dayjs.utc(task.last_modif).fromNow() ]] </i></small>
                        </div>

                        <div class="d-flex w-100 justify-content-between">
                            <p v-if="task.description" class="card-text">[[ task.description ]]</p>
                            <p v-else class="card-text"><i style="font-size: 12px;">No description</i></p>

                            <small v-if="status_info">
                                <span :class="'badge rounded-pill text-bg-'+status_info.status[task.status_id -1].bootstrap_style">
                                    [[ status_info.status[task.status_id -1].name ]]
                                </span>
                            </small>
                        </div>
                        <div class="d-flex w-100 justify-content-between" style="margin-bottom: 7px;">
                            <div style="display: flex;" v-if="task.tags">
                                <template v-for="tag in task.tags">
                                    <div class="tag" :style="{'background-color': tag.color, 'color': getTextColor(tag.color)}">
                                        <i class="fa-solid fa-tag" style="margin-right: 3px; margin-left: 3px;"></i>
                                        [[tag.name]]
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <div v-if="task.users.length">
                                <template v-for="user in task.users">
                                    <span v-if="user.nickname" class="btn btn-primary btn-sm person" :title="user.first_name+' ' +user.last_name">
                                        <i class="fa-solid fa-user"></i> [[user.nickname]]
                                    </span>
                                    <span v-else class="btn btn-primary btn-sm person" :title="user.first_name+' ' +user.last_name">
                                        <i class="fa-solid fa-user"></i> [[user.last_name]]
                                    </span>
                                </template>
                            </div>

                            <div v-else>
                                <i>No user assigned</i>
                            </div>
                            <small v-if="task.deadline" :title="task.deadline"><i>Deadline [[dayjs.utc(task.deadline).endOf().fromNow()]]</i></small>
                            <small v-else><i>No deadline</i></small>
                        </div>
                        <div class="d-flex w-100 justify-content-between" style="margin-top: 5px;">
                            <div style="display: flex;" v-if="task.clusters">
                                <template v-for="cluster in task.clusters">
                                    <div :title="'Description:\n' + cluster.description + '\n\nMetadata:\n' + cluster.meta">
                                        <span v-html="mapIcon(cluster.icon)"></span>
                                        [[cluster.tag]]
                                    </div>
                                </template>
                            </div>
                        </div>

                        <div class="mt-2 card card-body" v-if="task.subtasks.length && task.nb_open_subtasks > 0" 
                        style="filter:drop-shadow(1px 1px 2px rgba(181, 181, 181, 0.5))">
                            <div style="margin-bottom: 3px"><b><u>Subtasks: </u></b></div>
                            <template v-for="subtask in task.subtasks">
                                <div v-if="!subtask.completed" style="display: flex;">
                                    <div class="subtask-tree"></div>
                                    [[subtask.description]]
                                </div>
                            </template>
                        </div>
                    </a>
                </div>
            </template>
        </div>
    </template>
</template>
<template v-else>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</template>

<nav aria-label="Page navigation example" v-if="tasks_list && tasks_list.nb_pages > 1">
    <ul class="pagination">
        <li :class="{'page-item': true, 'disabled': current_page == 1}">
            <button class="page-link" @click="fetchAssignedTask(Math.max(1, current_page-1))">Previous</button>
        </li>
        <template v-for="cp in tasks_list.nb_pages">
            <li :class="{'page-item': true, 'active': current_page==cp}">
                <button class="page-link" @click="fetchAssignedTask(cp)">[[cp]]</button>
            </li>
        </template>
        <li :class="{'page-item': true, 'disabled': current_page == tasks_list.nb_pages}">
            <button class="page-link" @click="fetchAssignedTask(Math.min(current_page+1, tasks_list.nb_pages))">Next</button>
        </li>
    </ul>
</nav>
{% endblock %}

{% block script %}
    <script type="module">
        const { createApp, ref } = Vue
        import my_assignment_filter from '/static/js/my_assignment/my_assignment_filter.js'
        import {display_toast, message_list} from '/static/js/toaster.js'
        import {truncateText, getTextColor, mapIcon} from '/static/js/utils.js'
        
        createApp({
            delimiters: ['[[', ']]'],
            components: {
                my_assignment_filter
            },
            setup() {
                const tasks_list = ref(null)
                const status_info = ref(null)
                const current_page = ref(1)
                const current_filter = ref("")

                async function fetchAssignedTask(page) {
                    let url
                    if(current_filter.value)
                        url = `/my_assignment/sort_tasks?status=true&page=${page}&filter=${current_filter.value}`
                    else
                        url = '/my_assignment/sort_tasks?status=true&page='+page

                    current_page.value = page
                    tasks_list.value = null
                    const res = await fetch(url)
                    let loc = await res.json()
                    tasks_list.value = loc
                }

                async function fetchStatus() {
                    status_info.value = null
                    const res = await fetch(
                        '/case/get_status'
                    )
                    status_info.value = await res.json()
                }

                function emit_result(tasks){
                    tasks_list.value.nb_pages = tasks.nb_pages
                    tasks_list.value.tasks = tasks.tasks
                    current_page.value = 1
                }
                

                fetchAssignedTask(1)
                fetchStatus()

                return {
                    tasks_list,
                    status_info,
                    dayjs,
                    fetchAssignedTask,
                    current_page,
                    emit_result,
                    current_filter,
                    message_list, // Avoid warning
                    getTextColor,
                    truncateText,
                    mapIcon
                }
            }
        }).mount('#main-container')

    </script>
{% endblock %}