<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Flowintel-cm</title>
        <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='bootstrap-5.3.0/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
        <script src="{{ url_for('static',filename='js/select2.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/vue.global.js') }}"></script>
        <script src="{{ url_for('static',filename='js/moment.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/daypilot-all.min.js') }}"></script>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/select2.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap-5.3.0/css/bootstrap.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fontawesome-6.3.0/css/fontawesome.css') }}"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fontawesome-6.3.0/css/solid.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/jquery-ui.css') }}">

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/core.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidebar.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/daypilot.css') }}">
    </head>

    <body>
        {% include 'sidebar.html' %}

        <!--Main layout-->
        <main style="margin-top: 50px;">
            <div class="container pt-4">
                {% include 'macros/_flashes.html' %}

                {# When extended, the content block contains all the html of the webpage #}
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <!--Main layout-->

        {# Implement CSRF protection for site #}
        {% if csrf_token()|safe %}
            <div style="visibility: hidden; display: none">
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        {% endif %}

        {% block script %}
        {% endblock %}

        <script type="module">
            const { createApp, ref } = Vue
            
            createApp({
                delimiters: ['[[', ']]'],
                setup() {
                    const case_list = ref(null)
                    const result_search = ref([])

                    async function fetchCase() {
                        case_list.value = null
                        const res = await fetch(
                            '/case/case/get_cases'
                        )
                        case_list.value = await res.json()
                    }

                    function onInput(e){
                        result_search.value = []
                        if(e.target.value){
                            for(let i in case_list.value.cases){
                                if(case_list.value.cases[i].title.toLowerCase().includes(e.target.value)){
                                    result_search.value.push(case_list.value.cases[i])
                                }
                            }
                        }
                    }

                    fetchCase()

                    return {
                        onInput,
                        result_search
                    }
                }
            }).mount('.navbar')
        </script>
    </body>
</html>