<!-- 
    Author: David Cruciani
-->

{% extends 'base.html' %}

{% block content %}
    <div>
        <header>
        </header>
        <h1>Flowintel-cm</h1>
    </div>

    <hr>
    <br/>
    <br/>
    <div class="card card-body">
        <div class="d-flex w-100 justify-content-evenly">
            <div>
                <div><h3><u><a href="/case">My Cases</a></u></h3></div>
                <div>
                    <h6>Open: {{cases_open_len}}</h6>
                </div>
                <div>
                    <h6>Closed: {{cases_closed_len}}</h6>
                </div>
            </div>
            <div>
                <div><h3><u><a href="/my_assignment">My Tasks</a></u></h3></div>
                <div>
                    <h6>Open: {{tasks_open_len}}</h6>
                </div>
                <div>
                    <h6>Closed: {{tasks_closed_len}}</h6>
                </div>
            </div>
        </div>
    </div>
    <br/>

    {% if current_user.is_admin() %}
    <div class="card card-body">
        <div class="d-flex w-100 justify-content-evenly">
            <div>
                <div><h3><u> All Cases</u></h3></div>
                <div>
                    <h6>Open: {{all_cases_open}}</h6>
                </div>
                <div>
                    <h6>Closed: {{all_cases_closed}}</h6>
                </div>
            </div>
            <div>
                <div><h3><u>All Tasks</u></h3></div>
                <div>
                    <h6>Open: {{all_tasks_open}}</h6>
                </div>
                <div>
                    <h6>Closed: {{all_tasks_closed}}</h6>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
