<!-- 
    Author: David Cruciani
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Typo-Squatting</title>
    
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/sidebar.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap-5.3.0/css/bootstrap.min.css') }}">
        <script src="{{ url_for('static',filename='bootstrap-5.3.0/js/bootstrap.min.js') }}"></script>

        <link rel= "stylesheet" href= "{{ url_for('static',filename='font-awesome/css/font-awesome.min.css') }}"> 
    </head>

    <body>
        <div id="main">
            {% include 'sidebar.html' %}
            
            <div id="container" style="background-color: #d9dedf;">
                <div id="top"></div>
                <div>
                    <header>
                        <a href='/'><img id="logo" src="{{ url_for('static',filename='image/ts-medium.png') }}"></a>
                        <!-- <p>About page</p> -->
                    </header>
                </div>

                <br/><br/>
                <hr>
                <div>
                    <fieldset class="border p-2" id="fieldset-algo">
                        <legend  class="float-none w-auto p-2">About</legend>
                        <div id="fieldset-content">
                            <p>
                            <a href="https://en.wikipedia.org/wiki/Typosquatting">Typosquatting</a> is a commonly used method by attackers to have domain names (and urls) which sounds or looks like an original domain. This kind of attacks can be used to trick users to access incorrect websites by mistake or providing looks alike domain names. 
                            <br/>CIRCL provides a free and public service to find typosquatted domains in order to quickly assess if there are any existing fake domains used by an adversary. The results might include false-positive which are legitimate domain names with similar names.
    Software
                            </p>    
                        </div>
                    </fieldset>
                </div>
                <br/><br/>
                <hr>
                <div>
                    <fieldset class="border p-2" id="fieldset-algo">
                        <legend  class="float-none w-auto p-2">Software</legend>
                        <div id="fieldset-content">
                            <p>
                            The back-end software is available as an <a href="https://github.com/ail-project/ail-typo-website">open source project</a>. <a href="https://github.com/ail-project/ail-typo-squatting">The typosquatting library is also developed</a> for this project but it can also be used independently of the web interface.
                            </p>
                        </div>
                    </fieldset>
                </div>
                <br/><br/>
                <hr>
                <div>
                    <fieldset class="border p-2" id="fieldset-algo">
                        <legend  class="float-none w-auto p-2">Funding</legend>
                        <div id="fieldset-content">
                            <p>This project is co-funded by Joint Threat Analysis Network - JTAN and CIRCL.<br/>
                            The Action will establish a Joint Threat Analysis Network, an open collaboration group of European computer security incident response teams (CSIRTs) with the focus on collecting, sharing and analysis of technical, operational and strategic threat intelligence. The purpose of this collaboration is to combine unique advantages of different teams to obtain comprehensive situational awareness and actionable information to effectively defend constituencies in each Member State, from critical infrastructure operators targeted by state-sponsored actors to individual citizens affected by cybercrime. The main part of the Action addresses gaps in the Cyber Threat Intelligence (CTI) tooling that is currently used by the national level CSIRTs in Europe. By strengthening individual tools and interconnecting them, the beneficiaries will achieve a new level of common situational awareness and they will benefit from shared knowledge and tooling.
                            </p>
                        </div>
                    </fieldset>
                    <br/><br/>
                    <hr>

                    <br/><br/><br/><br/>
                </div>
                
                <span id="goTop">[<a href="#top">Go Back Top</a>]</span>
            </div>
        </div>
    </body>

	<script src="{{ url_for('static',filename='js/core.js') }}"></script>
</html>
