<!--Main Navigation-->
<header>
  	<!-- Sidebar -->
  	<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
		<div class="position-sticky">
			<div class="list-group list-group-flush mx-3 mt-4">
				<a href="/" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
					<i class="fa-solid fa-house fa-fw me-3"></i><span>Home</span>
				</a>
				<a href="/case" class="list-group-item list-group-item-action py-2 ripple">
					<i class="fa-solid fa-note-sticky fa-fw me-3"></i><span>Cases</span>
				</a>
				<a href="/my_assignment" class="list-group-item list-group-item-action py-2 ripple">
					<i class="fa-solid fa-list-check fa-fw me-3"></i><span>Task assigned</span>
				</a>
				<a href="/calendar" class="list-group-item list-group-item-action py-2 ripple">
					<i class="fa-solid fa-calendar fa-fw me-3"></i><span>Calendar</span>
				</a>
				<button class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" data-bs-target="#tools-collapse" aria-expanded="true">
					<i class="fa-solid fa-toolbox fa-fw me-3"></i><span>Tools</span>
				</button>
				<div class="collapse" id="tools-collapse">
					<button class="list-group-item list-group-item-action py-2 ripple" data-bs-toggle="collapse" data-bs-target="#template-collapse" aria-expanded="true">
						<i class="fa-solid fa-bookmark fa-fw me-2"></i><span>Templates</span>
					</button>
					<div class="collapse" id="template-collapse">
						<a href="/tools/template/cases" class="list-group-item list-group-item-action py-2 ripple" style="display: table-cell;">Case</a>
						<a href="/tools/template/tasks" class="list-group-item list-group-item-action py-2 ripple" style="display: table-cell;">Task</a>
					</div>
					<a href="/tools/importer_view" class="list-group-item list-group-item-action py-2 ripple">
						<i class="fa-solid fa-file-import fa-fw me-2"></i><span>Importer</span>
					</a>
				</div>
				<a href="/admin/orgs" class="list-group-item list-group-item-action py-2 ripple">
					<i class="fa-solid fa-users fa-fw me-3"></i><span>Orgs</span>
				</a>
				<a href="/admin/users" class="list-group-item list-group-item-action py-2 ripple">
					<i class="fa-solid fa-user fa-fw me-3"></i><span>Users</span>
				</a>
				<a href="/admin/taxonomies" class="list-group-item list-group-item-action py-2 ripple">
					<i class="fa-solid fa-tag fa-fw me-3"></i><span>Taxonomies</span>
				</a>
			</div>
		</div>
  	</nav>
  <!-- Sidebar -->


	<!-- Navbar -->
	<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    	<!-- Container wrapper -->
    	<div class="container-fluid">
      		<!-- Toggle button -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
				aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Brand -->
			<a class="navbar-brand" href="/">
				<img src="{{ url_for('static',filename='image/flowintel-cm.png') }}" height="55" alt="flowintel Logo"
				loading="lazy" />
			</a>
			<!-- Search form -->
			<div id="search-form">
				<div class="d-none d-md-flex input-group w-auto my-auto justify-content-center" id="search-form">
					<input autocomplete="off" @input="onInput" type="search" class="form-control rounded" placeholder='Search case by title' style="min-width: 350px;" />
				</div>
				<div v-if="result_search && result_search.length" class="search-result justify-content-center" >
					<div v-for="case_search in result_search" style="margin-bottom: 2px;">
						<i class="fa-solid fa-circle fa-2xs"></i>
						<a v-if="case_search.description" :href="'/case/'+case_search.id" :title="case_search.description">[[case_search.title]]</a>
						<a v-else :href="'/case/'+case_search.id" title="No description">[[case_search.title]]</a>
					</div>
				</div>
			</div>

			<!-- Right links -->
			<ul class="navbar-nav ms-auto d-flex flex-row">
				<!-- Notification dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link me-3 me-lg-0" href="/notification">
						<i class="fas fa-bell"></i>
						<template v-if="notif_list && notif_list> 0">
							<span v-if="notif_list < 100" class="position-absolute translate-middle badge rounded-pill bg-danger">[[notif_list]]</span>
							<span v-else class="position-absolute translate-middle badge rounded-pill bg-danger">99+</span>
						</template>
					</a>
				</li>

				<!-- Avatar -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
						id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{current_user.first_name}} {{current_user.last_name}}
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="/account">My profile</a>
						</li>
						{% if current_user.is_authenticated %}
							<li>
								<a class="dropdown-item" href="/account/logout">Logout</a>
							</li>
						{% endif %}
					</ul>
       			</li>
      		</ul>
    	</div>
    <!-- Container wrapper -->
 	 </nav>
  	<!-- Navbar -->
</header>
<!--Main Navigation-->

<script type="module">
	const { createApp, ref, computed, onMounted } = Vue
	import {display_toast, message_list} from '/static/js/toaster.js'

	createApp({
		delimiters: ['[[', ']]'],
		setup() {
			const result_search = ref([])
			const notif_list = ref(null)


			async function onInput(e){
				result_search.value = []
				if(e.target.value){
					const res = await fetch('/case/search?text='+e.target.value)
					if (await res.status == 200){
						let loc = await res.json()
						result_search.value = loc["cases"]
					}
					else{
						display_toast(res)
					}
				}
			}

			async function fetchNotif() {
				notif_list.value = null
				const res = await fetch('/notification/get_user_notifications_len')
				let loc = await res.json()
				notif_list.value = loc["notif"]
			}

			fetchNotif()

			// hide search result when click out 
			$(document).mouseup(function(e) {
				var container = $(".search-result");

				// if the target of the click isn't the container nor a descendant of the container
				if (!container.is(e.target) && container.has(e.target).length === 0) 
				{
					container.hide();
				}
			});

			return {
				onInput,
				result_search,
				notif_list,
				message_list
			}
		}
	}).mount('.navbar')
</script>
